<nav>
  <div class="nav-wrapper main_nav">
    
    <ul class="left">
      <li><a href="/board/seepost/1"><i class="material-icons">undo</i></a></li>
    </ul>
  </div>
</nav>
<div class="row">
  <div class="col s12 m8 offset-m2 l8 offset-l2">
    <div class="card">
      <div class="card-content">
        <span class="card-title"><%=@p.title%></span>
        <div class="divider"></div>
        <p>
        <div class="section">
          <%=@p.content%>
          <br><br>
          Date: <%=@p.created_at.in_time_zone("Asia/Seoul").strftime("%m/%d  %H:%M")%> &nbsp
          Ip: <%if @p.ip!=nil%><%=@p.ip%><%end%>
        </div>
        <%if @p.name=='admin'%>
          <div class="divider"></div>
          <h6 style="color:#002D56;"><%=@p.level%></h6>
        <%end%>
        <%if admin_signed_in?||session[:num]=="0"&&session[:name]=="admin"&&session[:level]=="인문관영양사"%>
          <br><button class="del btn btn-warning" id="<%=@p.id%>">삭제</button>
          <button class="block btn btn-warning" id="b<%=@p.id%>">차단</button>
          <button class="ipblock btn btn-warning" id="ip<%=@p.id%>">ip차단</button>
        <%end%></p>
      </div>
    </div>
    
    <% @allcom.each do |a|%>
      <div class="card">
        <div class="card-panel">
          <span>
            <%=a.content%>
            <br><br>
            Date: <%=a.created_at.in_time_zone("Asia/Seoul").strftime("%m/%d  %H:%M")%> &nbsp
            Ip: <%if a.ip!=nil%><%=a.ip%><%end%>  
            <%if a.name=='admin'%>
              <div class="divider"></div>
              <h6 style="color:#002D56;"><%=a.level%></h6>
            <%end%>
            <%if admin_signed_in?||session[:num]=="0"&&session[:name]=="admin"&&session[:level]=="인문관영양사"%>
              <br>
              <button class="cdel btn btn-warning" id="<%=a.id%>">삭제</button>
              <button class="cblock btn btn-warning" id="cb<%=a.id%>">차단</button>
              <button class="ipblock btn btn-warning" id="ip<%=a.id%>">ip차단</button>
            <%end%>
          </span>
        </div>
      </div>
    <%end%>
    
    <div class="card">
      <div class="card-content">
        <span class="card-title">Reply</span>
        <div class="divider"></div>
        <p>
          <form method="post" action="/board/comment/<%=@p.id%>">
            <%if session[:level]!=nil%>
              <input name="name"value="<%=session[:name]%>" type="hidden">
      		    <input name="level"value="<%=session[:level]%>" type="hidden">
      		    <input name="num"value="<%=session[:num]%>" type="hidden">
      		  <%end%>
      		  <div class="input-field">
      				<textarea id="ex2" name="content" class="materialize-textarea"></textarea>
      				<label for="ex2">content</label>
      			</div>
      			<button class="btn btn-class">Send</button>
          </form>
        </p>
      </div>
    </div>
      
  </div>
</div>
<script>
$('#ex2').trigger('autoresize');
  <%if session[:level]!=nil%>
    $(".del").click(function(){
      var thisid=$(this).attr("id");
      if (confirm("정말 삭제하시겠습니까?")==true){
          window.location.href="/board/remove/"+thisid;
      }
      else{
          return;
      }
    });
    $(".cdel").click(function(){
        var thisid=$(this).attr("id");
        if (confirm("정말 삭제하시겠습니까?")==true){
            window.location.href="/board/cremove/"+thisid;
        }
        else{
            return;
        }
    });
    $(".block").click(function(){
        var thisid=$(this).attr("id").substring(1);
        if (confirm("정말 차단하시겠습니까?")==true){
            window.location.href="/board/block/post/"+thisid;
        }
        else{
            return;
        }
    });
    $(".cblock").click(function(){
        var thisid=$(this).attr("id").substring(2);
        if (confirm("정말 차단하시겠습니까?")==true){
            window.location.href="/board/block/comment/"+thisid;
        }
        else{
            return;
        }
    });
    $(".ipblock").click(function(){
        var thisid=$(this).attr("id").substring(2);
        if (confirm("정말 차단하시겠습니까?")==true){
            window.location.href="/board/block/ip/post"+thisid;
        }
        else{
            return;
        }
    });
    $(".ipcblock").click(function(){
        var thisid=$(this).attr("id").substring(2);
        if (confirm("정말 차단하시겠습니까?")==true){
            window.location.href="/board/block/ip/comment"+thisid;
        }
        else{
            return;
        }
    });
  <%end%>
</script>