<%content_for :menu do%>
  <li><%=link_to "식당추가",new_data_rest_path%></li>
  <li><a href="/data/rests.csv">DB 다운로드</a></li>
  <li><a class="modal-trigger" href="#modal">DB 업로드</a></li>
<%end%>
<br/>
<div class="table-responsive">
  <table class="table">
    <tr>
      <th>순번</th>
      <th>위도</th>
      <th>경도</th>
      <th>식당이름</th>
      <th>식당종류</th>
      <th>수정</th>
      <th>삭제</th>
      <th>메뉴추가</th>
    </tr>
    <%num=1%>
    <% @rest.each do|r|%>
      <tr>
        <td><%=num%></td><%num=num+1%>
        <td><%=r.map.lat%></td>
        <td><%=r.map.lon%></td>
        <td><%=r.name%></td>
        <td><%=r.food%></td>
        <td><%=link_to "수정",edit_data_rest_path(r),{class: :btn, data: {confirm: '정말 수정 하시겠습니까?'}}%></td>
        <td><%=link_to "삭제",data_rest_path(r),{class: :btn,method: :delete ,data: {confirm: '정말 삭제 하시겠습니까?'}}%></td>
        <td><%=link_to "추가",data_rest_path(r),{class: :btn,method: :get}%></td>
      </tr>
    <%end%>
  </table>
</div>
<ul class="pagination center-align">
  <%@num.times do|n|%>
      <%if @page==n+1%>
        <li class="active"><%=link_to n+1,data_rests_path(:page => n+1)%></li>
      <%else%>
        <li><%=link_to n+1,data_rests_path(:page => n+1)%></li>
      <%end%>
  <%end%>
</ul>
<div id="modal" class="modal">
  <div class="modal-content">
    <%=form_tag({action: :create},multipart: true) do%>
      <div class="file-field input-field">
        <div class="btn">
          <span>CSV File</span>
          <%=file_field_tag :upfile, type: :file%>
        </div>
        <div class="file-path-wrapper">
          <%=text_field_tag :path,"",class: "file-path validate",type: :text%>
        </div>
      </div>
      <%=submit_tag '업로드',class: :btn%>
    <%end%>
  </div>
</div>
<script>
  $(".modal-trigger").modal();
  $(".button-collapse").sideNav();
</script>