<%content_for :menu do%>
  <li><%=link_to "식당추가",new_data_rest_path%></li>
  <li><a href="/oadpage/excel">엑셀관리</a></li>
<%end%>
<br/>
<div class="table-responsive">
  <table class="table">
    <tr>
      <th>순번</th>
      <th>위도</th>
      <th>경도</th>
      <th>식당이름</th>
      <th>식당종류</th>
      <th>수정</th>
      <th>삭제</th>
      <th>메뉴추가</th>
    </tr>
    <%num=1%>
    <% @rest.each do|r|%>
      <tr>
        <td><%=num%></td><%num=num+1%>
        <td><%=r.map.lat%></td>
        <td><%=r.map.lon%></td>
        <td><%=r.name%></td>
        <td><%=r.food%></td>
        <td><%=link_to "수정",edit_data_rest_path(@rest),{class: :btn, data: {confirm: '정말 수정 하시겠습니까?'}}%></td>
        <td><%=link_to "삭제",data_rest_path(@rest),{class: :btn,method: :delete ,data: {confirm: '정말 삭제 하시겠습니까?'}}%></td>
        <td><%=link_to "추가",data_rest_path(@rest),{class: :btn,method: :get}%></td>
      </tr>
    <%end%>
  </table>
</div>
<ul class="pagination center-align">
  <%@num.times do|n|%>
      <%if @page==n+1%>
        <li class="active"><%=link_to n+1,data_rests_path(:page => n+1)%></li>
      <%else%>
        <li><%=link_to n+1,data_rests_path(:page => n+1)%></li>
      <%end%>
  <%end%>
</ul>
<script>
  $(".button-collapse").sideNav();
</script>