<%content_for :menu do%>
  <li><%=link_to "돌아가기", data_rests_path%></li>
<%end%>
<div class = "container">
  
  <h3>식당추가</h3>
  <div class="option">
    <div>
      <form onsubmit="searchPlaces(); return false;">
        키워드 : <input type="text" value="외대"id="keyword" size="15"> 
        <button type="submit">검색하기</button> 
      </form>
    </div>
  </div>
  <div style="width:100%; height:300px; overflow-y:scroll;"id="menu_wrap" class="bg_white">
    <hr>
    <ul id="placesList"></ul>
    <div id="pagination"></div>
  </div>
  <%=form_for @rest,:url => data_rests_path  do |f|%>
    <div class="input-field">
      <%=label :map,:lat%>
      <%=text_field :map,:lat%>
    </div>
    
    <div class="input-field">
      <%=label :map,:lon%>
      <%=text_field :map,:lon%>
    </div>
    
    <div class = "input-field">
      <%=f.label :address%>
      <%=f.text_field :address%>
    </div>
    
    <div class = "input-field">
      <%=f.label :phone%>
      <%=f.text_field :phone%>
    </div>
    
    <div class = "input-field">
      <%=f.label :name%>
      <%=f.text_field :name%>
    </div>
    
    <div class = "input-field">
      <%=f.select :food, options_for_select(@restCategory, 1)%>
      <%=f.label :식당종류%>
    </div>
    
    <div class="input-field">
      <%=f.label :오픈시간%>
      <%=f.text_field :open%>
    </div>
    <div class="input-field">
      <%=f.label :picture%>
      <%=f.text_field :picture%>
    </div>
    <%=f.submit "저장",class: :btn%>
  <%end%>
</div>
<script src="https://spi.maps.daum.net/imap/map_js_init/postcode.v2.js"></script>
<script src="//apis.daum.net/maps/maps3.js?apikey=23598cdf36f0c5f5bf1f1bfda70b8e80&libraries=services"></script>
<script>
  $(".button-collapse").sideNav();
  $('select').material_select();
  var ps = new daum.maps.services.Places();
  searchPlaces();
  
  function searchPlaces() {
    var keyword = document.getElementById('keyword').value;
    if (!keyword.replace(/^\s+|\s+$/g, '')) {
        alert('키워드를 입력해주세요!');
        return false;
    }
    ps.keywordSearch( keyword, placesSearchCB); 
  }

  function placesSearchCB(status, data, pagination) {
    if (status === daum.maps.services.Status.OK) {
      displayPlaces(data.places);
      displayPagination(pagination);
    } else if (status === daum.maps.services.Status.ZERO_RESULT) {
      alert('검색 결과가 존재하지 않습니다.');
      return;
    } else if (status === daum.maps.services.Status.ERROR) {
      alert('검색 결과 중 오류가 발생했습니다.');
      return;
    }
  }
        // 검색 결과 목록과 마커를 표출하는 함수입니다
  function displayPlaces(places) {
    var listEl = document.getElementById('placesList'), 
    menuEl = document.getElementById('menu_wrap'),
    fragment = document.createDocumentFragment(),
    listStr = '';
    removeAllChildNods(listEl);
    for ( var i=0; i<places.length; i++ ) {
      var placePosition = new daum.maps.LatLng(places[i].latitude, places[i].longitude),
        itemEl = getListItem(i, places[i]);
      (function(places) {
        itemEl.onclick =  function () {
          document.getElementById("map_lat").value=places.latitude;
          document.getElementById("map_lon").value=places.longitude;
          document.getElementById("rest_address").value=places.newAddress;
          document.getElementById("rest_phone").value=places.phone;
        };
      })(places[i]);
      fragment.appendChild(itemEl);
    }
    listEl.appendChild(fragment);
    menuEl.scrollTop = 0;
  }
    
  function getListItem(index, places) {
    var el = document.createElement('li'),
    itemStr ='<div class="info"><h5>'+places.title+'</h5>';
    if (places.newAddress) {
      itemStr += '<span>'+places.newAddress+'</span>'+
                  '<span class="jibun gray">'+places.address+'</span>';
    }
    else {
      itemStr += '<span>'+places.address+'</span>';
    }
    itemStr += '<span class="tel">'+places.phone+'</span></div>';
    el.innerHTML = itemStr;
    el.className = 'item';
    return el;
  }
    
    function displayPagination(pagination) {
        var paginationEl = document.getElementById('pagination'),
            fragment = document.createDocumentFragment(),
            i; 
    
        // 기존에 추가된 페이지번호를 삭제합니다
        while (paginationEl.hasChildNodes()) {
            paginationEl.removeChild (paginationEl.lastChild);
        }
    
        for (i=1; i<=pagination.last; i++) {
            var el = document.createElement('a');
            el.href = "#";
            el.innerHTML = i;
    
            if (i===pagination.current) {
                el.className = 'on';
            } else {
                el.onclick = (function(i) {
                    return function() {
                        pagination.gotoPage(i);
                    }
                })(i);
            }
    
            fragment.appendChild(el);
        }
        paginationEl.appendChild(fragment);
    }

  function removeAllChildNods(el) {   
    while (el.hasChildNodes()) {
      el.removeChild (el.lastChild);
    }
  }
</script>