<%content_for :menu do%>
  <li><%=link_to "돌아가기",data_rests_path%></li>
<%end%>
<div class="container">
  <h2><%=@rest.name%></h2>
  <%=link_to "전체 번역 업데이트", data_rmenu_path(@rest, all: "true"),{class: :btn, method: :patch}%>
  <%=form_for @rmenu, url: data_rmenus_path do |f|%>
    <div class="input-field">
      <%=f.label "메뉴이름"%>
      <%=f.text_field :menuname%>
    </div>
    <div class="input-field">
      <%=f.label "설명"%>
      <%=f.text_field :content%>
    </div>
    <div class="input-field">
      <%=f.label "페이지"%>
      <%=f.text_field :pagenum%>
    </div>
    <div class="input-field">
      <%=f.label "가격"%>
      <%=f.text_field :cost%>
    </div>
    <div class="input-field">
      <%=f.label "사진"%>
      <%=f.text_field :picture%>
    </div>
    <%=f.text_field :rest_id,value: @rest.id,type: :hidden%>
    <%=f.submit "저장",class: :btn,id: :mrebut%>
  <%end%>
  
  <button style="display:none" id="mrecan" class="btn">수정취소</button>
  
  <%=form_for @rest, url: data_rest_path do |f|%>
    <div class="form-group">
      <%=f.label "페이지 구성"%>
      <%=f.text_field :page%>
    </div>
    <%=f.submit "변경",class: :btn%>
  <%end%>
  
  <div class="table-responsive">
    <table class="table">
      <tr>
        <th>한글</th>
        <th>가격</th>
        <th>페이지</th>
        <th>번역보기</th>
        <th>수정</th>
        <th>삭제</th>
      </tr>
      <%@rest.rmenu.order('created_at ASC').each do |r|%>
        <%@menulist=Menulist.find_by(kname: r.menuname)%>
        <tr>
          <td id="name<%=r.id%>"><%=r.menuname%></td>
          <td id="cost<%=r.id%>"><%=r.cost%></td>
          <td id="pagenum<%=r.id%>"><%if r.pagenum==0%>대표메뉴<%else%><%=r.pagenum%><%end%></td>
          <td><%if @menulist!=nil%><%=link_to "번역보기",edit_data_menulist_path(id: @menulist,page: @rest.id*-1),class: :btn%><%end%></td>
          <td><button class="mre btn" id="<%=r.id%>">수정</button></td>
          <td><%=link_to "삭제",data_rmenu_path(r),{method: :delete,class: :btn,data: {confirm: "정말 삭제하시겠습니까?"}}%></td>
        </tr>
        <tr <%if r.content==""%>style="display:none"<%end%>>
          <td id="content<%=r.id%>" colspan=6><%=r.content%></td>
        </tr>
        <tr>
          <td id="picture<%=r.id%>" colspan=6><%=r.picture%></td>
        </tr>
      <%end%>
    </table>
  </div>
</div>
<script>
  $(".button-collapse").sideNav();
  $(".mre").click(function(){
    $(".mre").hide();
    $("#mrebut").val("수정하기");
    $("#mrecan").show();
    var thisid=$(this).attr("id");
    var name=$("#name"+thisid).html();
    $("#rmenu_menuname").val(name);
    
    var content=$("#content"+thisid).html();
    $("#rmenu_content").val(content);
    var pagenum=$("#pagenum"+thisid).html();
    if (pagenum=="대표메뉴"){
        $("#rmenu_pagenum").val(0);
    }
    else{
        $("#rmenu_pagenum").val(pagenum);
    }
    var cost=$("#cost"+thisid).html();
    $("#rmenu_cost").val(cost);
    var picture=$("#picture"+thisid).html();
    $("#rmenu_picture").val(picture);
    $("#new_rmenu").attr("action","/data/rmenus/"+thisid).append('<input type="hidden" id="pat" name="_method" value="patch" />');
  });
  $("#mrecan").click(function(){
    $(this).hide();
    $("#mrebut").val("저장");
    $("#rmenu_menuname").val("");
    $("#rmenu_content").val("");
    $("#rmenu_pagenum").val(1);
    $("#rmenu_cost").val("");
    $("#rmenu_picture").val("");
    $("#new_rmenu").attr("action","/data/rmenus");
    $("#pat").remove();
    $(".mre").show();
  })
</script>