<%content_for :title do%>
<a class="brand-logo center"><span class="pink-text text-lighten-3">Q</span> <span class="yellow-text text-lighten-3">&</span> <span class="blue-text text-lighten-3">A</span></a>
<%end%>
<%content_for :left do%>
<li><a href="/"><i class="material-icons">undo</i></a></li>
<%end%>
<%content_for :search_form do%>
<div class="nav-wrapper nav_form">
  <form>
    <div class="input-field">
      <input id="search" type="search" name="keyword"required>
      <label for="search"><i class="material-icons black-text">search</i></label>
      <i class="material-icons closer black-text">close</i>
    </div>
  </form>
</div>
<%end%>
<div class="row">
  <div class="col s12 m8 offset-m2 l8 offset-l2">
    <div class="table-responsive card" >
      <div class="card-content">
      <table class="table">
        <thead>
          <tr>
            <th>Number</th>
            <th>Title</th>
            <th class="hide-on-small-only">Date</th>
          </tr>
        </thead>
        <%row=@allpost.length+20*(@page-1)%>
        <% @allpost.each do|d|%>
          <tr>
            <td><%=row%></td><%row=row-1%>
            <td><%=link_to d.title+'('+d.comments.length.to_s+')',post_path(d)%></td>
            <td class="hide-on-small-only"><%=d.created_at.in_time_zone("Asia/Seoul").strftime("%m/%d  %H:%M")%></td>
          </tr>
        <%end%>
      </table>
      </div>
    </div>
    <ul class="pagination center-align">
      <%@num.times do|n|%>
        <%if @page==n+1%>
          <li class="active"><%=link_to n+1,posts_path(:page => n+1)%></li>
        <%else%>
          <li><%=link_to n+1,posts_path(:page => n+1)%></li>
        <%end%>
      <%end%>
    </ul>
    <div class="fixed-action-btn click-to-toggle" style="bottom: 14px; right: 14px; opacity: 0.8;">
      <a class="btn-floating btn-large red" href="/posts/new">
        <i class="material-icons">mode_edit</i>
      </a>
    </div>
    
    
    <div class="fixed-action-btn click-to-toggle" style="bottom: 80px; right: 14px; opacity: 0.8;">
      <%if admin_signed_in?%>
        <a class="btn-floating btn-large white" href="/out">
          <i class="material-icons black-text">lock</i>
        </a>
      <%else%>
        <a class="btn-floating btn-large white" href="/admins/sign_in">
          <i class="material-icons black-text">supervisor_account</i>
        </a>
      <%end%>
      
    </div>
  </div>
</div>
<script>
  $(".opener").click(function(){
  $(".main_nav").hide();
  $(".nav_form").fadeIn();
    document.getElementById("search").focus();
  })
  $(".closer").click(function(){
    $(".nav_form").hide();
    $(".main_nav").fadeIn();
  })
</script>