<%content_for :left do%>
<li><a href="/posts"><i class="material-icons">undo</i></a></li>
<%end%>
<%content_for :title do%>
<a class="brand-logo center">WRITE POST</a>
<%end%>
<div class="row">
  <br/>
  <div class="col s12 m8 offset-m2 l8 offset-l2">
    <%=form_for(@post) do |f|%>
      <div class="text_field">
        <%=f.label :title%>
        <%=f.text_field :title,class: "form-control"%>
      </div>
      <div class="text_field">
        <%=f.label :content%>
        <%=f.text_area :content,class: "materialize-textarea"%>
      </div>
      <%=f.submit :send,class: :btn%>
    <%end%>
  </div>
</div>
<script>
  $('#ex2').trigger('autoresize');
</script>