<ul id="dropdown1" class="dropdown-content">
  <li><a href="/">메인으로</a></li>
  <li><a href="/home/index">이문동주변 식당</a></li>
  <li class="divider"></li>
  <li><a href="/oadpage/dbmain">이문동식당 관리</a></li>
  <li><a href="/oadpage/show/1">큐레이션 관리</a></li>
</ul>

<nav>
  <div class="nav-wrapper main_nav">
    <ul id="slide-out" class="side-nav ">
      <li><a href="/adpage/out">로그아웃</a></li>
      
      <li class="no-padding">
        <ul class="collapsible collapsible-accordion">
          <li>
            <a class="collapsible-header">페이지 이동<i class="material-icons">arrow_drop_down</i></a>
            <div class="collapsible-body">
              <ul>
                  <li><a href="/">메인으로</a></li>
                  <li><a href="/home/index">이문동주변 식당</a></li>
                  <li class="divider"></li>
                  <li><a href="/oadpage/dbmain">이문동식당 관리</a></li>
                  <li><a href="/oadpage/show/1">큐레이션 관리</a></li>
              </ul>
            </div>
          </li>
        </ul>
      </li>
      <li><a href="/adpage/newtrans/<%=@info%>">번역추가</a></li>
      <li>
        <%if @info==0%>
            <a class="waves-effect waves-light btn" href="/adpage/dbmain/1">모든메뉴보기</a>
        <%else%>
        
            <a class="waves-effect waves-light btn" href="/adpage/dbmain/0">신메뉴만보기</a>
        <%end%>
      </li>
    </ul>
    
    <ul class="left hide-on-med-and-down">
      <li><a href="/adpage/out">로그아웃</a></li>
      <li><a class="dropdown-button" href="#!" data-activates="dropdown1">페이지 이동<i class="material-icons right">arrow_drop_down</i></a></li>
      <li><a href="/adpage/newtrans/<%=@info%>">번역추가</a></li>
      <li>
        <%if @info==0%>
            <a class="waves-effect waves-light btn" href="/adpage/dbmain/1">모든메뉴보기</a>
        <%else%>
        
            <a class="waves-effect waves-light btn" href="/adpage/dbmain/0">신메뉴만보기</a>
        <%end%>
      </li>
      
    </ul>
    
    <ul class="right">
      <li><a><i class="material-icons opener">search</i></a></li>
    </ul>
    
    
     <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
  </div>
  
    <div class="nav-wrapper nav_form">
      <form action="/adpage/search/<%=@info%>" method="get">
        <div class="input-field">
          <input id="search" name="keyword" type="search" required>
          <label for="search"><i class="material-icons">search</i></label>
          <i class="material-icons closer">close</i>
        </div>
      </form>
    </div>
</nav>
     
    
<br>
<div class="table-responsive">
    <table class="table">
        <tr>
            <th>순번</th>
            <th>한글</th>
            <th>en</th>
            <!--<th>독음</th>-->
            <!--<th>일훈</th>-->
            <th>간체</th>
            <!--<th>번체</th>-->
            <!--<th>아랍어</th>-->
            <th>es</th>
            <th>de</th>
            <th>ita</th>
            <th>po</th>
            <th> </th>
            <th> </th>
        </tr>
        <%if @info!=0%>
        <%row=(@info-1)*300+1%>
        <%else%>
        <%row=1%>
        <%end%>
        <%if @list!=nil%>
            <% @list.each do|l|%>
            <tr>
                <td><%=row%></td><%row=row+1%>
                <td><%=l.kname%></td>
                <td><%=l.ename%></td>
                <!--<td><%=l.ername%></td>-->
                <!--<td><%=l.jnamea%></td>-->
                <td><%=l.cname%></td>
                <!--<td><%=l.cnameb%></td>-->
                <!--<td><%=l.aname%></td>-->
                <td><%=l.spanish%></td>
                <td><%=l.germany%></td>
                <td><%=l.italia%></td>
                <td><%=l.portugal%></td>
                <td><button class="re btn" id="<%=l.id%>">수정</button></td>
                <td><button class="del btn" id="<%=l.id%>">삭제</button></td>
            </tr>
            <%end%>
        <%end%>
    </table>
</div>
        
<%unless @info==0%>
  <ul class="pagination center-align">
    <%@num.times do|n|%>
        <%if @info==n+1%>
          <li class="active">
            <a href="/adpage/dbmain/<%=n+1%>"><%=n+1%></a>
          </li>
        <%else%>
          <li><a href="/adpage/dbmain/<%=n+1%>"><%=n+1%></a></li>
        <%end%>
    <%end%>
  </ul>
<%end%>
    

<!--</div>-->
<script src="https://spi.maps.daum.net/imap/map_js_init/postcode.v2.js"></script>
<script src="//apis.daum.net/maps/maps3.js?apikey=23598cdf36f0c5f5bf1f1bfda70b8e80&libraries=services"></script>
<script>
    
    $(".re").click(function(){
      var thisid=$(this).attr("id");
      window.location.href="/adpage/rewritemenu/"+thisid+"/<%=@info%>";
    });
    $(".del").click(function(){
      var thisid=$(this).attr("id");
      if (confirm("정말 삭제하시겠습니까?")==true){
        window.location.href="/adpage/delmenu/"+thisid;
      }
      else{
        return;
      }
    });
    $(".button-collapse").sideNav();
     $(".opener").click(function(){
    $(".main_nav").hide();
    $(".nav_form").fadeIn();
    document.getElementById("search").focus();
  })
  $(".closer").click(function(){
    $(".nav_form").hide();
    $(".main_nav").fadeIn();
  })

</script>