
<%= link_to "로그아웃", destroy_admin_session_path, method: :delete, data: { confirm: "Are you sure?" } %>
<a href="/"><h2>메인으로</h2></a><a href="/oadpage/dbmain"><h2>식당메뉴관리</h2></a><a href="/home/leftindex/0/0/0/0"><h2>테스트 중인 화면 보러가기!</h2></a>


        <div class="container">
        <h3>메뉴번역추가</h3>
        
        <div class="row">
            <form action="/adpage/menulist/<%=@info%>" method="post">
                <div class="form-group">
                  <label for="ex1">한글이름</label>
                  <input class="form-control" name="kname"id="ex1" type="text">
                </div>
                <div class="form-group">
                  <label for="ex2">영어 뜻</label>
                  <input class="form-control" name="ename"id="ex2" type="text">
                </div>
                <div class="form-group">
                  <label for="ex3">영어 독음</label>
                  <input class="form-control" name="ername"id="ex3" type="text">
                </div>
                <div class="form-group">
                  <label for="ex4">중국어</label>
                  <input class="form-control" name="cname"id="ex4" type="text">
                </div>
                <div class="form-group">
                  <label for="ex5">아랍어</label>
                  <input class="form-control" name="aname"id="ex5" type="text">
                </div>
                <button class="btn btn-default">저장</button>
                
            </form>
        </div>
        <br>
        <br>
        
        
        <form action="/excelinsert" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label for="k">엑셀 파일 업로드</label>
                <input id="k"type="file" name="ex" size="20" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet">
            </div>
            <button class="btn btn-default">저장</button>
        </form>
        
        <a href="/download">
            <button class="btn btn-default">db 엑셀로 다운로드</button>
        </a>
        

        <br>
            <%if @list.kind_of?(Array)%>
                <a href="/adpage/dbmain/1"><button class="btn btn-default">모든메뉴보기</button></a>
            <%else%>
            
                <a href="/adpage/dbmain/0"><button class="btn btn-default">신메뉴만 보기</button></a>
            <%end%>
        </div>
        <br>
    
        <br>
        <div class="table-responsive">
            <table class="table">
                <tr>
                    <th>순번</th>
                    <th>한국이름</th>
                    <th>영어</th>
                    <th>독음</th>
                    <th>중국어</th>
                    <th>아랍어</th>
                    <th> </th>
                    <th> </th>
                </tr>
                <%row=(@info-1)*300%>
                <% @list.each do|l|%>
                <tr>
                    <td><%=row%></td><%row=row+1%>
                    <td><%=l.kname%></td>
                    <td><%=l.ename%></td>
                    <td><%=l.ername%></td>
                    <td><%=l.cname%></td>
                    <td><%=l.aname%></td>
                    <td><button class="re" id="<%=l.id%>">수정</button></td>
                    <td><button class="del btn btn-warning" id="<%=l.id%>">삭제</button></td>
                </tr>
                <%end%>
            </table>
        </div>
        
        <nav style="text-align:center;">
          <ul class="pagination pagination-lg">
            <%@num.times do|n|%>
                <%if @info==n+1%>
                  <li class="page-item active">
                    <a class="page-link" href="/adpage/dbmain/<%=n+1%>"><%=n+1%><span class="sr-only">(current)</span></a>
                  </li>
                <%else%>
                  <li class="page-item"><a class="page-link" href="/adpage/dbmain/<%=n+1%>"><%=n+1%></a></li>
                <%end%>
            <%end%>
          </ul>
        </nav>
        <form id="reform" method="get">
            
        </form>
        <form id="delform" method="get">
            
        </form>
    

<!--</div>-->
<script src="https://spi.maps.daum.net/imap/map_js_init/postcode.v2.js"></script>
<script src="//apis.daum.net/maps/maps3.js?apikey=23598cdf36f0c5f5bf1f1bfda70b8e80&libraries=services"></script>
<script>
    $(".re").click(function(){
        var thisid=$(this).attr("id");
        $("#reform").attr("action","/adpage/rewritemenu/"+thisid+"/<%=@info%>");
        $("#reform").submit();
    });
    $(".del").click(function(){
        var thisid=$(this).attr("id");
        $("#delform").attr("action","/adpage/delmenu/"+thisid);
        
        if (confirm("정말 삭제하시겠습니까?")==true){
            $("#delform").submit();
        }
        else{
            return;
        }
        
    });
    

</script>