
<a href="/board/out">로그아웃</a>
<div class="row center-align">
    <div class="col s4">
        <a href="/">메인으로</a>
    </div>
    <div class="col s4">
        <a href="/oadpage/dbmain">식당메뉴관리</a>
    </div>
    <div class="col s4">
        <a href="/home/leftindex/0/0/0/0">테스트</a>
    </div>
</div>

    <button type="button" class="btn opener">
        번역 추가
    </button>
    
    <button type="button" class="btn openert">
       자료 검색
    </button>
    
    <%if @info==0%>
        <a href="/adpage/dbmain/1"><button class="btn btn-default">모든메뉴보기</button></a>
    <%else%>
    
        <a href="/adpage/dbmain/0"><button class="btn btn-default">신메뉴만 보기</button></a>
    <%end%>
    
    <div class="puter" style="display:none;">
        <h3>메뉴번역추가</h3>
        
        <div class="row">
            <form action="/adpage/menulist/<%=@info%>" method="post">
                <div class="input-field">
                  <label for="ex1">한글이름</label>
                  <input class="validate" name="kname"id="ex1" type="text">
                </div>
                <div class="input-field">
                  <label for="ex2">영어 뜻</label>
                  <input class="validate" name="ename"id="ex2" type="text">
                </div>
                <div class="input-field">
                  <label for="ex3">독음</label>
                  <input class="validate" name="ername"id="ex3" type="text">
                </div>
                <div class="input-field">
                  <label for="ex4">일본어 훈독</label>
                  <input class="validate" name="jnamea"id="ex4" type="text">
                </div>
                <div class="input-field">
                  <label for="ex5">중국어 간체</label>
                  <input class="validate" name="cname"id="ex5" type="text">
                </div>
                <div class="input-field">
                  <label for="ex6">중국어 번체</label>
                  <input class="validate" name="cnameb"id="ex6" type="text">
                </div>
                <div class="input-field">
                  <label for="ex7">아랍어</label>
                  <input class="validate" name="aname"id="ex7" type="text">
                </div>
                <button class="btn">저장</button>
                
            </form>
        </div>
        <br>
        <br>
        
        
        <form action="/excelinsert" method="post" enctype="multipart/form-data">
            <div class="file-field input-field">
                <div class="btn">
                    <span>Excel</span>
                    <input id="k"type="file" name="ex" size="20" accept="application/vnd.openxmlformats-officedocument.spreadsheetml.sheet">
                  </div>
                  <div class="file-path-wrapper">
                <input class="file-path validate" type="text">
              </div>
            </div>
            <button class="btn">저장</button>
        </form>
        
        <a href="/download">
            <button class="btn">db 엑셀로 다운로드</button>
        </a>
        </div>
        
        <div class="search" style="display:none;">
            <div class="row">
                <form action="/adpage/search/<%=@info%>" method="get">
                    <div class="input-field">
                      <label for="ex1">찾을 메뉴</label>
                      <input class="validate" name="keyword"id="ex1" type="text">
                    </div>
                    <button class="btn">검색</button>
                </form>
            </div>
        </div>
        <br>
            
        
    
        <br>
        <div class="table-responsive">
            <table class="table">
                <tr>
                    <th>순번</th>
                    <th>한글</th>
                    <th>영어</th>
                    <th>독음</th>
                    <th>일훈</th>
                    <th>간체</th>
                    <th>번체</th>
                    <th>아랍어</th>
                    <th> </th>
                    <th> </th>
                </tr>
                <%if @info!=0%>
                <%row=(@info-1)*300+1%>
                <%else%>
                <%row=1%>
                <%end%>
                <%if @list!=nil%>
                    <% @list.each do|l|%>
                    <tr>
                        <td><%=row%></td><%row=row+1%>
                        <td><%=l.kname%></td>
                        <td><%=l.ename%></td>
                        <td><%=l.ername%></td>
                        <td><%=l.jnamea%></td>
                        <td><%=l.cname%></td>
                        <td><%=l.cnameb%></td>
                        <td><%=l.aname%></td>
                        <td><button class="re btn" id="<%=l.id%>">수정</button></td>
                        <td><button class="del btn" id="<%=l.id%>">삭제</button></td>
                    </tr>
                    <%end%>
                <%end%>
            </table>
        </div>
        
        <%unless @info==0%>
          <ul class="pagination center-align">
            <%@num.times do|n|%>
                <%if @info==n+1%>
                  <li class="active">
                    <a href="/adpage/dbmain/<%=n+1%>"><%=n+1%></a>
                  </li>
                <%else%>
                  <li><a href="/adpage/dbmain/<%=n+1%>"><%=n+1%></a></li>
                <%end%>
            <%end%>
          </ul>
        <%end%>
        <form id="reform" method="get">
            
        </form>
        <form id="delform" method="get">
            
        </form>
    

<!--</div>-->
<script src="https://spi.maps.daum.net/imap/map_js_init/postcode.v2.js"></script>
<script src="//apis.daum.net/maps/maps3.js?apikey=23598cdf36f0c5f5bf1f1bfda70b8e80&libraries=services"></script>
<script>
    $( ".opener" ).click(function() {
      $( ".puter" ).slideToggle( "slow", function() {
      });
    });
    $( ".openert" ).click(function() {
      $( ".search" ).slideToggle( "slow", function() {
      });
    });
    $(".re").click(function(){
        var thisid=$(this).attr("id");
        $("#reform").attr("action","/adpage/rewritemenu/"+thisid+"/<%=@info%>");
        $("#reform").submit();
    });
    $(".del").click(function(){
        var thisid=$(this).attr("id");
        $("#delform").attr("action","/adpage/delmenu/"+thisid);
        
        if (confirm("정말 삭제하시겠습니까?")==true){
            $("#delform").submit();
        }
        else{
            return;
        }
        
    });
    

</script>