<div class="container">
    <h2>수정해 주세요</h2>
    <form action="/adpage/remenulist/<%=@re_menu.id%>/<%=@info%>" method="post">
        <div class="form-group">
            <label for="ex1">한글</label>
            <input class="form-control" name="kname"id="ex1" type="text" value="<%=@re_menu.kname%>">
        </div>
        <div class="form-group">
            <label for="ex2">영어</label>
            <input class="form-control" name="ename"id="ex2" type="text" value="<%=@re_menu.ename%>">
        </div>
        <div class="form-group">
            <label for="ex3">독음</label>
            <input class="form-control" name="ername"id="ex3" type="text" value="<%=@re_menu.ername%>">
        </div>
        <div class="form-group">
            <label for="ex4">일본어 훈독</label>
            <input class="form-control" name="jnamea"id="ex4" type="text" value="<%=@re_menu.jnamea%>">
        </div>
        <div class="form-group">
            <label for="ex5">간체</label>
            <input class="form-control" name="cname"id="ex5" type="text" value="<%=@re_menu.cname%>">
        </div>
        <div class="form-group">
            <label for="ex6">번체</label>
            <input class="form-control" name="cnameb"id="ex6" type="text" value="<%=@re_menu.cnameb%>">
        </div>
         <div class="form-group">
            <label for="ex7">아랍어</label>
            <input class="form-control" name="aname"id="ex7" type="text" value="<%=@re_menu.aname%>">
        </div>
        <div class="input-field">
          <label for="ex8">es</label>
          <input class="validate" name="spanish"id="ex8" type="text" value="<%=@re_menu.spanish%>">
        </div>
        <div class="input-field">
          <label for="ex9">de</label>
          <input class="validate" name="germany"id="ex9" type="text" value="<%=@re_menu.germany%>">
        </div>
        <div class="input-field">
          <label for="ex10">ita</label>
          <input class="validate" name="italia"id="ex10" type="text" value="<%=@re_menu.italia%>">
        </div>
        <div class="input-field">
          <label for="ex11">po</label>
          <input class="validate" name="portugal"id="ex11" type="text" value="<%=@re_menu.portugal%>">
        </div>
        <div class="input-field">
          <label for="ex12">picture name</label>
          <input class="validate" name="picture"id="ex12" type="text" value="<%=@re_menu.u_picture%>">
        </div>
        <button class="btn btn-default">수정완료</button>
    </form>
    <%if @intinfo!=nil%>
        <%if @intinfo>=0%>
        <a href="/adpage/dbmain/<%=@info%>"><button class="btn btn-default">돌아가기</button></a>
        <%else%>
        <a href="/oadpage/addmenu_page/<%=(@intinfo*-1).to_s%>"><button class="btn btn-default">돌아가기</button></a>
        <%end%>
    <%else%>
        <a href="/adpage/search/0?keyword=<%=@info%>"><button class="btn btn-default">돌아가기</button></a>
    <%end%>
        
</div>