<div class="container">
    <h2>수정해 주세요</h2>
    <form action="/adpage/remenulist/<%=@re_menu.id%>/<%=@info%>" method="post">
        <div class="form-group">
            <label for="ex1">한글</label>
            <input class="form-control" name="kname"id="ex1" type="text" value="<%=@re_menu.kname%>">
        </div>
        <div class="form-group">
            <label for="ex2">영어</label>
            <input class="form-control" name="ename"id="ex2" type="text" value="<%=@re_menu.ename%>">
        </div>
        <div class="form-group">
            <label for="ex3">독음</label>
            <input class="form-control" name="ername"id="ex3" type="text" value="<%=@re_menu.ername%>">
        </div>
        <div class="form-group">
            <label for="ex4">중국어</label>
            <input class="form-control" name="cname"id="ex4" type="text" value="<%=@re_menu.cname%>">
        </div>
         <div class="form-group">
            <label for="ex5">아랍어</label>
            <input class="form-control" name="aname"id="ex5" type="text" value="<%=@re_menu.aname%>">
        </div>
        <button class="btn btn-default">수정완료</button>
    </form>

</div>