<form action="/remenulist/<%=@re_menu.id%>/<%=@info%>" method="post">
    <input type="text" name="kname" value="<%=@re_menu.kname%>">
    <input type="text" name="ename" value="<%=@re_menu.ename%>">
    <input type="text" name="ername" value="<%=@re_menu.ername%>">
    <button>수정완료</button>
</form>