<div class="container">
    <h2><%=@rest.name%></h2>
    
        <form action="/oadpage/addmenu" method="post">
            <div class="form-group">
              <label for="ex1">메뉴이름</label>
              <input class="form-control" name="menuname"id="ex1" type="text">
            </div>
            <div class="form-group">
              <label for="ex3">설명</label>
              <textarea class="form-control" rows="3"name="content"id="ex3"></textarea>
            </div>
            <div class="form-group">
              <label for="ex4">가격</label>
              <input class="form-control" type="text"name="cost"id="ex4">
            </div>
            <input style="display:none;" name="id" value="<%=@rest.id%>">
            <button class="btn btn-primary">저장</button>
        </form>
    
    <div class="table-responsive">
        <table class="table">
            <tr>
                <th>한글</th>
                <th>독음</th>
                <th>영어</th>
                <th>중국어</th>
                <th>아랍어</th>
                <th>삭제</th>
            </tr>
            <%@rest.rmenu.each do |r|%>
            <tr>
                <td><%=r.menuname%></td>
                <td><%=Menulist.find_by(:kname => r.menuname).ername%></td>
                <td>
                    <%=Menulist.find_by(:kname => r.menuname).ename%>
                </td>
                <td><%=Menulist.find_by(:kname => r.menuname).cname%></td>
                <td><%=Menulist.find_by(:kname => r.menuname).aname%></td>
                
                <td><button class="del btn btn-default"id="<%=r.id%>">삭제</button></td>
            </tr>
            <tr>
                <%=r.content%>
            </tr>
            <%end%>
        </table>
        <form id="delform"style="display:none"method="get">
            
        </form>
    </div>
    <a type="button" href="/oadpage/dbmain"><button class="btn btn-default">돌아가기</button></a>
</div>
<script>
    $(".del").click(function(){
        var thisid=$(this).attr("id");
        $("#delform").attr("action","/oadpage/delmenu/"+thisid);
        
        if (confirm("정말 삭제하시겠습니까?")==true){
            $("#delform").submit();
        }
        else{
            return;
        }
    })
</script>