<div class="container">
    <h2><%=@rest.name%></h2>
    
        <form id="mreform"action="/oadpage/addmenu" method="post">
            <div class="form-group">
              <label for="ex1">메뉴이름</label>
              <input class="form-control" name="menuname"id="ex1" type="text">
            </div>
            <div class="form-group">
              <label for="ex2">설명</label>
              <input class="form-control" name="content"id="ex2" type="text">
            </div>
            <div class="form-group">
              <label for="ex3">페이지</label>
              <input class="form-control" name="pagenum"id="ex3" type="text" value="1">
            </div>
            <div class="form-group">
              <label for="ex4">가격</label>
              <input class="form-control" type="text"name="cost"id="ex4">
            </div>
            <input type="hidden" name="backid" value="<%=@rest.id%>">
            <button id="mrebut"class="btn">저장</button>
        </form>
        <button style="display:none"id="mrecan"class="btn btn-default">수정취소</button>
        <form action="/oadpage/page/<%=@rest.id%>" method="post">
            <div class="form-group">
              <label for="page">페이지 구성</label>
              <input class="form-control" name="page"id="page" type="text" value="<%=@rest.page%>">
            </div>
            <button class="btn">변경</button>
        </form>
    <div class="table-responsive">
        <table class="table">
            <tr>
                <th>한글</th>
                <th>가격</th>
                <th>페이지</th>
                <th>번역보기</th>
                <th>수정</th>
                <th>삭제</th>
            </tr>
            <%@rest.rmenu.order('created_at ASC').each do |r|%>
            <tr>
                <td id="name<%=r.id%>"><%=r.menuname%></td>
                <td id="cost<%=r.id%>"><%=r.cost%></td>
                <td id="pagenum<%=r.id%>"><%if r.pagenum==0%>대표메뉴<%else%><%=r.pagenum%><%end%></td>
                <td><a href="/adpage/rewritemenu/<%=Menulist.find_by(:kname =>r.menuname).id%>/-<%=@rest.id%>"><button class="btn btn-default">번역</button></a></td>
                <td><button class="mre btn btn-default" id="<%=r.id%>">수정</button></td>
                <td><button class="del btn btn-default"id="<%=r.id%>">삭제</button></td>
            </tr>
            <tr <%if r.content==""%>style="display:none"<%end%>>
                <td id="content<%=r.id%>" class="center" colspan=6><%=r.content%></td>
            </tr>
            <%end%>
        </table>
        <form id="delform"style="display:none"method="get">
            
        </form>
    </div>
    <a type="button" href="/oadpage/dbmain"><button class="btn btn-default">돌아가기</button></a>
</div>
<script>
    $(".del").click(function(){
        var thisid=$(this).attr("id");
        $("#delform").attr("action","/oadpage/delmenu/"+thisid);
        
        if (confirm("정말 삭제하시겠습니까?")==true){
            $("#delform").submit();
        }
        else{
            return;
        }
    })
    $(".mre").click(function(){
        $("#mrebut").html("수정하기");
        $("#mrecan").show();
        var thisid=$(this).attr("id");
        var name=$("#name"+thisid).html();
        $("#ex1").attr("value",name);
        
        var content=$("#content"+thisid).html();
        $("#ex2").attr("value",content);
        var pagenum=$("#pagenum"+thisid).html();
        if (pagenum=="대표메뉴"){
            $("#ex3").attr("value",0);
        }
        else{
            $("#ex3").attr("value",pagenum);
        }
        var cost=$("#cost"+thisid).html();
        $("#ex4").attr("value",cost);
        $("#mreform").attr("action","/oadpage/rewritemenu/"+thisid);
    });
    $("#mrecan").click(function(){
        $(this).hide();
        $("#mrebut").html("저장");
        $("#ex1").attr("value","");
        $("#ex2").attr("value","");
        $("#ex3").attr("value","");
        $("#ex4").attr("value","");
        $("#mreform").attr("action","/oadpage/addmenu");
    })
</script>