<div class="container">
    <h2><%=@rest.name%></h2>
    
        <form id="mreform"action="/oadpage/addmenu" method="post">
            <div class="form-group">
              <label for="ex1">메뉴이름</label>
              <input class="form-control" name="menuname"id="ex1" type="text">
            </div>
            <div class="form-group">
              <label for="ex3">설명</label>
              <textarea class="form-control" rows="3"name="content"id="ex3"></textarea>
            </div>
            <div class="form-group">
              <label for="ex4">가격</label>
              <input class="form-control" type="text"name="cost"id="ex4">
            </div>
            <input type="hidden" name="backid" value="<%=@rest.id%>">
            <button id="mrebut"class="btn btn-primary">저장</button>
        </form>
        <button style="display:none"id="mrecan"class="btn btn-default">수정취소</button>
    <div class="table-responsive">
        <table class="table">
            <tr>
                <th>한글</th>
                <th>가격</th>
                <th>번역보기</th>
                <th>수정</th>
                <th>삭제</th>
            </tr>
            <%@rest.rmenu.each do |r|%>
            <tr>
                <td id="name<%=r.id%>"><%=r.menuname%></td>
                <td id="cost<%=r.id%>"><%=r.cost%></td>
                <td style="display:none" id="content<%=r.id%>"><%=r.content%></td>
                <td><a href="/adpage/rewritemenu/<%=Menulist.find_by(:kname =>r.menuname).id%>/-<%=@rest.id%>"><button class="btn btn-default">번역</button></a></td>
                <td><a><button class="mre btn btn-default" id="<%=r.id%>">수정</button></a></td>
                <td><button class="del btn btn-default"id="<%=r.id%>">삭제</button></td>
            </tr>
            <tr>
                <%=r.content%>
            </tr>
            <%end%>
        </table>
        <form id="delform"style="display:none"method="get">
            
        </form>
    </div>
    <a type="button" href="/oadpage/dbmain"><button class="btn btn-default">돌아가기</button></a>
</div>
<script>
    $(".del").click(function(){
        var thisid=$(this).attr("id");
        $("#delform").attr("action","/oadpage/delmenu/"+thisid);
        
        if (confirm("정말 삭제하시겠습니까?")==true){
            $("#delform").submit();
        }
        else{
            return;
        }
    })
    $(".mre").click(function(){
        $("#mrebut").html("수정하기");
        $("#mrecan").show();
        var thisid=$(this).attr("id");
        var name=$("#name"+thisid).html();
        $("#ex1").attr("value",name);
        var cost=$("#cost"+thisid).html();
        $("#ex4").attr("value",cost);
        var content=$("#content"+thisid).html();
        $("#ex3").attr("value",content);
        
        $("#mreform").attr("action","/oadpage/rewritemenu/"+thisid);
    });
    $("#mrecan").click(function(){
        $(this).hide();
        $("#mrebut").html("저장");
        $("#ex1").attr("value","");
        $("#ex3").attr("value","");
        $("#ex4").attr("value","");
        $("#mreform").attr("action","/oadpage/addmenu");
    })
</script>