<nav>
  <div class="nav-wrapper main_nav">
    <ul id="slide-out" class="side-nav ">
      <li><a class="modal-trigger"href="#modal1">Mondayspoon</a></li>
    </ul>
    
    <ul class="left hide-on-med-and-down">
      <li><a class="modal-trigger"href="#modal1">Mondayspoon</a></li>
      
    </ul>
    <ul class="right">
      <li><a><i class="material-icons opener">search</i></a></li>
    </ul>
    <a href="#" class="brand-logo center">HUFSPOON</a>
     <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
  </div>
  
    <div class="nav-wrapper nav_form">
      <form action="/">
        <div class="input-field">
          <input id="search" type="search" required>
          <label for="search"><i class="material-icons">search</i></label>
          <i class="material-icons closer">close</i>
        </div>
      </form>
    </div>
</nav>
<br>
<div class="row">
  <div class="col s12 m8 offset-m2 l6 offset-l3">
    <div class="carousel carousel-slider" style="height:300px">
      <%if @one!=nil%><a class="carousel-item" href="#one!"><img src="<%=@one.address%>" width="600" height="300"></a><%end%>
      <%if @two!=nil%><a class="carousel-item" href="#two!"><img src="<%=@two.address%>" width="600" height="300"></a><%end%>
      <%if @three!=nil%><a class="carousel-item" href="#three!"><img src="<%=@three.address%>" width="600" height="300"></a><%end%>
      <%if @four!=nil%><a class="carousel-item" href="#four!"><img src="<%=@four.address%>" width="600" height="300"></a><%end%>
      <%if @five!=nil%><a class="carousel-item" href="#five!"><img src="<%=@five.address%>" width="600" height="300"></a><%end%>
      <%if @six!=nil%><a class="carousel-item" href="#six!"><img src="<%=@six.address%>" width="600" height="300"></a><%end%>
    </div>
  </div>
</div>
<div class="row">
  <div class="col s12 m8 offset-m2 l6 offset-l3">
    <div class="card-panel center">
      <span>오늘 뭐먹지?</span>
      
    </div>
  </div>
  <div class="col s12 m8 offset-m2 l6 offset-l3">
    <div class="row">
      <div class=" col s3 m3 l3 center" style="padding-left:0px;">
        <div class="card-panel">
          한식
        </div>
      </div>
      <div class=" col s3 m3 l3 center" style="padding-left:0px;">
        <div class="card-panel">
          일식
        </div>
      </div>
      <div class=" col s3 m3 l3 center" style="padding-left:0px;">
        <div class="card-panel">
          중식
        </div>
      </div>
      <div class=" col s3 m3 l3 center" style="padding-left:0px; padding-right:0px;">
        <div class="card-panel">
          양식
        </div>
      </div>
    </div>
  </div>
</div>
  <script>
  $('.carousel.carousel-slider').carousel({full_width: true, indicators: true});
    $(".opener").click(function(){
    $(".main_nav").hide();
    $(".nav_form").fadeIn();
    document.getElementById("search").focus();
  })
  $(".closer").click(function(){
    $(".nav_form").hide();
    $(".main_nav").fadeIn();
  })
  </script>