<nav>
  <div class="nav-wrapper main_nav">
    <ul id="slide-out" class="side-nav ">
      <li><a href="/">HUFS</a></li>
    </ul>
    
    <ul class="left hide-on-med-and-down">
      <li><a href="/">HUFS</a></li>
    </ul>
    <ul class="right">
      <li><a><i class="material-icons opener">search</i></a></li>
    </ul>
    <a href="/home/index" class="brand-logo center">HUFSPOON</a>
     <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
  </div>
  
    <div class="nav-wrapper nav_form">
      <form action="/home/search">
        <div class="input-field">
          <input id="search" type="search" name="keyword"required>
          <label for="search"><i class="material-icons black-text">search</i></label>
          <input name="back" type="hidden" value="-1">
          <i class="material-icons closer black-text">close</i>
        </div>
      </form>
    </div>
</nav>
<br>
<div class="row">
  <div class="col s12 m8 offset-m2 l6 offset-l3 ">
    <div class="z-depth-1">
    <div class="carousel carousel-slider " style="height:300px">
      <%if @one!=nil%><a class="carousel-item" href="<%=@one.keyword%>"><img src="<%=@one.address%>" height="300"></a><%end%>
      <%if @two!=nil%><a class="carousel-item" href="<%=@two.keyword%>"><img src="<%=@two.address%>" height="300"></a><%end%>
      <%if @three!=nil%><a class="carousel-item" href="<%=@three.keyword%>"><img src="<%=@three.address%>" height="300"></a><%end%>
      <%if @four!=nil%><a class="carousel-item" href="<%=@four.keyword%>"><img src="<%=@four.address%>"  height="300"></a><%end%>
      <%if @five!=nil%><a class="carousel-item" href="<%=@five.keyword%>"><img src="<%=@five.address%>" height="300"></a><%end%>
      <%if @six!=nil%><a class="carousel-item" href="<%=@six.keyword%>"><img src="<%=@six.address%>"  height="300"></a><%end%>
      <%if @one==nil&&@two==nil&&@three==nil&&@four==nil&&@five==nil&&@six==nil%><a class="carousel-item"><img src="http://googledrive.com/host/0B5YS4isQi3cDRnRHNUFSbkxuU0E/always.png" height="300"></a><%end%>
    </div>
    </div>
  </div>
  <!--<div class="col s12 m8 offset-m2 l6 offset-l3">-->
  <!--  <div class="card-panel center" >-->
  <!--    <span style="font-size:18px;font-family: 'Indie Flower', cursive;">I'm Feeling Lucky</span>-->
  <!--  </div>-->
  <!--</div>-->
  
  
  <div class=" col s12 m8 offset-m2 l6 offset-l3 " style="margin-top: 10px;">
    <div class="card">
      
        <table class="bordered">
          
          <tbody>
            <tr>
              <td class="center" ><a class=" black-text" href="/home/leftindex/0"><%if @language=="4"%>한식<%else%>Korean<%end%></a></td>
              <td class="center"><a class=" black-text" href="/home/leftindex/1"><%if @language=="4"%>일식<%else%>Japanese<%end%></a></td>
              <td class="center"><a class=" black-text" href="/home/leftindex/2"><%if @language=="4"%>양식<%else%>Western<%end%></a></td>
              <td class="center"><a class=" black-text" href="/home/leftindex/3"><%if @language=="4"%>중식<%else%>Chinese<%end%></a></td>
            </tr>
            <tr>
              <td class="center "><a class=" black-text" href="/home/leftindex/4"><%if @language=="4"%>치킨<%else%>Chicken<%end%></a></td>
              <td class="center "><a class=" black-text" href="/home/leftindex/5"><%if @language=="4"%>고기<%else%>Meat<%end%></a></td>
              <td class="center "><a class=" black-text" href="/home/leftindex/6"><%if @language=="4"%>분식<%else%>Snack<%end%></a></td>
              <td class="center "></td>
            </tr>
          </tbody>
        </table>
      
    </div>
  </div>    
</div>

<div class="fixed-action-btn horizontal click-to-toggle" style="bottom: 14px; right: 14px; opacity: 0.8;">
  <a class="btn-floating btn-large white">
    <i class="material-icons black-text">add</i>
  </a>
  <!--<%if @language=="4"%>-->
  <!--<a class="btn-floating btn-large orange lighten-2">-->
  <!--  한글-->
  <!--</a>-->
  <!--<%else%>-->
  <!--<a class="btn-floating btn-large red">-->
  <!--  EN-->
  <!--</a>-->
  <!--<%end%>-->
  <ul>
    <%if @language!="4"%><li><a class="btn-floating orange lighten-2" style="text-align:center;" href="/home/index?language=4">한글</a></li><%end%>
    <%if @language!="0"%><li><a class="btn-floating red" style="text-align:center;" href="/home/index?language=0">EN</a></li><%end%>
  </ul>
</div>
  
  <script>
  $('.carousel.carousel-slider').carousel({full_width: true, indicators: true});
  $(".opener").click(function(){
    $(".main_nav").hide();
    $(".nav_form").fadeIn();
    document.getElementById("search").focus();
  })
  $(".closer").click(function(){
    $(".nav_form").hide();
    $(".main_nav").fadeIn();
  })
  $(".button-collapse").sideNav();
    $(document).ready(function(){
    $('ul.tabs').tabs();
  });
  </script>