
<nav>
  <div class="nav-wrapper main_nav">
    <ul id="slide-out" class="side-nav ">
      <li><a class="modal-trigger"href="#modal1">Mondayspoon</a></li>
      <li><a href="/">Hufs</a></li>
    </ul>
    
    <ul class="left hide-on-med-and-down">
      <li><a class="modal-trigger"href="#modal1">Mondayspoon</a></li>
      <li><a href="/">Hufs</a></li>
    </ul>
    <ul class="right">
      <li><a><i class="material-icons opener">search</i></a></li>
    </ul>
    <a href="/home/index" class="brand-logo center">HUFSPOON</a>
     <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
  </div>
  
    <div class="nav-wrapper nav_form">
      <form action="/home/search">
        <div class="input-field">
          <input id="search" type="search" name="keyword"required>
          <label for="search"><i class="material-icons">search</i></label>
          <i class="material-icons closer">close</i>
        </div>
      </form>
    </div>
</nav>
<br>
<div class="row">
  <div class="col s12 m8 offset-m2 l6 offset-l3">
    <div class="carousel carousel-slider" style="height:300px">
      <%if @one!=nil%><a class="carousel-item" href="/home/search?keyword=<%=@one.keyword%>"><img src="<%=@one.address%>" height="300"></a><%end%>
      <%if @two!=nil%><a class="carousel-item" href="/home/search?keyword=<%=@two.keyword%>"><img src="<%=@two.address%>" height="300"></a><%end%>
      <%if @three!=nil%><a class="carousel-item" href="/home/search?keyword=<%=@three.keyword%>"><img src="<%=@three.address%>" height="300"></a><%end%>
      <%if @four!=nil%><a class="carousel-item" href="/home/search?keyword=<%=@four.keyword%>"><img src="<%=@four.address%>"  height="300"></a><%end%>
      <%if @five!=nil%><a class="carousel-item" href="/home/search?keyword=<%=@five.keyword%>"><img src="<%=@five.address%>" height="300"></a><%end%>
      <%if @six!=nil%><a class="carousel-item" href="/home/search?keyword=<%=@six.keyword%>"><img src="<%=@six.address%>"  height="300"></a><%end%>
      <%if @one==nil&&@two==nil&&@three==nil&&@four==nil&&@five==nil&&@six==nil%><a class="carousel-item"><img src="http://googledrive.com/host/0B5YS4isQi3cDRnRHNUFSbkxuU0E/always.png" height="300"></a><%end%>
    </div>
  </div>
</div>
<div class="row">
  <div class="col s12 m8 offset-m2 l6 offset-l3">
    <div class="card-panel center">
      <span>Test!!</span>
    </div>
  </div>
  
  <div class="col s12 m8 offset-m2 l6 offset-l3">
    
      <div class="row">
        <div class=" col s3 m3 l3 center">
          <a class="btn-floating btn-large waves-effect waves-light red lighten-2" href="/home/leftindex/0">한식</a>
        </div>
        <div class=" col s3 m3 l3 center">
          <a class="btn-floating btn-large waves-effect waves-light orange lighten-2" href="/home/leftindex/1">일식</a>
        </div>
        <div class=" col s3 m3 l3 center">
          <a class="btn-floating btn-large waves-effect waves-light cyan lighten-2" href="/home/leftindex/2">양식</a>
        </div>
        <div class=" col s3 m3 l3 center">
          <a class="btn-floating btn-large waves-effect waves-light  yellow" href="/home/leftindex/3">중식</a>
        </div>
      </div>
      <div class="row">
        <div class=" col s3 m3 l3 center">
          <a class="btn-floating btn-large waves-effect waves-light amber lighten-2" href="/home/leftindex/4">치킨</a>
        </div>
        <div class=" col s3 m3 l3 center">
          <a class="btn-floating btn-large waves-effect waves-light pink lighten-2" href="/home/leftindex/5">고기</a>
        </div>
        <div class=" col s3 m3 l3 center">
          <a class="btn-floating btn-large waves-effect waves-light  indigo lighten-2" href="/home/leftindex/6">분식/면</a>
        </div>
        <!--<div class=" col s3 m3 l3 center">-->
        <!--  <a class="btn-floating btn-large waves-effect waves-light grey lighten-2"><i class="material-icons">add</i></a>-->
        <!--</div>-->
      </div>
    
  </div>
</div>
  <script>
  $('.carousel.carousel-slider').carousel({full_width: true, indicators: true});
  $(".opener").click(function(){
    $(".main_nav").hide();
    $(".nav_form").fadeIn();
    document.getElementById("search").focus();
  })
  $(".closer").click(function(){
    $(".nav_form").hide();
    $(".main_nav").fadeIn();
  })
  $(".button-collapse").sideNav();
  </script>