<%content_for :link do%>
  <li><a href="/">HUFS</a></li>
<%end%>
<%content_for :search_form do%>
<nav class="nav_form">
  <div class="nav-wrapper white">
    <form action="/rests/search">
      <div class="input-field">
        <input id="search" type="search" name="keyword"required>
        <label for="search"><i class="material-icons">search</i></label>
        <input name="back" type="hidden" value="<%=@num%>">
        <i class="material-icons closer">close</i>
      </div>
    </form>
  </div>
</nav>
<%end%>
<%content_for :tabs do %>
<ul class="tabs navi tabs-transparent ohome row">
<%=tab_lists(@restCategoryHash,@language,@num)%>
</ul>
<%end%>
<div class="row">
  <div class="col s12 m10 offset-m1 l8 offset-l2">
    <div class="card">
      <div class="card-content" id="map" style="height:300px;"></div>
    </div>
  </div>
   
  <div class="col s12 m10 offset-m1 l8 offset-l2">
    <ul class="collection">
      <%@list.each do |re|%>
      <li class="collection-item avatar">
        <%if re.picture==nil||re.picture==""%><i class="material-icons red lighten-3 circle">restaurant</i><%else%><img src="<%='http'+re.picture.split('http')[1]%>" alt="" class="circle"><%end%>
        <span class="title"><a href="/rests/<%=re.id%>"><%=re.name%></a></span>
        <p>
          <%if re.re_menu%>
            <%if @language==4%>
              <%=re.re_menu%>
            <%elsif @language==0%>
              <%=re.ere_menu.titleize%>
            <%else%>
              <%=re.chinese%>
            <%end%>
          <%else%>
          Welcome to the Restaurant!
          <%end%>
        </p>
        <a href="#!" class="secondary-content"><i class="material-icons grey-text">star_border</i></a>
      </li>
      <%end%>
    </ul>
  </div>
    
  
</div>        

<div class="fixed-action-btn click-to-toggle" style="bottom: 14px; right: 14px;">
  <a class="btn-floating btn-large scale-btn scrollUp red">
    <i class="material-icons addbtn" data-angle="0">translate</i>
  </a>
  <ul>
    <%=oLan_button(@languageHash,@num)%>
  </ul>
</div>
<div id="modal1" class="modal">
  <div class="modal-content">
    <h4>Mondayspoon</h4>
    <p>Email: mondayspoon@gmail.com</p>
    <div class="divider"></div>
    <div class="section">
      <a>Co-founder Marketer & Operator</a>
      <h5>Jincheol Juhn</h5>
    </div>
        
    <div class="divider"></div>
    <div class="section">
      <a>Co-founder Designer</a>
      <h5>Soyoung Kim</h5>
    </div>
        
    <div class="divider"></div>
    <div class="section">
      <a>Co-founder Developer</a>
      <h5>Sangrok Lee</h5>
    </div>
        
    <div class="divider"></div>
    <div class="section">
      <a>Co-founder Marketer & Operator</a>
      <h5>Seungjoon Lee</h5>
    </div>
    
    <div class="divider"></div>
    <div class="section">
      <a>Chinese Language Translator</a>
      <h5>孙林同</h5>
    </div>
        
    <div class="divider"></div>
    <div class="section">
      <a>German Language Translator</a>
      <h5>Nane Sönnichsen</h5>
    </div>
    
    <div class="divider"></div>
    <div class="section">
      <a>Italian Language Translator</a>
      <h5>Francesca Liyanage</h5>
    </div>
    
    <div class="divider"></div>
    <div class="section">
      <a>Italian Language Translator</a>
      <h5>Arianna Colciago</h5>
    </div>
    
    <div class="divider"></div>
    <div class="section">
      <a>Portuguese Language Translator</a>
      <h5>Laura Torelli</h5>
    </div>
    
    <div class="divider"></div>
    <div class="section">
      <a>Spanish Language Translator</a>
      <h5>Maria Jose Alejandra - Valencia Ramirez</h5>
    </div>
    
    <div class="divider"></div>
    <div class="section">
      <a>French Language Translator</a>
      <h5>Charline Zammit</h5>
    </div>
    <br>
  </div>
</div>
<script src="//apis.daum.net/maps/maps3.js?apikey=23598cdf36f0c5f5bf1f1bfda70b8e80&libraries=services"></script>
<script>
  $(document).ready(function(){
    $('.addbtn').on('click',function(){
      var $this=$(this);
      var word= $this.html()=='translate' ? 'clear' : 'translate' 
      var angle=$this.data('angle')+90;
      $this.velocity(
        {rotateY: angle+'deg'},
        {duration: 250,
          complete: function(){
            angle+=90
            $(this).html(word).velocity({rotateY: angle+'deg'},{duration: 250})
            $this.data('angle',angle);
          }
        }
      );
    });
    var lastScrollTop = 0;
    var $scaleBtn=$('.scale-btn');
    $scaleBtn.velocity({scaleX: 1,scaleY: 1});
    $(window).scroll(function(event){
      var st = $(this).scrollTop();
      if (st -lastScrollTop>14 &&$scaleBtn.hasClass('scrollUp')){
        $scaleBtn.velocity({scaleX: 0,scaleY: 0},{duration: 10}).removeClass('scrollUp').addClass('scrollDown');
        if($scaleBtn.parent().hasClass('active'))$scaleBtn.trigger('click').addClass('opened');
        lastScrollTop = st;
      }
      else if(st-lastScrollTop< -14&&$scaleBtn.hasClass('scrollDown')){
        var com=null;
        if($scaleBtn.hasClass('opened')){
          $scaleBtn.removeClass('opened');
          com=function(){
            $scaleBtn.trigger('click');
          };
        }
        $scaleBtn.removeClass('scrollDown').addClass('scrollUp').velocity({scaleX: 1,scaleY: 1},{duration: 10,complete: com});
        lastScrollTop = st;
      }
      if(st-lastScrollTop>14||st-lastScrollTop<-14) lastScrollTop=st;
    });
    $('.modal').modal({
      ready: function(){
        $('.button-collapse').sideNav('hide');
      }
    });
    $(".button-collapse").sideNav();
    $(".opener").click(function(){
      $(".main_nav").hide();
      $(".nav_form").fadeIn();
      document.getElementById("search").focus();
    })
    $(".closer").click(function(){
      $(".nav_form").hide();
      $(".main_nav").fadeIn();
    })
    $("ul.tabs").tabs();
  })
	var container = document.getElementById('map');
	var option = {
	  center: [37.596418,127.060246],
		level: 3
	};
	var easyMap=own.EasyMap

	var map =new own.DaumMap(container, option);

  var markers=[];
  var overlays=[];
  <%@all.each do |m|%>
    markers.push(new own.Marker({
      position: [<%=m[0]%>,<%=m[1]%>],
      map: map,
      clickable: true
    }));
    overlays.push(new own.CustomOverlay({
      content: '<div class="placeinfo_wrap"><div class="placeinfo"><%m[2].each do |r|%><a class="ptitle" href="/rests/<%=r.id%>"><%=r.name%></a><%end%>'+
                '<span>'+
                '<span style="text-align: right;" class="material-icons close" aria-hidden="true">clear</span>'+
                '</span></div>'+
                '<div class="after"></div></div>',
      clickable: true
    }));
  <%end%>
  easyMap.customOverlayOnClose(overlays,'overlays');
  easyMap.markerClickOpen(markers,overlays);
</script>