<%content_for :link do%>
  <li><a href="/">HUFS</a></li>
<%end%>
<%content_for :search_form do%>
  <div class="nav-wrapper nav_form">
    <form action="/rests/search">
      <div class="input-field">
        <input id="search" type="search" name="keyword"required>
        <label for="search"><i class="material-icons">search</i></label>
        <input name="back" type="hidden" value="<%=@num%>">
        <i class="material-icons closer">close</i>
      </div>
    </form>
  </div>
<%end%>
<ul class="tabs blue lighten-2" style="font-size:12px;">
  <li class="tab col s3"><a <%if @num=="0"%>class="active"<%else%> href="/rests?num=0" target="_self"<%end%>><%if @language=="4"%>한식<%else%>Korean<%end%></a></li>
  <li class="tab col s3"><a <%if @num=="1"%>class="active"<%else%> href="/rests?num=1" target="_self"<%end%>><%if @language=="4"%>일식<%else%>Japanese<%end%></a></li>
  <li class="tab col s3"><a <%if @num=="2"%>class="active"<%else%> href="/rests?num=2" target="_self"<%end%>><%if @language=="4"%>양식<%else%>Western<%end%></a></li>
  <li class="tab col s3"><a <%if @num=="3"%>class="active"<%else%> href="/rests?num=3" target="_self"<%end%>><%if @language=="4"%>중식<%else%>Chinese<%end%></a>
  <li class="tab col s3"><a <%if @num=="4"%>class="active"<%else%> href="/rests?num=4" target="_self"<%end%>><%if @language=="4"%>치킨<%else%>Chicken<%end%></a></li>
  <li class="tab col s3"><a <%if @num=="5"%>class="active"<%else%> href="/rests?num=5" target="_self"<%end%>><%if @language=="4"%>고기<%else%>Meat<%end%></a></li>
  <li class="tab col s3"><a <%if @num=="6"%>class="active"<%else%> href="/rests?num=6" target="_self"<%end%>><%if @language=="4"%>분식<%else%>Snack<%end%></a></li>
</ul>
<div class="row">
  <div class="col s12 m10 offset-m1 l8 offset-l2">
    <div class="card">
      <div class="card-content" id="map" style="height:300px;"></div>
    </div>
  </div>
   
  <div class="col s12 m10 offset-m1 l8 offset-l2">
    <div class="card">
      <div class="card-content">
        <table class="bordered">
          <thead>
            <tr>
              <th>
                <i class="material-icons">restaurant</i>
              </th>
              <th>
                <i class="material-icons">thumb_up</i>
              </th>
            </tr>
          </thead>
    
          <tbody style="font-size: 12px;">
              <%@list.each do |re|%>
              <tr>
                <td><a href="/rests/<%=re.id%>"><%=re.name%></a></td>
                <td><%if @language=="4"%><%=re.re_menu%><%else%><%if re.ere_menu!=nil%><%=re.ere_menu.titleize%><%end%><%end%></td>
              </tr>
              <%end%>
          </tbody>
        </table>
      </div>
    </div>
  </div>
    
  
</div>        

<div class="fixed-action-btn horizontal click-to-toggle" style="bottom: 14px; right: 14px; opacity: 0.8;">
  <a class="btn-floating btn-large white ">
    <i class="material-icons black-text">add</i>
  </a>
  <ul>
    <%if @language!="4"%><li><a class="btn-floating orange lighten-2" style="text-align:center;" href="/rests?num=<%=@num%>&language=4">한글</a></li><%end%>
    <%if @language!="0"%><li><a class="btn-floating red" style="text-align:center;" href="/rests?num=<%=@num%>&language=0">EN</a></li><%end%>
  </ul>
</div>
<div id="modal1" class="modal">
  <div class="modal-content">
    <h4>Mondayspoon</h4>
    <p>Email: mondayspoon@gmail.com</p>
    <div class="divider"></div>
    <div class="section">
      <a>Co-founder Marketer & Operator</a>
      <h5>Jincheol Juhn</h5>
    </div>
        
    <div class="divider"></div>
    <div class="section">
      <a>Co-founder Designer</a>
      <h5>Soyoung Kim</h5>
    </div>
        
    <div class="divider"></div>
    <div class="section">
      <a>Co-founder Developer</a>
      <h5>Sangrok Lee</h5>
    </div>
        
    <div class="divider"></div>
    <div class="section">
      <a>Co-founder Marketer & Operator</a>
      <h5>Seungjoon Lee</h5>
    </div>
    
    <div class="divider"></div>
    <div class="section">
      <a>Chinese Language Translator</a>
      <h5>孙林同</h5>
    </div>
        
    <div class="divider"></div>
    <div class="section">
      <a>German Language Translator</a>
      <h5>Nane Sönnichsen</h5>
    </div>
    
    <div class="divider"></div>
    <div class="section">
      <a>Italian Language Translator</a>
      <h5>Francesca Liyanage</h5>
    </div>
    
    <div class="divider"></div>
    <div class="section">
      <a>Italian Language Translator</a>
      <h5>Arianna Colciago</h5>
    </div>
    
    <div class="divider"></div>
    <div class="section">
      <a>Portuguese Language Translator</a>
      <h5>Laura Torelli</h5>
    </div>
    
    <div class="divider"></div>
    <div class="section">
      <a>Spanish Language Translator</a>
      <h5>Maria Jose Alejandra - Valencia Ramirez</h5>
    </div>
    
    <div class="divider"></div>
    <div class="section">
      <a>French Language Translator</a>
      <h5>Charline Zammit</h5>
    </div>
    
    <div class="divider"></div>
    <div class="section">
      <div class="right">
        <a class="btn-floating btn-small white closebtn">
            <i class="small material-icons black-text">clear</i>
        </a>
      </div>
    </div>
    
    <br>
  </div>
</div>
<script src="//apis.daum.net/maps/maps3.js?apikey=23598cdf36f0c5f5bf1f1bfda70b8e80&libraries=services"></script>
<script>
	var container = document.getElementById('map');
	var option = {
	  lat: 37.596418,
	  lng: 127.060246,
		level: 3
	};

	var map = daumMap(container, option);

  var markers=[];
  var overlays=[];
  <%@all.each do |m|%>
    markers.push(marker({
      lat: <%=m[0]%>,
      lng: <%=m[1]%>,
      map: map,
      clickable: true
    }));
    overlays.push(customOverlay({
      content: '<div class="placeinfo_wrap"><div class="placeinfo"><%m[2].each do |r|%><a class="title" href="/rests/<%=r.id%>"><%=r.name%></a><%end%>'+
                '<span>'+
                '<span style="text-align: right;" class="material-icons close" aria-hidden="true">clear</span>'+
                '</span></div>'+
                '<div class="after"></div></div>',
      clickable: true
    }));
  <%end%>
  easyMap.customOverlayOnClose(overlays,'overlays');
  easyMap.markerClick(markers,overlays);
  $('.modal-trigger').leanModal();
  $(".button-collapse").sideNav();
  $(".opener").click(function(){
    $(".main_nav").hide();
    $(".nav_form").fadeIn();
    document.getElementById("search").focus();
  })
  $(".closer").click(function(){
    $(".nav_form").hide();
    $(".main_nav").fadeIn();
  })
  
  $('.modal-trigger').click(function(){
    $('.button-collapse').sideNav('hide');
    $('.modal-trigger').leanModal();
  })
    $(".closebtn").click(function(){
      $('#modal1').closeModal();
  })
</script>