<nav>
  <div class="nav-wrapper main_nav">
    <ul id="slide-out" class="side-nav ">
      <li><a class="modal-trigger"href="#modal1">Mondayspoon</a></li>
      <li><a href="/">Hufs</a></li>
    </ul>
    
    <ul class="left hide-on-med-and-down">
      <li><a class="modal-trigger"href="#modal1">Mondayspoon</a></li>
      <li><a href="/">Hufs</a></li>
    </ul>
    <ul class="right">
      <li><a><i class="material-icons opener">search</i></a></li>
    </ul>
    <a href="/home/index" class="brand-logo center">HUFSPOON</a>
     <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
  </div>
  
    <div class="nav-wrapper nav_form">
      <form action="/home/search">
        <div class="input-field">
          <input id="search" type="search" name="keyword"required>
          <label for="search"><i class="material-icons">search</i></label>
          <input name="back" type="hidden" value="<%=@num%>">
          <i class="material-icons closer">close</i>
        </div>
      </form>
    </div>
</nav>
  <div class="row">
    <br>
    <div class="col s12 m10 offset-m1 l8 offset-l2">
      <ul class="tabs">
        <li class="tab col s3"><a <%if @num=="0"%>class="active"<%else%> href="/home/leftindex/0" target="_self"<%end%>>한식</a></li>
        <li class="tab col s3"><a <%if @num=="1"%>class="active"<%else%> href="/home/leftindex/1" target="_self"<%end%>>일식</a></li>
        <li class="tab col s3"><a <%if @num=="2"%>class="active"<%else%> href="/home/leftindex/2" target="_self"<%end%>>양식</a></li>
        <li class="tab col s3"><a <%if @num=="3"%>class="active"<%else%> href="/home/leftindex/3" target="_self"<%end%>>중식</a>
        <li class="tab col s3"><a <%if @num=="4"%>class="active"<%else%> href="/home/leftindex/4" target="_self"<%end%>>치킨</a></li>
        <li class="tab col s3"><a <%if @num=="5"%>class="active"<%else%> href="/home/leftindex/5" target="_self"<%end%>>고기</a></li>
        <li class="tab col s3"><a <%if @num=="6"%>class="active"<%else%> href="/home/leftindex/6" target="_self"<%end%>>분식/면</a></li>
      </ul>
    </div>
    
    <div class="col s12 m10 offset-m1 l8 offset-l2">
      <div class="card">
        <div class="card-content" id="map" style="height:300px;"></div>
          
      </div>
    </div>
   
  
  
  
  
    <div class="col s12 m10 offset-m1 l8 offset-l2">
      <ul class="tabs">
        <li class="tab col s12"><a class="active"href="#Restaurants">Restaurants</a></li>
      </ul>
    </div>
    
    <div id="Restaurants" class="col s12 m10 offset-m1 l8 offset-l2">
      <table class="bordered">
        <thead>
          <tr>
              <th data-field="id">Name</th>
              <th>Menu</th>
              <th><a class="btn-floating  waves-effect waves-light blue renew right center">A</a><a class="btn-floating  waves-effect waves-light red random right"><i class="material-icons">autorenew</i></a></th>
          </tr>
        </thead>

        <tbody>
          <%@all.each do |a|%>
            <%a[2].each do |re|%>
            <tr>
              <td><a href="/home/rightindex/<%=re.id%>"><%=re.name%></a></td>
              <td colspan="2"><%=re.re_menu%></td>
            </tr>
            <%end%>
          <%end%>
        </tbody>
      </table>
      
    </div>
    
    <div id="Menu" class="col s12 m10 offset-m1 l8 offset-l2">
      
      
    </div>
  
</div>        


<!--<div class="fixed-action-btn" style="bottom: 45px; right: 24px;">-->
<!--  <a class="btn-floating btn-large red">-->
<!--    <i class="large material-icons">local_dining</i>-->
<!--  </a>-->
<!--</div>-->
 <div id="modal1" class="modal">
  <div class="modal-content">
      
    <h4>
        Mondayspoon
        
    </h4>
    <p>email: mondayspoon@gmail.com</p>
    <div class="divider"></div>
    <div class="section">
      <h5>전진철</h5>
    </div>
    
    <div class="divider"></div>
    <div class="section">
      <h5>김소영</h5>
    </div>
    
    <div class="divider"></div>
    <div class="section">
      <h5>이상록</h5>
    </div>
    
    <div class="divider"></div>
    <div class="section">
      <h5>이승준</h5>
    </div>
    <div class="section">
      <div class="right"><a class="btn-floating btn-small red closebtn">
            <i class="small material-icons">clear</i>
        </a></div>
    </div>
  </div>
</div> 
<script src="https://spi.maps.daum.net/imap/map_js_init/postcode.v2.js"></script>
<script src="//apis.daum.net/maps/maps3.js?apikey=23598cdf36f0c5f5bf1f1bfda70b8e80&libraries=services"></script>
<script>
	var placeOverlay = new daum.maps.CustomOverlay({zIndex:1}), 
    contentNode = document.createElement('div');
	var markers=[];
	var container = document.getElementById('map');
	var options = {
		center: new daum.maps.LatLng(37.597415, 127.057824),
		level: 3
	};

	var map = new daum.maps.Map(container, options);
	var ps = new daum.maps.services.Places();  
  // 커스텀 오버레이의 컨텐츠 노드에 css class를 추가합니다 
  contentNode.className = 'placeinfo_wrap';
  
  // 커스텀 오버레이의 컨텐츠 노드에 mousedown, touchstart 이벤트가 발생했을때
  // 지도 객체에 이벤트가 전달되지 않도록 이벤트 핸들러로 daum.maps.event.preventMap 메소드를 등록합니다 
  addEventHandle(contentNode, 'mousedown', daum.maps.event.preventMap);
  addEventHandle(contentNode, 'touchstart', daum.maps.event.preventMap);
  
  // 커스텀 오버레이 컨텐츠를 설정합니다
  placeOverlay.setContent(contentNode);  
  
  var positions = [
      <%@all.each do |m|%>
        {
             
            latlng: new daum.maps.LatLng(<%=m[0]%>,<%=m[1]%>),
            iwContent: '<%m[2].each do |r|%><a class="title" href="/home/rightindex/<%=r.id%>"><%=r.name%></a><%end%>',
            
        },
      <%end%>];
  allshow();
  
  $('.modal-trigger').leanModal(); //모달 이벤트 등록
  $(document).ready(function() {
      $('select').material_select();
    });
  $(".button-collapse").sideNav();
  $(".opener").click(function(){
    $(".main_nav").hide();
    $(".nav_form").fadeIn();
    document.getElementById("search").focus();
  })
  $(".closer").click(function(){
    $(".nav_form").hide();
    $(".main_nav").fadeIn();
  })
  
  $('.modal-trigger').click(function(){
    $('.button-collapse').sideNav('hide');
    $('.modal-trigger').leanModal();
  })
    $(".closebtn").click(function(){
      $('#modal1').closeModal();
  })
  
	$(".random").click(function(){
	  
	  hideMarkers();
	  //removeMarker();
	  randomit();
	  ;
	})
  $(".renew").click(function(){
	  
	  hideMarkers();
	  allshow();
	  
  });
  
  
    
  
  
  //모든마커를 표시합니다
  function allshow(){
    for (var i = 0; i < positions.length; i ++) {
    
        var marker = new daum.maps.Marker({
            map: map, // 마커를 표시할 지도
            position: positions[i].latlng, // 마커를 표시할 위치
            clickable: true
        });
        (function(iwcontent,position) {
                daum.maps.event.addListener(marker, 'click', function() {
                    displayPlaceInfo(iwcontent,position);
                });
            })(positions[i].iwContent,positions[i].latlng);
        markers.push(marker);
    };
  };
  
  //positions에 저장되어있는 마커 중 하나만 무작위로 꺼내 표시합니다
    function randomit(){
      var index=Math.floor(Math.random()*positions.length);
      var marker = new daum.maps.Marker({
          map: map, // 마커를 표시할 지도
          position: positions[index].latlng, // 마커를 표시할 위치
          clickable: true
      });
      var look=positions[index].iwContent.indexOf("</a>");
      var iwcontent = positions[index].iwContent.substring(0, look+4);
      (function(iwcontent,position) {
                daum.maps.event.addListener(marker, 'click', function() {
                    displayPlaceInfo(iwcontent,position);
                });
            })(iwcontent,positions[index].latlng);
        markers.push(marker);
        map.setCenter(positions[index].latlng);
  	};
  	
  	//모든 마커를 숨깁니다
    function hideMarkers() {
      var len=markers.length-1;
      overlayclose();
      for (var i = len; i > -1; i--) {
          markers[i].setMap(null);
          markers.pop();
      }        
    }
    
    function displayPlaceInfo (iwcontent,position) {
        var content = '<div class="placeinfo">'+iwcontent+
                        '<span>'+
                        '<span style="text-align: right;" onclick="overlayclose();" class="material-icons" aria-hidden="true">clear</span>'+
                        '</span></div>'+
                        '<div class="after"></div>';
        contentNode.innerHTML = content;
        placeOverlay.setPosition(position);
        placeOverlay.setMap(map);  
    }
    
    function overlayclose(){
      placeOverlay.setMap(null);
    }
    
    function addEventHandle(target, type, callback) {
    if (target.addEventListener) {
        target.addEventListener(type, callback);
    } else {
        target.attachEvent('on' + type, callback);
        }
    }
	</script>