<nav>
  <div class="nav-wrapper main_nav">
    <ul id="slide-out" class="side-nav ">
      <li><a href="/">HUFS</a></li>
    </ul>
    
    <ul class="left hide-on-med-and-down">
      <li><a href="/">HUFS</a></li>
    </ul>
    <ul class="right">
      <li><a><i class="material-icons opener">search</i></a></li>
    </ul>
    <a href="/home/index" class="brand-logo center">HUFSPOON</a>
     <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
  </div>
  
    <div class="nav-wrapper nav_form">
      <form action="/home/search">
        <div class="input-field">
          <input id="search" type="search" name="keyword"required>
          <label for="search"><i class="material-icons">search</i></label>
          <input name="back" type="hidden" value="<%=@num%>">
          <i class="material-icons closer">close</i>
        </div>
      </form>
    </div>
</nav>
<div class="row">
  <br>
  <div class="col s12 m10 offset-m1 l8 offset-l2">
    <ul class="tabs" style="font-size:12px;">
      <li class="tab col s3"><a <%if @num=="0"%>class="active"<%else%> href="/home/leftindex/0" target="_self"<%end%>><%if @language=="4"%>한식<%else%>Korean<%end%></a></li>
      <li class="tab col s3"><a <%if @num=="1"%>class="active"<%else%> href="/home/leftindex/1" target="_self"<%end%>><%if @language=="4"%>일식<%else%>Japanese<%end%></a></li>
      <li class="tab col s3"><a <%if @num=="2"%>class="active"<%else%> href="/home/leftindex/2" target="_self"<%end%>><%if @language=="4"%>양식<%else%>Western<%end%></a></li>
      <li class="tab col s3"><a <%if @num=="3"%>class="active"<%else%> href="/home/leftindex/3" target="_self"<%end%>><%if @language=="4"%>중식<%else%>Chinese<%end%></a>
      <li class="tab col s3"><a <%if @num=="4"%>class="active"<%else%> href="/home/leftindex/4" target="_self"<%end%>><%if @language=="4"%>치킨<%else%>Chicken<%end%></a></li>
      <li class="tab col s3"><a <%if @num=="5"%>class="active"<%else%> href="/home/leftindex/5" target="_self"<%end%>><%if @language=="4"%>고기<%else%>Meat<%end%></a></li>
      <li class="tab col s3"><a <%if @num=="6"%>class="active"<%else%> href="/home/leftindex/6" target="_self"<%end%>><%if @language=="4"%>분식<%else%>Snack<%end%></a></li>
    </ul>
  </div>
  <div class="col s12 m10 offset-m1 l8 offset-l2">
    <div class="card">
      <div class="card-content" id="map" style="height:300px;"></div>
      <div class="fixed-action-btn" style="position:absolute; bottom: 0px; right: 0px;">
        <a class="btn-floating  waves-effect waves-light white black-text renew center">A</a>
        <a class="btn-floating  waves-effect waves-light white random"><i class="material-icons black-text">autorenew</i></a>
      </div>
    </div>
  </div>
   
  <div class="col s12 m10 offset-m1 l8 offset-l2">
    <div class="card">
      <div class="card-content">
        <table class="bordered">
          <thead>
            <tr>
              <th>
                <i class="material-icons">restaurant</i>
              </th>
              <th>
                <i class="material-icons">thumb_up</i>
              </th>
            </tr>
          </thead>
    
          <tbody style="font-size: 12px;">
            <%@all.each do |a|%>
              <%a[2].each do |re|%>
              <tr>
                <td><a href="/home/rightindex/<%=re.id%>"><%=re.name%></a></td>
                <td><%if @language=="4"%><%=re.re_menu%><%else%><%if re.ere_menu!=nil%><%=re.ere_menu.titleize%><%end%><%end%></td>
              </tr>
              <%end%>
            <%end%>
          </tbody>
        </table>
      </div>
    </div>
  </div>
    
  
</div>        

<div class="fixed-action-btn horizontal click-to-toggle" style="bottom: 14px; right: 14px; opacity: 0.8;">
  <a class="btn-floating btn-large white ">
    <i class="material-icons black-text">add</i>
  </a>
  <!--<%if @language=="4"%>-->
  <!--<a class="btn-floating btn-large orange lighten-2">-->
  <!--  한글-->
  <!--</a>-->
  <!--<%else%>-->
  <!--<a class="btn-floating btn-large red">-->
  <!--  EN-->
  <!--</a>-->
  <!--<%end%>-->
  <ul>
    <%if @language!="4"%><li><a class="btn-floating orange lighten-2" style="text-align:center;" href="/home/leftindex/<%=@num%>?language=4">한글</a></li><%end%>
    <%if @language!="0"%><li><a class="btn-floating red" style="text-align:center;" href="/home/leftindex/<%=@num%>?language=0">EN</a></li><%end%>
  </ul>
</div>
<script src="//apis.daum.net/maps/maps3.js?apikey=23598cdf36f0c5f5bf1f1bfda70b8e80&libraries=services"></script>
<script>
	var container = document.getElementById('map');
	var option = {
	  lat: 37.596418,
	  lng: 127.060246,
		level: 3
	};

	var map = daumMap(container, option);

  var markers=[];
  var overlays=[];
  <%@all.each do |m|%>
    markers.push(marker({
      lat: <%=m[0]%>,
      lng: <%=m[1]%>,
      map: map,
      clickable: true
    }));
    overlays.push(customOverlay({
      content: '<div class="placeinfo_wrap"><div class="placeinfo"><%m[2].each do |r|%><a class="title" href="/home/rightindex/<%=r.id%>"><%=r.name%></a><%end%>'+
                '<span>'+
                '<span style="text-align: right;" class="material-icons close" aria-hidden="true">clear</span>'+
                '</span></div>'+
                '<div class="after"></div></div>',
      clickable: true
    }));
  <%end%>
  easyMap.customOverlayOnClose(overlays,'overlays');
  easyMap.markerClick(markers,overlays);
  
  $(".button-collapse").sideNav();
  $(".opener").click(function(){
    $(".main_nav").hide();
    $(".nav_form").fadeIn();
    document.getElementById("search").focus();
  })
  $(".closer").click(function(){
    $(".nav_form").hide();
    $(".main_nav").fadeIn();
  })
  
  $('.modal-trigger').click(function(){
    $('.button-collapse').sideNav('hide');
    $('.modal-trigger').leanModal();
  })
    $(".closebtn").click(function(){
      $('#modal1').closeModal();
  })
</script>