<header>
  <br>
  <h1 id="title">HUFSPOON</h1>
  <br>
  <ul class="nav nav-tabs nav-justified">
    <li class="active"><a data-toggle="tab" href="#home">Searching</a></li>
    <li ><a href="/home/rightindex/0/0/0/0">Menu</a></li>
  </ul>
</header>
  <div class="tab-content">
	<!--여기서부터는 첫 번째 탭 입니다-->
    <div id="home" class="tab-pane fade in active"style="background-color:white;">
      <div class="container">
        <br/>
        <br/>
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span> 
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand">Select</a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
              <ul class="nav navbar-nav">
                <li <%if @num=="0"%> class="active"<%end%>><a href="/home/leftindex/0/<%=@dis%>/<%=@lat%>/<%=@lon%>">All</a></li>
                <li <%if @num=="1"%> class="active"<%end%>><a href="/home/leftindex/1/<%=@dis%>/<%=@lat%>/<%=@lon%>">Korean</a></li>
                <li <%if @num=="2"%> class="active"<%end%>><a href="/home/leftindex/2/<%=@dis%>/<%=@lat%>/<%=@lon%>">Japanese</a></li> 
                <li <%if @num=="3"%> class="active"<%end%>><a href="/home/leftindex/3/<%=@dis%>/<%=@lat%>/<%=@lon%>">Western</a></li>
                <li <%if @num=="4"%> class="active"<%end%>><a href="/home/leftindex/4/<%=@dis%>/<%=@lat%>/<%=@lon%>">Chinese</a></li>
              </ul>
            </div>
          </div>
        </nav>
        
        <button type="button" class="btn btn-default btn-lg opener">
          <span class="glyphicon glyphicon-map-marker" aria-hidden="true"></span> Map
        </button>
        <br/>
        <br/>
        
        <div id="mapsection" <%if @dis=="0"%>style="display:none;"<%end%>>
        <div class="option">
          <div>
            <form onsubmit="searchPlaces(); return false;">
              keyword : <input type="text"  value="hankuk university"id="keyword" size="15">
              <button type="submit">search</button>
            </form>
          </div>
        </div>
        <div style="width:100%; height:150px; overflow-y:scroll;"id="menu_wrap" class="bg_white">
          <hr>
          <ul id="placesList"></ul>
          <div id="pagination"></div>
        </div>
        <div class="well"id="map" style="width:100%;height:300px;"></div>
        </div>
        <br/>
        <br/>
        
	  </div>
    </div>
  </div>

<!--여기는 두번째 탭 내용입니다-->

	
</div>


<footer>
	<br>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                  <br>
                    <div id="foo">
                        <h5><a href="/">home</a></h5>
                    	<h6>L I K E L I O N  X  H U F S</h6>
                    	<h6>COPYRIGHT (C)</h6>
                    	<h6>CONTACT : -- </h6>
                    	<h6><a data-toggle="modal" data-target="#myModal">CONTRIBUTOR</a></h6>
                    	<a href="/oadpage/dbmain">
                    	<% if admin_signed_in? %>
                    		DB관리
                    	<%else%>
                       		admin
                    	<%end%>
                    	</a>
                    </div>
                    	
                    <br>
                </div>
            </div>
        </div>
    </footer>
    <div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

    <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">MondaySpoon</h4>
        </div>
        <div class="modal-body">
          <div class="panel panel-default">
			<div class="panel-heading">전진철 / JIN CHEOL JUHN</div>
			<div class="panel-body">CFO / </div>
		  </div>
		  <div class="panel panel-default">
			<div class="panel-heading">김소영 / SO YOUNG KIM</div>
			<div class="panel-body">CDO</div>
		  </div>
		  <div class="panel panel-default">
			<div class="panel-heading">이상록 / SANG ROK LEE</div>
			<div class="panel-body">CTO</div>
		  </div>
		  <div class="panel panel-default">
			<div class="panel-heading">이승준 / SEUNG JUN LEE</div>
			<div class="panel-body">CMO (상암동 순정남)</div>
		  </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>
    <!--<script type="text/javascript" src="//apis.daum.net/maps/maps3.js?apikey=23598cdf36f0c5f5bf1f1bfda70b8e80"></script>-->
    <script src="https://spi.maps.daum.net/imap/map_js_init/postcode.v2.js"></script>
    <script src="//apis.daum.net/maps/maps3.js?apikey=23598cdf36f0c5f5bf1f1bfda70b8e80&libraries=services"></script>
	<script>
  $( ".opener" ).click(function() {
    $( "#mapsection" ).slideToggle( "slow", function() {
      map.relayout();
    // Animation complete.
    });
  });
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-78572906-1', 'auto');
  ga('send', 'pageview');


// 키워드 검색을 요청하는 함수입니다
function searchPlaces() {

    var keyword = document.getElementById('keyword').value;

    if (!keyword.replace(/^\s+|\s+$/g, '')) {
        alert('키워드를 입력해주세요!');
        return false;
    }

    // 장소검색 객체를 통해 키워드로 장소검색을 요청합니다
    ps.keywordSearch( keyword, placesSearchCB); 
}

// 장소검색이 완료됐을 때 호출되는 콜백함수 입니다
function placesSearchCB(status, data, pagination) {
    if (status === daum.maps.services.Status.OK) {

        // 정상적으로 검색이 완료됐으면
        // 검색 목록과 마커를 표출합니다
        displayPlaces(data.places);

        // 페이지 번호를 표출합니다
        displayPagination(pagination);

    } else if (status === daum.maps.services.Status.ZERO_RESULT) {

        alert('검색 결과가 존재하지 않습니다.');
        return;

    } else if (status === daum.maps.services.Status.ERROR) {

        alert('검색 결과 중 오류가 발생했습니다.');
        return;

    }
}

// 검색 결과 목록과 마커를 표출하는 함수입니다
  function displayPlaces(places) {

    var listEl = document.getElementById('placesList'), 
    menuEl = document.getElementById('menu_wrap'),
    fragment = document.createDocumentFragment(), 
    bounds = new daum.maps.LatLngBounds(), 
    listStr = '';
    
    // 검색 결과 목록에 추가된 항목들을 제거합니다
    removeAllChildNods(listEl);


    
    for ( var i=0; i<places.length; i++ ) {

        // 마커를 생성하고 지도에 표시합니다
        var placePosition = new daum.maps.LatLng(places[i].latitude, places[i].longitude),
            
            itemEl = getListItem(i, places[i], marker); // 검색 결과 항목 Element를 생성합니다

        // 검색된 장소 위치를 기준으로 지도 범위를 재설정하기위해
        // LatLngBounds 객체에 좌표를 추가합니다
        bounds.extend(placePosition);
        
        (function(places) {
            

            itemEl.onclick =  function () {
                var moveLatLon = new daum.maps.LatLng(places.latitude, places.longitude);
                map.setCenter(moveLatLon);
                map.setLevel(3);
            };

            
        })(places[i]);


        fragment.appendChild(itemEl);
    }

    // 검색결과 항목들을 검색결과 목록 Elemnet에 추가합니다
    listEl.appendChild(fragment);
    menuEl.scrollTop = 0;

    // 검색된 장소 위치를 기준으로 지도 범위를 재설정합니다
    //map.setBounds(bounds);
  }

// 검색결과 항목을 Element로 반환하는 함수입니다
  function getListItem(index, places) {
  
      var el = document.createElement('li'),
      itemStr =           '<div class="info">' +
                  '   <h5>' + places.title + '</h5>';
  
      if (places.newAddress) {
          itemStr += '    <span>' + places.newAddress + '</span>' +
                      '   <span class="jibun gray">' +  places.address  + '</span>';
      } else {
          itemStr += '    <span>' +  places.address  + '</span>'; 
      }
                   
        itemStr += '  <span class="tel">' + places.phone  + '</span>' +
                  '</div>';           
  
      el.innerHTML = itemStr;
      el.className = 'item';
  
      return el;
  }
// 검색결과 목록 하단에 페이지번호를 표시는 함수입니다
  function displayPagination(pagination) {
      var paginationEl = document.getElementById('pagination'),
          fragment = document.createDocumentFragment(),
          i; 
  
      // 기존에 추가된 페이지번호를 삭제합니다
      while (paginationEl.hasChildNodes()) {
          paginationEl.removeChild (paginationEl.lastChild);
      }
  
      for (i=1; i<=pagination.last; i++) {
          var el = document.createElement('a');
          el.href = "#";
          el.innerHTML = i;
  
          if (i===pagination.current) {
              el.className = 'on';
          } else {
              el.onclick = (function(i) {
                  return function() {
                      pagination.gotoPage(i);
                  }
              })(i);
          }
  
          fragment.appendChild(el);
      }
      paginationEl.appendChild(fragment);
  }


 // 검색결과 목록의 자식 Element를 제거하는 함수입니다
  function removeAllChildNods(el) {   
    while (el.hasChildNodes()) {
      el.removeChild (el.lastChild);
    }
  }
  function makeClickListener(map, marker, infowindow) {
    return function() {
      infowindow.open(map, marker);
    };
  }
  <%if @num=="0"%>
  	var positions = [
      <%Map.all.each do |m|%>
        {
          latlng: new daum.maps.LatLng(<%=m.lat%>,<%=m.lon%>),
          iwContent: '<%m.rests.each do |r|%><div><a style="text-align:center;" href="/home/rightindex/<%=r.id%>/<%=@num%>/<%=m.lat%>/<%=m.lon%>"><%=r.name%></a></div><%end%>',
        },
      <%end%>];
  <%else%>
    var positions = [
      <%@all.each do |m|%>
        {
             
            latlng: new daum.maps.LatLng(<%=m[0]%>,<%=m[1]%>),
            iwContent: '<%m[2].each do |r|%><div><a style="text-align:center;" href="/home/rightindex/<%=r[0]%>/<%=@num%>/<%=m[0]%>/<%=m[1]%>"><%=r[1]%></a></div><%end%>',
            
        },
      <%end%>];
  <%end%>
  
        	var container = document.getElementById('map');
      		var options = {
      			center: new daum.maps.LatLng(<%if @lat=="0"%>37.597415, 127.057824<%else%><%=@lat%>,<%=@lon%><%end%>),
      			level: 3
      		};
      
      		var map = new daum.maps.Map(container, options);
      		var ps = new daum.maps.services.Places();  
      
      
      
      // 키워드로 장소를 검색합니다
    searchPlaces();
        for (var i = 0; i < positions.length; i ++) {
        
            var marker = new daum.maps.Marker({
                map: map, // 마커를 표시할 지도
                position: positions[i].latlng, // 마커를 표시할 위치
                clickable: true
            });
            var infowindow = new daum.maps.InfoWindow({
                removable : true,
                position : positions[i].latlng, 
                content : positions[i].iwContent
            });
            daum.maps.event.addListener(marker, 'click', makeClickListener(map, marker, infowindow));
            
        };
  
	</script>