
<nav>
  <div class="nav-wrapper main_nav">
    <ul class="left">
      <li>
        <%if @back!=-1%><a href="/home/leftindex/<%=@back%>"><%else%><a href="/"><%end%>
          <i class="material-icons">undo</i>
        </a>
      </li>
    </ul>
    <ul class="right">
      <li><a><i class="material-icons opener">search</i></a></li>
    </ul>
    <a href="/home/index" class="brand-logo center">HUFSPOON</a>
  </div>
  
    <div class="nav-wrapper nav_form">
      <form action="/home/search">
        <div class="input-field">
          <input id="search" type="search" name="keyword"required>
          <label for="search"><i class="material-icons">search</i></label>
          <input name="back" value="<%=@back%>" type="hidden">
          <i class="material-icons closer">close</i>
        </div>
      </form>
    </div>
</nav>
<div class="row">
    <br>
    <div class="col s12 m10 offset-m1 l8 offset-l2">
      <div class="card">
        <div class="card-content" id="map" style="height:300px;"></div>
          
      </div>
    </div>
    <div class="col s12 m10 offset-m1 l8 offset-l2">
      <div class="card">
        <div class="card-content">
          <span class="card-title"><%=@rest.name%><a id="kakao-link-btn" href="javascript:;"class="waves-effect waves-light right"><img src="//dev.kakao.com/assets/img/about/logos/kakaolink/kakaolink_btn_small.png"/></a></span>
          <div class="divider"></div>
          <div class="section">
            <%if @rest.picture!=""&&@rest.picture!=nil%><img src="<%=@rest.picture%>" height="250" style="max-width: 100%; height: 250px;"><%end%>
            <table>
              <tbody>
                <tr>
                  <td><i class="material-icons">schedule</i></td>
                  <td><%=@rest.open%></td>
                </tr>
                <tr>
                  <td><i class="material-icons">call</i></td>
                  <td><%=@rest.phone%></td>
                </tr>
                <tr>
                  <td><i class="material-icons">place</i></td>
                  <td><%=@rest.address%></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    
    <div class="col s12 m10 offset-m1 l8 offset-l2">
      <ul class="tabs">
        <li class="tab col s12"><a class="active"href="#Restaurants">MENUS</a></li>
      </ul>
    </div>
    
    <%@num.times do |m|%>
    <div class="col s12 m10 offset-m1 l8 offset-l2">
      <div class="card">
        <div class="card-content">
          <span class="card-title red-text"><%if @pages!=nil%><%=@pages[m]%><%end%></span>
          <div class="divider"></div>
          <table class="bordered"style="font-size: 12px;">
            <tbody>
              <%@menuarray[m].each do|a|%>
              <tr>
                <td>
                  <%if @language=="4"%>
                    <span class="k" id="<%=a.id%>k"><%=a.menuname%></span><span class="e" id="<%=a.id%>e"style="display:none;"><%=a.emenuname.titleize%></span>
                  <%else%>
                    <span class="k" id="<%=a.id%>k" style="display:none;"><%=a.menuname%></span><span class="e" id="<%=a.id%>e"><%=a.emenuname.titleize%></span>
                  <%end%>
                  <%if a.content!=""%><br><span class="grey-text"><%=a.content%></span><%end%>
                </td>
                <td class="right-align"><%=a.cost%></td>
              </tr>
              <%end%>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <%end%>
</div>
<div class="fixed-action-btn horizontal click-to-toggle" style="bottom: 14px; right: 14px; opacity: 0.8;">
  <a class="btn-floating btn-large white">
    <i class="material-icons black-text">add</i>
  </a>
  <!--<%if @language=="4"%>-->
  <!--<a class="btn-floating btn-large orange lighten-2">-->
  <!--  한글-->
  <!--</a>-->
  <!--<%else%>-->
  <!--<a class="btn-floating btn-large red">-->
  <!--  EN-->
  <!--</a>-->
  <!--<%end%>-->
  <ul>
    <%if @language!="4"%><li><a class="btn-floating orange lighten-2" style="text-align:center;" href="/home/rightindex/<%=@rest.id%>?language=4">한글</a></li><%end%>
    <%if @language!="0"%><li><a class="btn-floating red" style="text-align:center;" href="/home/rightindex/<%=@rest.id%>?language=0">EN</a></li><%end%>
  </ul>
</div>
<script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>
<script src="//apis.daum.net/maps/maps3.js?apikey=23598cdf36f0c5f5bf1f1bfda70b8e80&libraries=services"></script>
<script>
    var placeOverlay = new daum.maps.CustomOverlay({zIndex:1}), 
    contentNode = document.createElement('div');
	var markers=[1];
	var container = document.getElementById('map');
	var options = {
		center: new daum.maps.LatLng(<%=@map.lat%>, <%=@map.lon%>),
		level: 2
	};

	var map = new daum.maps.Map(container, options);
	var ps = new daum.maps.services.Places();  
  // 커스텀 오버레이의 컨텐츠 노드에 css class를 추가합니다 
  contentNode.className = 'placeinfo_wrap';
  
  // 커스텀 오버레이의 컨텐츠 노드에 mousedown, touchstart 이벤트가 발생했을때
  // 지도 객체에 이벤트가 전달되지 않도록 이벤트 핸들러로 daum.maps.event.preventMap 메소드를 등록합니다 
  addEventHandle(contentNode, 'mousedown', daum.maps.event.preventMap);
  addEventHandle(contentNode, 'touchstart', daum.maps.event.preventMap);
  
  // 커스텀 오버레이 컨텐츠를 설정합니다
  placeOverlay.setContent(contentNode);
  var positions=[{
             
            latlng: new daum.maps.LatLng(<%=@map.lat%>,<%=@map.lon%>),
            iwContent: '<a class="title" ><%=@rest.name%></a>'
            
        }];
    allshow();
  $(".opener").click(function(){
    $(".main_nav").hide();
    $(".nav_form").fadeIn();
    document.getElementById("search").focus();
  })
  $(".closer").click(function(){
    $(".nav_form").hide();
    $(".main_nav").fadeIn();
  })
  $(".e").click(function(){
    var thisid=$(this).attr("id");
    thisid=thisid.substr(0,thisid.length-1);
    $(this).hide();
    $("#"+thisid+"k").show();
  })
  $(".k").click(function(){
    var thisid=$(this).attr("id");
    thisid=thisid.substr(0,thisid.length-1);
    $(this).hide();
    $("#"+thisid+"e").show();
  })
  
  
  function allshow(){
    for (var i = 0; i < positions.length; i ++) {
    
        var marker = new daum.maps.Marker({
            map: map, // 마커를 표시할 지도
            position: positions[i].latlng, // 마커를 표시할 위치
            clickable: true
        });
        (function(iwcontent,position) {
                daum.maps.event.addListener(marker, 'click', function() {
                    displayPlaceInfo(iwcontent,position);
                });
            })(positions[i].iwContent,positions[i].latlng);
        markers.push(marker);
    };
  };
  
  	
    
    function displayPlaceInfo (iwcontent,position) {
        var content = '<div class="placeinfo">'+iwcontent+
                        '<span>'+
                        '<span style="text-align: right;" onclick="overlayclose();" class="material-icons" aria-hidden="true">clear</span>'+
                        '</span></div>'+
                        '<div class="after"></div>';
        contentNode.innerHTML = content;
        placeOverlay.setPosition(position);
        placeOverlay.setMap(map);  
    }
    
    function overlayclose(){
      placeOverlay.setMap(null);
    }
    
    function addEventHandle(target, type, callback) {
    if (target.addEventListener) {
        target.addEventListener(type, callback);
    } else {
        target.attachEvent('on' + type, callback);
        }
    }
    Kakao.init('3a6d3b6e790c8028083ec1a6888a0868');
    // // 카카오톡 링크 버튼을 생성합니다. 처음 한번만 호출하면 됩니다.
    Kakao.Link.createTalkLinkButton({
      container: '#kakao-link-btn',
      label: '<%=@rest.name%> 메뉴 확인하세요!',
      image: {
        src: 'https://s3.ap-northeast-2.amazonaws.com/elasticbeanstalk-ap-northeast-2-850152653970/nail.jpg',
        width: '300',
        height: '200'
      },
      webButton: {
        text: 'Hufspoon',
        url: 'http://www.hfspn.co/home/rightindex/<%=@rest.id%>' // 앱 설정의 웹 플랫폼에 등록한 도메인의 URL이어야 합니다.
      }
    });
</script>