<nav>
  <div class="nav-wrapper main_nav">
    
    <ul class="left">
      <li><a href="<%if @back=="-1"%>/home/index<%else%>/home/leftindex/<%=@back%><%end%>"><i class="material-icons">undo</i></a></li>
    </ul>
    <ul class="right">
      <li><a><i class="material-icons opener">search</i></a></li>
    </ul>
    <a href="#" class="brand-logo center">HUFSPOON</a>
  </div>
  
    <div class="nav-wrapper nav_form">
      <form action="/home/search" >
        <div class="input-field">
          <input id="search" type="search" name="keyword"required>
          <label for="search"><i class="material-icons">search</i></label>
          <i class="material-icons closer">close</i>
        </div>
      </form>
    </div>
</nav>
<br>
<div class="row">
  <div class="col s12 m10 offset-m1 l8 offset-l2">
    <ul class="tabs">
      <li class="tab col s6"><a href="#rest">Restaurant</a></li>
      <li class="tab col s6"><a href="#menu">Menu</a></li>
    </ul>
  </div>
  <div class="col s12 m10 offset-m1 l8 offset-l2">
    <div class="card-panel center">
      <span>Results of <%=@keyword%></span>
    </div>
  </div>
  <div id="rest" class="col s12 m10 offset-m1 l8 offset-l2">
    <%@rest.each do |r|%>
      <div class="col s12 ">
        <div class="card ">
          <div class="card-content ">
            <a href="/home/rightindex/<%=r.id%>"><span class="card-title"><%=r.name%></span></a>
            <div class="divider"></div>
            <div class="section ">
            <p class="truncate"><%r.rmenu.each do |k|%><%if k.pagenum!=0%><%=k.menuname%> <%end%><%end%></p>
            </div>
          </div>
        </div>
      </div>
    <%end%>
  </div>
  
  <div id="menu" class="col s12 m10 offset-m1 l8 offset-l2">
    <%@result.each do |r|%>
      <div class="col s12">
        <div class="card ">
          <div class="card-content ">
            <a href="/home/rightindex/<%=r.id%>"><span class="card-title"><%=r.name%></span></a>
            <div class="divider"></div>
            <div class="section ">
            <p class="truncate"><%r.rmenu.each do |k|%><%=k.menuname%> <%end%></p>
            </div>
          </div>
        </div>
      </div>
    <%end%>
  </div>
</div>
    
<script>
  $(document).ready(function(){
    $('ul.tabs').tabs();
  });
  $(".opener").click(function(){
    $(".main_nav").hide();
    $(".nav_form").fadeIn();
    document.getElementById("search").focus();
  })
  $(".closer").click(function(){
    $(".nav_form").hide();
    $(".main_nav").fadeIn();
  })
</script>