<div class="card" style="margin-top: 0px;">
  <nav style="display: none; position: absolute; top: 0px; width: 100%; height: 56px; box-shadow: none; z-index: 2; background-color: transparent;" class="nav_form">
    <form action="/rests">
      <div class="input-field">
        <input id="search" type="search" name="q" required>
        <label for="q"><i class="material-icons">search</i></label>
        <i class="material-icons closer">close</i>
      </div>
    </form>
  </nav>
  <nav class="main_nav" style="position: absolute; top: 0px; width: 100%; background-color: transparent; height: 56px; z-index: 2; box-shadow: none;">
    <ul class="left">
      <li><a href="<%if @back=="backhome"%>/<%elsif @back == nil%>/rests<%else%>/rests?q=<%=@back%><%end%>"><i class="material-icons <%if @rest.picture == "" || @rest.picture == nil%>black-text<%else%>white-text<%end%>">undo</i></a></li>
    </ul>
    <ul class="right">
      <li><a id="kakao-link-btn" href="javascript:;" style="height: 56px;" class="waves-effect waves-light right"><img style = "height: 40px; vertical-align: middle;" src="//dev.kakao.com/assets/img/about/logos/kakaolink/kakaolink_btn_small.png"/></a></li>
      <li><a><i class="material-icons opener <%if @rest.picture == "" || @rest.picture == nil%>black-text<%else%>white-text<%end%>">search</i></a></li>
    </ul>
  </nav>
  <%if @rest.picture!=""&&@rest.picture!=nil%>
  <div class="carousel carousel-slider card-image" style="max-width: 100%; height: 200px;">
    <%@rest.picture.split("http")[1..-1].each do |p|%>
    <a class="carousel-item"><img src="http<%=p%>" height="200"></a>
    <%end%>
  </div>
  <%else%>
  <div class="card-image">
    <img src="https://s19.postimg.org/yqsm53ntd/always.png" height="200">
  </div>
  <%end%>
  <div class="card-tabs show">
    <ul class="tabs tabs-fixed-width">
      <li class="tab"><a class="active" href="#info">INFO</a></li>
      <li class="tab"><a href="#dMap">MAP</a></li>
    </ul>
  </div>
  <div class="card-content">
    <div id="info">
      <table>
        <tbody class="aTable">
          <tr>
            <td colspan="2"><span class="card-title"><%=@rest.name%></span></td>
          </tr>
          <tr>
            <td><i class="material-icons">schedule</i></td>
            <td><%=@rest.open%></td>
          </tr>
          <tr>
            <td><i class="material-icons">call</i></td>
            <td><%=@rest.phone%></td>
          </tr>
          <tr>
            <td><i class="material-icons">place</i></td>
            <td><%=@rest.address%></td>
          </tr>
        </tbody>
      </table>
    </div>
    <div id="dMap" style="position: relative">
      <div id="map" style="height:300px;"></div>
      <div id="roadView" style="display:none; height:330px;"></div>
      <a class="waves-effect waves-light btn red lighten-2" style="position: absolute; top:5px;right:5px;" id="roadBtn" data-type="ROAD">ROAD</a>
    </div>
  </div>
</div>

<%if @picture_exist.length != 0%>
<ul class="collapsible" data-collapsible="accordion">
  <li>
    <div class="collapsible-header active red-text text-lighten-3"><i class="material-icons">restaurant_menu</i>대표 메뉴(Signature Menu)</div>
    <div class="collapsible-body" style="padding: 0px; background-color: white;">
      <table>
        <tbody>
          <%(@picture_exist.length/2.0).ceil.times do |number|%>
          <tr>
          <%card = @picture_exist[number*2]%>
          <%if card%>
          <td style="width: 50%; vertical-align: top;">
            <div class="card pMenu">
              <div class="card-image">
                <img class="materialboxed showImg" src="<%=card.picture%>">
              </div>
              <div class="card-content">
                <p class="center-align"><%=card.menuname%><br/><%=card.emenuname.titleize%><br/><%=card.cmenuname%><br/>
                <span class="blue-text text-lighten-2"><%=number_with_delimiter(card.cost, :delimiter => ',')%> won</span>
                </p>
              </div>
            </div>
          </td>
          <%end%>
          <%card = @picture_exist[number*2+1]%>
          <%if card%>
          <td style="width: 50%; vertical-align: top;">
            <div class="card pMenu">
              <div class="card-image">
                <img class="materialboxed showImg" src="<%=card.picture%>">
              </div>
              <div class="card-content">
                <p class="center-align"><%=card.menuname%><br/><%=card.emenuname.titleize%><br/><%=card.cmenuname%><br/>
                <span class="blue-text text-lighten-2"><%=number_with_delimiter(card.cost, :delimiter => ',')%> won</span>
                </p>
              </div>
            </div>
          </td>
          <%end%>
          </tr>
          <%end%>
        </tbody>
      </table>
    </div>
  </li>
</ul>
<%end%>
<%@num.times do |m|%>
  <ul class="collapsible" data-collapsible="accordion">
    <li>
      <div class="collapsible-header active red-text text-lighten-3"><i class="material-icons">restaurant_menu</i><%if @pages.blank?||@pages[m].blank?%>MENU<%else%><%=@pages[m]%><%end%></div>
      <div class="collapsible-body" style="padding: 0px;">
        <table class="bordered" style="font-size: 12px;">
          <tbody>
            <%@menuarray[m].each do|a|%>
            <tr>
              <td class="center" style="width: 70%">
                <span class="k"><%=a.menuname%></span><br/>
                <span class="e"><%=a.emenuname.titleize%></span><br/>
                <span class="e"><%=a.cmenuname%></span><br/>
                <%if a.content!=""%><span class="grey-text"><%=a.content%></span><%end%>
              </td>
              <td class="center blue-text text-lighten-2" style="width: 30%"><%=number_with_delimiter(a.cost, :delimiter => ',')%> won</td>
            </tr>
            <%end%>
          </tbody>
        </table>
      </div>
    </li>
  </ul>
<%end%>

<script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>
<script src="//apis.daum.net/maps/maps3.js?apikey=23598cdf36f0c5f5bf1f1bfda70b8e80&libraries=services"></script>
<script>
 $(document).ready(function(){
   $('.collapsible').collapsible();
   $('.materialboxed').materialbox();
   $('.carousel').carousel({fullWidth: true, indicators: true});
  $(".opener").click(function(){
    $(".main_nav").hide();
    $(".nav_form").fadeIn();
    document.getElementById("search").focus();
  })
  $(".closer").click(function(){
    $(".nav_form").hide();
    $(".main_nav").fadeIn();
  })
  $('ul.tabs').tabs({
    onShow: function(){
      map.relayout();
      map.center([<%=@map.lat%>,<%=@map.lon%>]);
    }
  });

  $('#roadBtn').click(function(){
    var $this=$(this);
    if($this.data('type')=='ROAD'){
      $this.text('MAP').data('type','MAP');
    }
    else{
      $this.text('ROAD').data('type','ROAD');
    }
    $('#map').toggle();
    $('#roadView').toggle();
    map.relayout();
    roadView.relayout();
  });
  Kakao.init('3a6d3b6e790c8028083ec1a6888a0868');
  Kakao.Link.createTalkLinkButton({
    container: '#kakao-link-btn',
    label: '<%=@rest.name%> 메뉴 확인하세요!',
    image: {
      src: '<%if @rest.picture!=""&&@rest.picture!=nil%><%=@rest.picture.split(',')[0]%><%else%>https://s19.postimg.org/t6g4ugoyb/nail.jpg<%end%>',
      width: '300',
      height: '200'
    },
    webButton: {
      text: 'HUFSPOON',
      url: 'http://www.hfspn.co/rests/<%=@rest.id%>'
    }
  });
  var container = document.getElementById('map');
	var option = {
	  center: [<%=@map.lat%>,<%=@map.lon%>],
		level: 2
	};
	
	var roadContainer=document.getElementById('roadView');

	var map = new own.DaumMap(container, option);
  var roadView=new own.DaumRoadView(roadContainer);
  
  roadView.position({position: [<%=@map.lat%>,<%=@map.lon%>]});
  
  var markerOption={
    position: [<%=@map.lat%>,<%=@map.lon%>],
    map: map,
    clickable: true
  };
  
  var overlayOption={
    content: '<div class="placeinfo_wrap"><div class="placeinfo"><a class="ptitle" ><%=@rest.name%></a><span>'+
              '<span style="text-align: right;" class="material-icons close" aria-hidden="true">clear</span>'+
              '</span></div><div class="after"></div></div>',
    clickable: true
  };
  
  var markerMap=new own.Marker(markerOption);
  overlay=new own.CustomOverlay(overlayOption);
  
  overlay.onClose('overlay');

  markerMap.on('click',function(){
    overlay.open(markerMap);
  });
 })
	
</script>