<%content_for :left do%>
  <%if @back=-1%><a href="/"><%else%><a href="/rests?num=<%=@back%>"><%end%><i class="material-icons">undo</i></a>
<%end%>
<%content_for :search_form do%>
  <div class="nav-wrapper nav_form">
    <form action="/rests/search">
      <div class="input-field">
        <input id="search" type="search" name="keyword"required>
        <label for="search"><i class="material-icons">search</i></label>
        <input name="back" value="<%=@back%>" type="hidden">
        <i class="material-icons closer">close</i>
      </div>
    </form>
  </div>
<%end%>
<div class="row">
    <br>
    <div class="col s12 m10 offset-m1 l8 offset-l2">
      <div class="card">
        <div class="card-content" id="map" style="height:300px;"></div>
      </div>
    </div>
    <div class="col s12 m10 offset-m1 l8 offset-l2">
      <div class="card">
        <div class="card-content">
          <span class="card-title"><%=@rest.name%><a id="kakao-link-btn" href="javascript:;"class="waves-effect waves-light right"><img src="//dev.kakao.com/assets/img/about/logos/kakaolink/kakaolink_btn_small.png"/></a></span>
          <div class="divider"></div>
          <div class="section">
            <%if @rest.picture!=""&&@rest.picture!=nil%>
            <div class="carousel carousel-slider" style="max-width: 100%; height: 200px;">
              <%@rest.picture.split("http")[1..-1].each do |p|%>
              <a class="carousel-item"><img src="http<%=p%>" height="200"></a>
              <%end%>
            </div>
            <%end%>
            <table>
              <tbody>
                <tr>
                  <td><i class="material-icons">schedule</i></td>
                  <td><%=@rest.open%></td>
                </tr>
                <tr>
                  <td><i class="material-icons">call</i></td>
                  <td><%=@rest.phone%></td>
                </tr>
                <tr>
                  <td><i class="material-icons">place</i></td>
                  <td><%=@rest.address%></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    
    <div class="col s12 m10 offset-m1 l8 offset-l2">
      <ul class="tabs">
        <li class="tab col s12"><a class="active"href="#Restaurants">MENUS</a></li>
      </ul>
    </div>
    
    <%@num.times do |m|%>
    <div class="col s12 m10 offset-m1 l8 offset-l2">
      <div class="card">
        <div class="card-content">
          <span class="card-title red-text"><%if @pages!=nil%><%=@pages[m]%><%end%></span>
          <div class="divider"></div>
          <table class="bordered"style="font-size: 12px;">
            <tbody>
              <%@menuarray[m].each do|a|%>
              <tr>
                <td>
                  <span class="k"><%=a.menuname%></span><br/>
                  <span class="e"><%=a.emenuname.titleize%></span><br/>
                  <span class="e"><%=a.cmenuname%></span><br/>
                  <%if a.content!=""%><span class="grey-text"><%=a.content%></span><%end%>
                </td>
                <td class="right-align"><%=a.cost%> won</td>
              </tr>
              <%end%>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <%end%>
</div>
<script src="//developers.kakao.com/sdk/js/kakao.min.js"></script>
<script src="//apis.daum.net/maps/maps3.js?apikey=23598cdf36f0c5f5bf1f1bfda70b8e80&libraries=services"></script>
<script>
 $(document).ready(function(){
   $('.carousel.carousel-slider').carousel({full_width: true, indicators: true});
  $(".opener").click(function(){
    $(".main_nav").hide();
    $(".nav_form").fadeIn();
    document.getElementById("search").focus();
  })
  $(".closer").click(function(){
    $(".nav_form").hide();
    $(".main_nav").fadeIn();
  })
  
  Kakao.init('3a6d3b6e790c8028083ec1a6888a0868');
  Kakao.Link.createTalkLinkButton({
    container: '#kakao-link-btn',
    label: '<%=@rest.name%> 메뉴 확인하세요!',
    image: {
      src: '<%if @rest.picture!=""&&@rest.picture!=nil%><%=@rest.picture.split(',')[0]%><%else%>https://s19.postimg.org/t6g4ugoyb/nail.jpg<%end%>',
      width: '300',
      height: '200'
    },
    webButton: {
      text: 'Hufspoon',
      url: 'http://www.hfspn.co/home/rightindex/<%=@rest.id%>' // 앱 설정의 웹 플랫폼에 등록한 도메인의 URL이어야 합니다.
    }
  });
 })
	var container = document.getElementById('map');
	var option = {
	  lat: <%=@map.lat%>,
	  lng: <%=@map.lon%>,
		level: 2
	};

	var map = daumMap(container, option);
  
  var markerOption={
    lat: <%=@map.lat%>,
    lng: <%=@map.lon%>,
    map: map,
    clickable: true
  };
    
  var overlayOption={
    content: '<div class="placeinfo_wrap"><div class="placeinfo"><a class="title" ><%=@rest.name%></a><span>'+
              '<span style="text-align: right;" class="material-icons close" aria-hidden="true">clear</span>'+
              '</span></div><div class="after"></div></div>',
    clickable: true
  };
  
  var marker=marker(markerOption);
  var overlay=customOverlay(overlayOption);
  
  overlay.onClose('overlay');
  
  marker.on('click',function(){
    overlay.open(marker);
  });
</script>