<% content_for :menu do%>
  <li>
  <%if @intinfo!=nil%>
    <%if @intinfo>=0%>
    <%=link_to "돌아가기",data_menulists_path(:page => @page)%>
    <%else%>
    <a href="/data/rests/<%=(@intinfo*-1)%>">돌아가기</a>
    <%end%>
  <%else%>
    <%=link_to "돌아가기",search_data_menulists_path(page: 0,keyword: @page)%>
  <%end%>
  </li>
<%end%>
<div class="container">
  <h2>수정해 주세요</h2>
  <%=form_for @menulist, url: data_menulist_path do |f|%>
    <%=f.text_field :page, value: @page, type: :hidden%>
    <%@languageList.each do |language| %>
      <div class="input-field">
        <%=f.label language[:dataTransName]%>
        <%=f.text_field language[:dbName] %>
      </div>
    <%end%>
    <%=f.submit "저장",class: :btn%>
  <%end%>
</div>
<br>
<script>
  $(".button-collapse").sideNav();
</script>