<% content_for :menu do%>
  <li><%=link_to "번역추가",new_data_menulist_path(:page => @page)%></li>
  <li>
    <%if @page==0%>
      <%=link_to "모든메뉴보기",data_menulists_path(:page => 1)%>
    <%else%>
      <%=link_to "신메뉴만보기",data_menulists_path(:page => 0)%>
    <%end%>
  </li>
  <li><a href="/data/menulists.csv">DB 다운로드</a></li>
  <li><a class="modal-trigger" href="#modal">DB 업로드</a></li>
  <li><a href="/data/menulists/top">자주나오는 500</a></li>
<%end%>
<% content_for :search_form do%>
  <div class="nav-wrapper nav_form">
    <%=form_tag search_data_menulists_path(page: @page),method: :get do%>
      <div class="input-field">
        <%=text_field_tag :keyword, '', type: :search %>
        <%=label :keyword, '' do%>
          <i class="material-icons">search</i>
        <%end%>
        <i class="material-icons closer">close</i>
      </div>
    <%end%>
  </div>
<%end%>
<br>
<div class="table-responsive">
  <table class="table">
    <tr>
      <th>ID</th>
      <th>KR</th>
      <th>EN</th>
      <th> </th>
      <th> </th>
    </tr>
    <%if @list!=nil%>
      <% @list.each_with_index do|l,number|%>
        <tr>
          <td><%if @page!=0%><%=number+(@page-1)*300+1%><%else%><%=number+1%><%end%></td>
          <td><%=l.kname%></td>
          <td><%=l.ename%></td>
          <td><%=link_to '수정',edit_data_menulist_path(l, page: @page),{class: :btn, data: {confirm: '정말 수정 하시겠습니까?'}}%></td>
          <td><%=link_to '삭제',data_menulist_path(l), {class: :btn, method: :delete, data: {confirm: '정말 삭제 하시겠습니까?'}}%></td>
        </tr>
      <%end%>
    <%end%>
  </table>
</div>
        
<%unless @page==0%>
  <ul class="pagination center-align">
    <%@num.times do|n|%>
      <%if @page==n+1%>
        <li class="active"><%=link_to n+1, data_menulists_path(:page => n+1)%></li>
      <%else%>
        <li><%=link_to n+1,data_menulists_path(:page => n+1)%></li>
      <%end%>
    <%end%>
  </ul>
<%end%>
<div id="modal" class="modal">
  <div class="modal-content">
    <%=form_tag({action: :create}, multipart: true) do%>
      <div class="file-field input-field">
        <div class="btn">
          <span>CSV File</span>
          <%=file_field_tag :upfile, type: :file%>
        </div>
        <div class="file-path-wrapper">
          <%=text_field_tag :path,"",class: "file-path validate",type: :text%>
        </div>
      </div>
      <%=submit_tag '업로드',class: :btn%>
    <%end%>
    <a class="btn" href="/data/menulists/guide.csv">업로드 행렬가이드 파일 다운</a>
  </div>
</div>
<script>
  $('.modal').modal();
  $(".button-collapse").sideNav();
  $(".opener").click(function(){
    $(".main_nav").hide();
    $(".nav_form").fadeIn();
    document.getElementById("keyword").focus();
  })
  $(".closer").click(function(){
    $(".nav_form").hide();
    $(".main_nav").fadeIn();
  })
</script>