<% content_for :menu do%>
<li><%=link_to "돌아가기",data_menulists_path(:page => @page)%></li>
<%end%>
<div class="container">
<h3>메뉴번역추가</h3>
        
  <%=form_for @menulist, url: data_menulists_path do |f|%>
    <%=f.text_field :page,value: @page,type: :hidden%>
    <div class="input-field">
      <%=f.label "KR"%>
      <%=f.text_field :kname%>
    </div>
    <div class="input-field">
      <%=f.label "EN"%>
      <%=f.text_field :ename%>
    </div>
    <div class="input-field">
      <%=f.label "독음"%>
      <%=f.text_field :ername%>
    </div>
    <div class="input-field">
      <%=f.label "JA"%>
      <%=f.text_field :jnamea%>
    </div>
    <div class="input-field">
      <%=f.label "CH"%>
      <%=f.text_field :cname%>
    </div>
    <div class="input-field">
      <%=f.label "번체"%>
      <%=f.text_field :cnameb%>
    </div>
    <div class="input-field">
      <%=f.label "AR"%>
      <%=f.text_field :aname%>
    </div>
    <div class="input-field">
      <%=f.label "SP"%>
      <%=f.text_field :spanish%>
    </div>
    <div class="input-field">
      <%=f.label "DE"%>
      <%=f.text_field :germany%>
    </div>
    <div class="input-field">
      <%=f.label "ITA"%>
      <%=f.text_field :italia%>
    </div>
    <div class="input-field">
      <%=f.label "PO"%>
      <%=f.text_field :portugal%>
    </div>
    <div class="input-field">
      <%=f.label "FR"%>
      <%=f.text_field :french%>
    </div>
    <div class="input-field">
      <%=f.label "picture"%>
      <%=f.text_field :u_picture%>
    </div>
    <%=f.submit "저장",class: :btn%>
  <%end%>
</div>
<br>
<script>
  $(".button-collapse").sideNav();
</script>