<%content_for :menu do%>
  <li><%=link_to "돌아가기",data_menulists_path(page: @page)%></li>
<%end%>
<div class="container">
    <h3>검색결과</h3>
    <h2><%=notice%></h1>
    <div class="table-responsive">
      <table class="table">
        <tr>
          <th>한국이름</th>
          <th>영어</th>
          <th>독음</th>
          <th>일본</th>
          <th>간체</th>
          <th>번체</th>
          <th>아랍어</th>
          <th>es</th>
          <th>ge</th>
          <th>ita</th>
          <th>po</th>
          <th> </th>
          <th> </th>
        </tr>
        <% @menulist.each do|l|%>
        <tr>
          <td><%=l.kname%></td>
          <td><%=l.ename%></td>
          <td><%=l.ername%></td>
          <td><%=l.jnamea%></td>
          <td><%=l.cname%></td>
          <td><%=l.cnameb%></td>
          <td><%=l.aname%></td>
          <td><%=l.spanish%></td>
          <td><%=l.germany%></td>
          <td><%=l.italia%></td>
          <td><%=l.portugal%></td>
          <td><%=link_to "수정",edit_data_menulist_path(l,page: h(@keyword)),class: :btn%></td>
          <td><%=link_to '삭제',data_menulist_path(l),{class: :btn, method: :delete, data: {confirm: '정말 삭제 하시겠습니까?'}}%></td>
        </tr>
        <%end%>
    </table>
  </div>
</div>
<script>
  $(".button-collapse").sideNav();
</script>