<%content_for :menu do%>
  <li><%=link_to "돌아가기",data_curates_path%></li>
<%end%>
<div class="container">
  <h3>사진수정</h3>
  <%=form_for @curate, url: data_curate_path do |f|%>
    <div class="input-field">
      <%=f.label "사진 url"%>
      <%=f.text_field :address%>
    </div>
    <div class="input-field">
      <%=f.label "클릭 시 연결 페이지 주소"%>
      <%=f.text_field :keyword%>
    </div>
    <div class="input-field">
      <%=f.label "위치"%>
      <%=f.text_field :show%>
    </div>
    <div class="input-field">
      <%=f.label "시작일"%>
      <%=f.text_field :startDate%>
    </div>
    <div class="input-field">
      <%=f.label "종료일"%>
      <%=f.text_field :endDate%>
    </div>
    <div class="input-field">
      <%=f.label "요일 0:일 1:월 순서, 8: 매일"%>
      <%=f.text_field :dayOfWeek%>
    </div>
    <div class="input-field">
      <%=f.label "시간 1: 0~1시 순서, 00: 항상 표시"%>
      <%=f.text_field :time%>
    </div>
    <div class="input-field">
      <%=f.select :language, options_for_select([["영어",0],["한국어",4],["중국어",2],["스페인어",6],["독일어",7],["이탈리아어",8],['포어',9],['프어',10]],@curate.language)%>
      <%=f.label :language%>
    </div>
    <%=f.submit "등록",class: :btn%>
  <%end%>
</div>
<script>
  $(".button-collapse").sideNav();
  $('.datepicker').pickadate({
    selectMonths: true, // Creates a dropdown to control month
    selectYears: 15 // Creates a dropdown of 15 years to control year
  });
  $('select').material_select();
</script>