<header>
  <br>
  <h1 id="title">HUFSPOON</h1>
  <br>
  <ul class="nav nav-tabs  nav-justified" style="font-size:10px;">
    <li class="active"><a data-toggle="tab" href="#home">Humanities</a></li>
    <li><a data-toggle="tab" href="#menu1">Faculty office</a></li>
    <li><a data-toggle="tab" href="#menu2">Sky Lounge</a></li>
  </div>
  </ul>
</header>
<div class="tab-content">
	<!--여기서부터는 첫 번째 탭 입니다-->
  <div id="home" class="tab-pane fade in active">
    <div id="today-detail-div" style="position:relative; padding: 0;z-index: 10; border-top: 1px solid #dddddd;" >
		<!--아침메뉴 시작-->
		
        <%if @breakfast==[] %>
  <!--      <div class="google_list">-->
		<!--	<div class="caf_rep"><%=@empty%></div>-->
		<!--</div>-->
        <%else%>
		<div class="google_subheader" style="position:relative; padding: 0;z-index: 10; "> 
			<h4>Breakfast</h4>
		</div>	
		<div class="google_list">
			<div class="caf_times"> <%=@breakfasttime%> / <%=@breakfastprice%></div>
			<div class="caf_rep">
				<%=@breakfast.shift%>
			</div>
			<p><%@breakfast.each do |b|%> 
    			
    			  <%=b%>
    			    <%if b!=@breakfast[-1]%>
    			            ,
    			        <%end%>
    			
			<%end%></p>
			<p><%=@breakfastkcal%></p>
		</div>
		<%end%>
		<!--아침메뉴 끝-->
		
		<!--점심메뉴 시작-->
		
        <%if @lunch1==[] %>
        
        <%else%>
        
        <div class="google_subheader" style="position:relative; padding: 0;z-index: 10; "> 
			<h4>Lunch 1</h4>
		</div>
		<div class="google_list">
			<div class="caf_times"> <%=@lunch1time%> / <%=@lunch1price%></div>
			<div class="caf_rep"><%=@lunch1.shift%></div>
			<p>
			    <%@lunch1.each do |b|%> 
                    <%=b%>
    			 <%if b!=@lunch1[-1]%>
    			            ,
    			        <%end%>       
			
			    <%end%>
			</p>
			<p><%=@lunch1kcal%></p>
		</div>
        <%end%>
		<!--점심메뉴 끝-->
		
		<!--점심2 메뉴 시작-->
		
        <%if @lunch2==[]%>
        
        <%else%>
		<div class="google_subheader" style="position:relative; padding: 0;z-index: 10; "> 
			<h4>Lunch 2</h4>
		</div>	
		<div class="google_list">
			<div class="caf_times"> <%=@lunch2time%> / <%=@lunch2price%></div>
			<div class="caf_rep"><%=@lunch2.shift%></div>
			<p><%@lunch2.each do |b|%> <%=b%><%if b!=@lunch2[-1]%>
    			            ,
    			        <%end%> <%end%></p>
			<p><%=@lunch2kcal%></p>
		</div>
        <%end%>
		<!--점심2 메뉴 끝-->
		
		<!--점심 면 메뉴 시작-->
			
        <%if @lunchnoodle==[]%>
	        
        <%else%>
		<div class="google_subheader" style="position:relative; padding: 0;z-index: 10; "> 
			<h4>Lunch Noodle</h4>
		</div>
		<div class="google_list">
			<div class="caf_times"> <%=@lunchnoodletime%> / <%=@lunchnoodleprice%></div>
			<div class="caf_rep"><%=@lunchnoodle.shift%></div>
			<p><%@lunchnoodle.each do |b|%> <%=b%><%if b!=@lunchnoodle[-1]%>
    			            ,
    			        <%end%> <%end%></p>
			<p><%=@lunchnoodlekcal%></p>
		</div>
        <%end%>
		<!--점심 면 메뉴 끝-->
		
		<!--저녁 메뉴 시작-->
		
        <%if @dinner==[]%>
        
        <%else%>
		<div class="google_subheader" style="position:relative; padding: 0;z-index: 10; "> 
			<h4>Dinner</h4>
		</div>
		<div class="google_list">
			<div class="caf_times"> <%=@dinnertime%> / <%=@dinnerprice%></div>
			<div class="caf_rep"><%=@dinner.shift%></div>
			<p><%@dinner.each do |b|%> <%=b%> <%if b!=@dinner[-1]%>
    			            ,
    			        <%end%> <%end%></p>
			<p><%=@dinnerkcal%></p>
			</div>
        <%end%>
		<!--저녁메뉴 끝-->
		</div>
	</div>

<!--여기는 두번째 탭 내용입니다-->
	<div id="menu1" class="tab-pane fade">
	    <div id="today-detail-div" style="position:relative; padding: 0;z-index: 10; border-top: 1px solid #dddddd;" >
		<!--점심 메뉴-->
		
        <%if @flunch==[] %>
        <%else%>
	    <div class="google_subheader" style="position:relative; padding: 0;z-index: 10; "> 
			<h4>Lunch</h4>
		</div>
		<div class="google_list">
			<div class="caf_times"> <%=@flunchtime%> / <%=@flunchprice%></div>
			<div class="caf_rep"><%=@flunch.shift%></div>
			<p><%@flunch.each do |b|%> 
    			
    			  <%=b%>
    			    <%if b!=@flunch[-1]%>
    			            ,
    			        <%end%>
    			
			<%end%></p>
			<p><%=@flunchkcal%></p>
		</div>
		<%end%>
		<!--점심 메뉴 끝-->
		
		<!--저녁 메뉴-->
		
        <%if @fdinner==[] %>
        <%else%>
		<div class="google_subheader" style="position:relative; padding: 0;z-index: 10; "> 
			<h4>Dinner</h4>
		</div>	
		<div class="google_list">
			<div class="caf_times"> <%=@fdinnertime%> / <%=@fdinnerprice%></div>
			<div class="caf_rep"><%=@fdinner.shift%></div>
			<p>
			    <%@fdinner.each do |b|%> 
                    <%=b%>
    			        <%if b!=@fdinner[-1]%>
    			            ,
    			        <%end%>
			
			    <%end%>
			</p>
			<p><%=@fdinnerkcal%></p>
		</div>
        <%end%>
		<!--저녁메뉴 끝-->
	
		</div>
	</div>
	
	<!--세번째 탭 시작입니다-->
	  <div id="menu2" class="tab-pane fade">
	    <div id="today-detail-div" style="position:relative; padding: 0;z-index: 10; border-top: 1px solid #dddddd;" >
		<!--메뉴a-->
		
        <%if @menua==[] %>
        <%else%>
		<div class="google_subheader" style="position:relative; padding: 0;z-index: 10; "> 
			<h4>Menu A</h4>
		</div>
		<div class="google_list">
			<div class="caf_times"> <%=@menuatime%> / <%=@menuaprice%></div>
			<div class="caf_rep"><%=@menua.shift%></div>
			<p><%@menua.each do |b|%> 
    			
    			  <%=b%>
    			    <%if b!=@menua[-1]%>
    			            ,
    			        <%end%>
    			
			<%end%></p>
			<p><%=@menuakcal%></p>
		</div>
		<%end%>
		<!--메뉴a 끝-->
		
		<!--메뉴b-->
		
        <%if @menub==[] %>
        <%else%>
		<div class="google_subheader" style="position:relative; padding: 0;z-index: 10; "> 
			<h4>Menu B</h4>
		</div>	
		<div class="google_list">
			<div class="caf_times"> <%=@menubtime%> / <%=@menubprice%></div>
			<div class="caf_rep"><%=@menub.shift%></div>
			<p>
			    <%@menub.each do |b|%> 
                    <%=b%>
    			        <%if b!=@menub[-1]%>
    			            ,
    			        <%end%>
			
			    <%end%>
			</p>
			<p><%=@menubkcal%></p>
		</div>
        <%end%>
		<!--메뉴b 끝-->
	
		</div>
	  </div>
	</div>


<footer>
	<br>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                  
                    <div id="foo">
                    	<h5><a href="/">English</a> / <a href="/1">日本語</a> / <a href="/2">简写</a> / <a href="/3">繁体</a> / العربية</h5>
                    	<h6>L I K E L I O N  X  H U F S</h6>
                    	<h6>COPYRIGHT (C)</h6>
                    	<h6>CONTACT : -- </h6>
                    	<h6><a data-toggle="modal" data-target="#myModal">CONTRIBUTOR</a></h6>
                    	<a href="/adpage/dbmain/1">
                    	<% if admin_signed_in? %>
                    		DB관리
                    	<%else%>
                       		admin
                    	<%end%>
                    	</a>
                      </div>
                    <br>
                </div>
            </div>
        </div>
    </footer>
  <div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

    <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">MondaySpoon</h4>
        </div>
        <div class="modal-body">
          <div class="panel panel-default">
			<div class="panel-heading">전진철 / JIN CHEOL JUHN</div>
			<div class="panel-body">CFO / </div>
		  </div>
		  <div class="panel panel-default">
			<div class="panel-heading">김소영 / SO YOUNG KIM</div>
			<div class="panel-body">CDO</div>
		  </div>
		  <div class="panel panel-default">
			<div class="panel-heading">이상록 / SANG ROK LEE</div>
			<div class="panel-body">CTO</div>
		  </div>
		  <div class="panel panel-default">
			<div class="panel-heading">이승준 / SEUNG JUN LEE</div>
			<div class="panel-body">CMO (상암동 순정남)</div>
		  </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>
<script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-78572906-1', 'auto');
  ga('send', 'pageview');

</script>