<header>
  <br>
  <h1 id="title"><a href="/" style="color:white;">HUFSPOON</a></h1>
  
	  <div style="text-align:center"><a role="button" class="btn btn-primary" id="dateopen"><%=@y%> / <%=@m%> / <%=@d%></a></div>

  <div style="background-color:white;"id="date"></div>
  <div style="display:none;"id="datepicker-container">
	  <div id="datepicker-center">
	    <div id="datepicker"></div>
	  </div>
	</div>
  <br>
  <ul class="nav nav-tabs  nav-justified" style="font-size:10px;">
    <li class="active"><a data-toggle="tab" href="#home">Humanities</a></li>
    <li><a data-toggle="tab" href="#menu1">Faculty office</a></li>
    <li><a data-toggle="tab" href="#menu2">Sky Lounge</a></li>
  </div>
  </ul>
</header>
<div class="tab-content">
	<!--여기서부터는 첫 번째 탭 입니다-->
  <div id="home" class="tab-pane fade in active">
    <div id="today-detail-div" style="position:relative; padding: 0;z-index: 10; border-top: 1px solid #dddddd;" >
		<!--아침메뉴 시작-->
		
        <%if @breakfast==[] %>
        
        <%else%>
		<div class="google_subheader" style="position:relative; padding: 0;z-index: 10; "> 
			<h4>Breakfast</h4>
		</div>	
		<div class="google_list">
			<div class="caf_times"> <%=@breakfasttime%> / <%=@breakfastprice%></div>
			<div class="caf_rep">
				<%=@breakfast.shift%>
			</div>
			<p>
				<%snum=0%>
		    <%@breakfast.each do |s|%> 
              <%if s!=@breakfast[0]%>
				   <%snum+=s.length+3%>
				   <%if snum>=34%>
    				<br>
    				<%snum=0%>
    				<%snum+=s.length+3%>
    			 <%else%>
    			  ,
    			 <%end%>
  		 <%else%>
  		   <%snum+=s.length+3%>
  		 <%end%>
  		 
  		 <%=s%>
		    <%end%>
			</p>
			<p><%=@breakfastkcal%></p>
		</div>
		<%end%>
		<!--아침메뉴 끝-->
		
		<!--점심메뉴 시작-->
		
        <%if @lunch1==[] %>
        
        <%else%>
        
        <div class="google_subheader" style="position:relative; padding: 0;z-index: 10; "> 
			<h4>Lunch 1</h4>
		</div>
		<div class="google_list">
			<div class="caf_times"> <%=@lunch1time%> / <%=@lunch1price%></div>
			<div class="caf_rep"><%=@lunch1.shift%></div>
			<p>
			    <%snum=0%>
			    <%@lunch1.each do |s|%> 
                <%if s!=@lunch1[0]%>
					   <%snum+=s.length+3%>
					   <%if snum>=34%>
	    				<br>
	    				<%snum=0%>
	    				<%snum+=s.length+3%>
	    			 <%else%>
	    			  ,
	    			 <%end%>
    		 <%else%>
    		   <%snum+=s.length+3%>
    		 <%end%>
    		 
    		 <%=s%>
			    <%end%>
			</p>
			<p><%=@lunch1kcal%></p>
		</div>
        <%end%>
		<!--점심메뉴 끝-->
		
		<!--점심2 메뉴 시작-->
		
        <%if @lunch2==[]%>
        
        <%else%>
		<div class="google_subheader" style="position:relative; padding: 0;z-index: 10; "> 
			<h4>Lunch 2</h4>
		</div>	
		<div class="google_list">
			<div class="caf_times"> <%=@lunch2time%> / <%=@lunch2price%></div>
			<div class="caf_rep"><%=@lunch2.shift%></div>
			<p>
				<%snum=0%>
		    <%@lunch2.each do |s|%> 
              <%if s!=@lunch2[0]%>
				   <%snum+=s.length+3%>
				   <%if snum>=34%>
    				<br>
    				<%snum=0%>
    				<%snum+=s.length+3%>
    			 <%else%>
    			  ,
    			 <%end%>
  		 <%else%>
  		   <%snum+=s.length+3%>
  		 <%end%>
  		 
  		 <%=s%>
		    <%end%>
    	</p>
			<p><%=@lunch2kcal%></p>
		</div>
        <%end%>
		<!--점심2 메뉴 끝-->
		
		<!--점심 면 메뉴 시작-->
			
    <%if @lunchnoodle==[]%>
      
    <%else%>
			<div class="google_subheader" style="position:relative; padding: 0;z-index: 10; "> 
				<h4>Lunch Noodle</h4>
			</div>
			<div class="google_list">
				<div class="caf_times"> <%=@lunchnoodletime%> / <%=@lunchnoodleprice%></div>
				<div class="caf_rep"><%=@lunchnoodle.shift%></div>
				<p>
					<%snum=0%>
			    <%@lunchnoodle.each do |s|%> 
                <%if s!=@lunchnoodle[0]%>
					   <%snum+=s.length+3%>
					   <%if snum>=34%>
	    				<br>
	    				<%snum=0%>
	    				<%snum+=s.length+3%>
	    			 <%else%>
	    			  ,
	    			 <%end%>
    		 <%else%>
    		   <%snum+=s.length+3%>
    		 <%end%>
    		 
    		 <%=s%>
			    <%end%>
	    	</p>
				<p><%=@lunchnoodlekcal%></p>
			</div>
    <%end%>
		<!--점심 면 메뉴 끝-->
		
		<!--저녁 메뉴 시작-->
		
    <%if @dinner==[]%>
        
    <%else%>
			<div class="google_subheader" style="position:relative; padding: 0;z-index: 10; "> 
				<h4>Dinner</h4>
			</div>
			<div class="google_list">
				<div class="caf_times"> <%=@dinnertime%> / <%=@dinnerprice%></div>
				<div class="caf_rep"><%=@dinner.shift%></div>
				<p>
					<%snum=0%>
			    <%@dinner.each do |s|%> 
                <%if s!=@dinner[0]%>
					   <%snum+=s.length+3%>
					   <%if snum>=34%>
	    				<br>
	    				<%snum=0%>
	    				<%snum+=s.length+3%>
	    			 <%else%>
	    			  ,
	    			 <%end%>
    		 <%else%>
    		   <%snum+=s.length+3%>
    		 <%end%>
    		 
    		 <%=s%>
			    <%end%>
	    	</p>
				<p><%=@dinnerkcal%></p>
			</div>
    <%end%>
		<!--저녁메뉴 끝-->
		<%if @w==0%>
			<div class="google_subheader" style="position:relative; padding: 0;z-index: 10; "> 
				
				<h4>Happy Weekend</h4>
				
			</div>
		<%else%>
		<!--스낵-->
		  <div class="google_subheader" style="position:relative; padding: 0;z-index: 10; "> 
				<h4>Snack</h4>
			</div>
			<div class="google_list">
				<%if @w!=0&&@w!=6%><div class="caf_times">09:00~18:40</div><%end%>
				<div class="caf_rep"></div>
				<p>
					<%snum=0%>
					<%@snack.each do|s|%>
					 
					 <%if s!=@snack[0]%>
					   <%snum+=s.length+3%>
					   <%if snum>=34%>
	    				<br>
	    				<%snum=0%>
	    				<%snum+=s.length+3%>
	    			 <%else%>
	    			  ,
	    			 <%end%>
	    		 <%else%>
	    		   <%snum+=s.length+3%>
	    		 <%end%>
	    		 
	    		 <%=s.titleize%>
					<%end%>
	    	</p>
	    	<p></p>
			</div>
			<%end%>
		<!--스낵끝-->
		</div>
	</div>

<!--여기는 두번째 탭 내용입니다-->
	<div id="menu1" class="tab-pane fade">
	    <div id="today-detail-div" style="position:relative; padding: 0;z-index: 10; border-top: 1px solid #dddddd;" >
		<!--점심 메뉴-->
		
        <%if @flunch==[] %>
        <%else%>
			    <div class="google_subheader" style="position:relative; padding: 0;z-index: 10; "> 
						<h4>Lunch</h4>
					</div>
					<div class="google_list">
						<div class="caf_times"> <%=@flunchtime%> / <%=@flunchprice%></div>
						<div class="caf_rep"><%=@flunch.shift%></div>
						<p>
							<%snum=0%>
							<%@flunch.each do |s|%> 
		    			  <%if s!=@flunch[0]%>
								   <%snum+=s.length+3%>
								   <%if snum>=34%>
				    				<br>
				    				<%snum=0%>
				    				<%snum+=s.length+3%>
				    			 <%else%>
				    			  ,
				    			 <%end%>
			    		 <%else%>
			    		   <%snum+=s.length+3%>
			    		 <%end%>
			    		 
			    		 <%=s%>
							<%end%>
						</p>
						<p><%=@flunchkcal%></p>
					</div>
				<%end%>
		<!--점심 메뉴 끝-->
		
		<!--저녁 메뉴-->
		
	    <%if @fdinner==[] %>
	    <%else%>
				<div class="google_subheader" style="position:relative; padding: 0;z-index: 10; "> 
					<h4>Dinner</h4>
				</div>	
				<div class="google_list">
					<div class="caf_times"> <%=@fdinnertime%> / <%=@fdinnerprice%></div>
					<div class="caf_rep"><%=@fdinner.shift%></div>
					<p>
						<%snum=0%>
				    <%@fdinner.each do |s|%> 
              <%if s!=@fdinner[0]%>
								   <%snum+=s.length+3%>
								   <%if snum>=34%>
				    				<br>
				    				<%snum=0%>
				    				<%snum+=s.length+3%>
				    			 <%else%>
				    			  ,
				    			 <%end%>
			    		 <%else%>
			    		   <%snum+=s.length+3%>
			    		 <%end%>
			    		 
			    		 <%=s%>
				    <%end%>
					</p>
					<p><%=@fdinnerkcal%></p>
				</div>
	    <%end%>
		<!--저녁메뉴 끝-->
	
		</div>
	</div>
	
	<!--세번째 탭 시작입니다-->
	  <div id="menu2" class="tab-pane fade">
	    <div id="today-detail-div" style="position:relative; padding: 0;z-index: 10; border-top: 1px solid #dddddd;" >
		<!--메뉴a-->
		
		    <%if @menua==[] %>
		    <%else%>
				<div class="google_subheader" style="position:relative; padding: 0;z-index: 10; "> 
					<h4>Menu A</h4>
				</div>
				<div class="google_list">
					<div class="caf_times"> <%=@menuatime%> / <%=@menuaprice%></div>
					<div class="caf_rep"><%=@menua.shift%></div>
					<p>
						<%snum=0%>
						<%@menua.each do |s|%> 
		    			<%if s!=@menua[0]%>
								   <%snum+=s.length+3%>
								   <%if snum>=34%>
				    				<br>
				    				<%snum=0%>
				    				<%snum+=s.length+3%>
				    			 <%else%>
				    			  ,
				    			 <%end%>
			    		 <%else%>
			    		   <%snum+=s.length+3%>
			    		 <%end%>
			    		 
			    		 <%=s%>
					  <%end%>
					</p>
					<p><%=@menuakcal%></p>
				</div>
				<%end%>
		<!--메뉴a 끝-->
		
		<!--메뉴b-->
		
		    <%if @menub==[] %>
		    <%else%>
					<div class="google_subheader" style="position:relative; padding: 0;z-index: 10; "> 
						<h4>Menu B</h4>
					</div>	
					<div class="google_list">
						<div class="caf_times"> <%=@menubtime%> / <%=@menubprice%></div>
						<div class="caf_rep"><%=@menub.shift%></div>
						<p>
							<%snum=0%>
						    <%@menub.each do |s|%> 
			                <%if s!=@menub[0]%>
								   <%snum+=s.length+3%>
								   <%if snum>=34%>
				    				<br>
				    				<%snum=0%>
				    				<%snum+=s.length+3%>
				    			 <%else%>
				    			  ,
				    			 <%end%>
			    		 <%else%>
			    		   <%snum+=s.length+3%>
			    		 <%end%>
			    		 
			    		 <%=s%>
						    <%end%>
						</p>
						<p><%=@menubkcal%></p>
					</div>
		    <%end%>
		<!--메뉴b 끝-->
	
		</div>
	  </div>
	</div>


<footer>
	<br>
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                  
                    <div id="foo">
                    	<h6><a href="/0/<%=@day%>">English</a> / <a href="/4/<%=@day%>">한국어</a> / <a href="/1/<%=@day%>">日本語</a> / <a href="/2/<%=@day%>">简写</a> / <a href="/3/<%=@day%>">繁体</a> / العربية</h6>
                    	<h5><a href="/home/leftindex/0/0/0/0">Restaurants around Hufs(test)</a></h5>
                    	<h6>L I K E L I O N  X  H U F S</h6>
                    	<h6> <a href="/board/hufslogin">FEEDBACK BOARD</a> </h6>
                    	<h6>CONTACT : mondayspoon@gmail.com </h6>
                    	<h6><a data-toggle="modal" data-target="#myModal" onclick="ga('send', 'event','contributor', '버튼클릭', 'index');">CONTRIBUTOR</a></h6>
                    	<a href="/adpage/dbmain/1">
                    	<% if admin_signed_in? %>
                    		DB관리
                    	<%else%>
                       		admin
                    	<%end%>
                    	</a>
                      </div>
                    <br>
                </div>
            </div>
        </div>
    </footer>
  <div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">

    <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title">MondaySpoon</h4>
        </div>
        <div class="modal-body">
          <div class="panel panel-default">
			<div class="panel-heading">전진철 / JIN CHEOL JUHN</div>
			<div class="panel-body">CFO </div>
		  </div>
		  <div class="panel panel-default">
			<div class="panel-heading">김소영 / SO YOUNG KIM</div>
			<div class="panel-body">CDO</div>
		  </div>
		  <div class="panel panel-default">
			<div class="panel-heading">이상록 / SANG ROK LEE</div>
			<div class="panel-body">CTO</div>
		  </div>
		  <div class="panel panel-default">
			<div class="panel-heading">이승준 / SEUNG JUN LEE</div>
			<div class="panel-body">CMO (상암동 순정남)</div>
		  </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>

    </div>
  </div>
    <!-- Left and right controls -->
  
<script>

  $( "#dateopen" ).click(function() {
    $( "#datepicker-container" ).slideToggle( "slow", function() {
    // Animation complete.
    });
  });
  $(function() {
    $( "#datepicker" ).datepicker({
	    	onSelect: function(dateText, inst) { 
	      var dateAsString = dateText; //the first parameter of this function
	      var dateAsObject = $(this).datepicker( 'getDate' ); //the getDate method
	      var timeDiff= dateAsObject-new Date(<%=@ty%>+"-"+<%=@tm%>+"-"+<%=@td%>);
	      var diffDays = Math.ceil(timeDiff / (1000 * 3600 * 24)); 
	      window.location.href="/<%=@id%>/"+String(diffDays);
	      }
    	}
    )
  });
  
</script>