<%content_for :link do %>
  <li><a href="/rests" >AROUND HUFS</a></li>
  <li><a class="modal-trigger" href="#modal2" >MAP</a></li>
<%end%>
<%content_for :right do%>
<ul class="right">
  <li><a><i class="material-icons representer grey-text">date_range</i></a></li>
</ul>
<%end%>
<%content_for :tabs do %>
<ul class="tabs home navi">
  <%= tabs %>
</ul>
<%end%>
<input style="display:none;" id="datepicker" type="date"/>
<div class="row" id="row">
  <%if @w==0%>
  <div id="humanities" class="col s12">
    <div class="col s12 m8 offset-m2 l6 offset-l3">
      <% if @ran_rest%>
      <div class="card">
        <div class="card-image">
          <%if @ran_rest.picture!=""&&@ran_rest.picture%>
          <div class="carousel carousel-slider" style="max-width: 100%; height: 200px;">
            <% @ran_rest.picture.split('http')[1..-1].each do |p|%>
              <a class="carousel-item"><img src="http<%=p%>" height="200"></a>
            <%end%>
          </div>
          <%else%>
          <img src="https://s19.postimg.org/yqsm53ntd/always.png" style="max-width: 100%;">
          <%end%>
        </div>
        <div class="card-content">
          <span class="card-title">Try eating outside!</span>
          <p class="center"><a href="/rests/<%=@ran_rest.id%>?index=backhome">How about <span style="font-weight:bold;"><%=@ran_rest.ere_menu%></span> in <span style="font-weight:bold;"><%=@ran_rest.name%></span>?</a></p>
        </div>
        <div class="card-action">
          <a href="/rests">More Restaurants</a>
        </div>
      </div>
      <%end%>
      
      <ul class="collapsible" data-collapsible="accordion">
        <li>
          <div class="collapsible-header">Next Week Preview</div>
        </li>
        <%@list.each_with_index do |var,num|%>
        <li>
          <div class="collapsible-header"><i class="material-icons">arrow_drop_down</i><%=@dayOfWeek[num]%></div>
          <div class="collapsible-body" style="padding: 0px;">
            <ul class="collection">
              <%if !var.blank? %>
                <%cache list_cache_key(var,var[0][1]['id']) do%>
                <%var.each do |content|%>
                <li class="collection-item">
                  <div><%=content[0].titleize%>: <%if content[1]['main']%><%=content[1]['menu'][0]%><%else%>Not Yet!<%end%>
                    <div class="secondary-content alarm grey-text" style="display: none;" data-language="<%=@current_language%>" data-id="<%=content[1]['main'].id%>" data-name="<%=content[1]['menu'][0]%>">
                      <i class="material-icons">alarm</i>
                    </div>
                  </div>
                </li>
                <%end%>
                <%end%>
              <%else%>
                <li class="collection-item"><div>Sorry, Not Yet!<a href="#!" class="secondary-content"><i class="material-icons grey-text">pan_tool</i></a></div></li>
              <%end%>
            </ul>
          </div>
        </li>
        <%end%>
      </ul>
    </div>
  </div>
  <%else%>
    <div id="humanities" class="col s12">
      <%@menulist[0..4].each_with_index do |menu,num|%>
      <%if (menu["price"])||(menu["kcal"]) %>
      <div class="col s12 m8 offset-m2 l6 offset-l3">
        <%=curate(@nowC[num])%>
        <div class="card">
          <%cache menu_cache_key(menu) do%>
            <%=card_top(menu)%>
    			  <%=card_img(menu)%>
    			  <%=card_middle(menu)%>
    			<%end%>
    			<%=card_bottom(menu)%>
        </div>
      </div>
      <%else%>
        <div class="col s12 m8 offset-m2 l6 offset-l3">
          <%=curate(@nowC[num])%>
        </div>
      <%end%>
      <%end%>
      
      <%if @menulist[5]['menu']==nil%>
        <div class="col s12 m8 offset-m2 l6 offset-l3">
          <%unless @nowC[6].blank?%>
          <%@nowC[6].each do |n|%>
          <div class="card">
            <div class="card-image">
              <img src="<%=n.address%>">
            </div>
          </div>
          <%end%>
          <%end%>
          <div class="card">
            <div class="card-content">
              <span class="card-title">Wait, Not Yet!</span>
            </div>
          </div>
          <%=curate(@nowC[7])%>
        </div>
      <%else%>
        <div class="col s12 m8 offset-m2 l6 offset-l3">
          <%=curate(@nowC[6])%>
        <%cache menu_cache_key(@menulist[5]) do%>
          <div class="card">
            <div class="card-content">
              <span class="card-title">Snack</span>
                <%if @w!=0&&@w!=6%><div>09:00~18:40</div><%end%>
                <div class="divider"></div>
                <br>
                <p class="caf_menu">
      					<%=card_content(@menulist[5]['menu'])%>
      	    	  </p>
            </div>
          </div>
        <%end%>
        <%=curate(@nowC[7])%>
      <%end%>
      </div>
    </div>
    
    <div id="faculty" class="col s12">
      <%@menulist[6..7].each do |menu|%>
      <%if (menu["price"])||(menu["kcal"]) %>
      <div class="col s12 m8 offset-m2 l6 offset-l3">
        <div class="card">
          <%cache menu_cache_key(menu) do%>
            <%=card_top(menu)%>
            <div class="divider"></div>
    			  <%=card_middle(menu)%>
    			<%end%>
        </div>
      </div>
      <%end%>
      <%end%>
      
    </div>
    
    <div id="skylounge" class="col s12">
      <%@menulist[8..9].each do |menu|%>
      <%if (menu["price"])||(menu["kcal"]) %>
      <div class="col s12 m8 offset-m2 l6 offset-l3">
        <div class="card">
          <%cache menu_cache_key(menu) do%>
            <%=card_top(menu)%>
            <div class="divider"></div>
    			  <%=card_middle(menu)%>
    			<%end%>
        </div>
      </div>
      <%end%>
      <%end%>
    </div>
      
  <%end%>
    <div id="language">
      <%= lan_collection%>
    </div>
  </div>
  
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Mondayspoon</h4>
      <p>Email: mondayspoon@gmail.com</p>
      <div class="divider"></div>
      <div class="section">
        <a>Co-founder Marketer & Operator</a>
        <h5>Jincheol Juhn</h5>
      </div>
          
      <div class="divider"></div>
      <div class="section">
        <a>Co-founder Designer & Marketer</a>
        <h5>Soyoung Kim</h5>
      </div>

      <div class="divider"></div>
      <div class="section">
        <a>Co-founder Developer</a>
        <h5>Sangrok Lee</h5>
      </div>

      <div class="divider"></div>
      <div class="section">
        <a>Co-founder Marketer & Operator</a>
        <h5>Seungjoon Lee</h5>
      </div>
      
      <div class="divider"></div>
      <div class="section">
        <a>Marketer</a>
        <h5>Kyungho Jeung</h5>
      </div>

      <div class="divider"></div>
      <div class="section">
        <a>Marketer</a>
        <h5>Minji Jeon</h5>
      </div>

      <div class="divider"></div>
      <div class="section">
        <a>Chinese Language Translator</a>
        <h5>孙林同</h5>
      </div>
          
      <div class="divider"></div>
      <div class="section">
        <a>German Language Translator</a>
        <h5>Nane Sönnichsen</h5>
      </div>
      
      <div class="divider"></div>
      <div class="section">
        <a>Italian Language Translator</a>
        <h5>Francesca Liyanage</h5>
      </div>
      
      <div class="divider"></div>
      <div class="section">
        <a>Italian Language Translator</a>
        <h5>Arianna Colciago</h5>
      </div>
      <div class="divider"></div>
      <div class="section">
        <a>Portuguese Language Translator</a>
        <h5>Laura Torelli</h5>
      </div>
      <div class="divider"></div>
      <div class="section">
        <a>Spanish Language Translator</a>
        <h5>Maria Jose Alejandra - Valencia Ramirez</h5>
      </div>
      <div class="divider"></div>
      <div class="section">
        <a>French Language Translator</a>
        <h5>Charline Zammit</h5>
      </div>
      <br>
    </div>
  </div>
    
  <div id="modal2" class="modal">
    <div class="modal-content">
      <img class="responsive-img" src="https://s19.postimg.org/xpsdfz6tt/map.png">
    </div>
  </div>
<script>
  $(document).ready(function(){
    var $tabs = $("ul.tabs"),
        $nav_extended = $(".nav-extended"),
        $ham = $("html").hammer(),
        lastScrollTop = 0,
        $toolbar = $(".toolbar"),
        lastScrollTopNav = 0,
        $nav_content = $(".nav-content"),
        nav_height = $nav_extended.height() - $nav_content.height();
    
    $(".adate").on("click",function(){
      var $this = $(this),
        para,
        add;
      if ($this.hasClass("dleft")){
        para = -1;
        add="<%=@time-1%>";
      }
      else{
        para = 1;
        add = "<%=@time+1%>"
      }
      $this.velocity(
        {translateX: 10 * para + "px"},
        {duration: 200,
          complete: function(){
            $(this).velocity({translateX: "0px"}, {duration: 200})
          }
        }
      );
      window.location.href = "/<%=@id%>/" + add;
    });
    
    $(".carousel.carousel-slider").carousel({fullWidth: true, indicators: true});
    $(".button-collapse").sideNav();
    $tabs.tabs();
    $(".modal").modal({
      ready: function(){
        $(".button-collapse").sideNav("hide");
        if (window.Hybrid && window.Hybrid.type === "android") $("html, body").on("touchmove touchstart", function(e){e.preventDefault()})
        $("html, body").addClass("stop");
      },
      complete: function(){
        if (window.Hybrid && window.Hybrid.type === "android") $("html, body").off("touchmove touchstart");
        $("html, body").removeClass("stop");
      }
    });
    
    $(".representer").click(function(){
      picker.open();
      event.stopPropagation();
      event.preventDefault();
    });

    $lists = $tabs.find("li");
    $ham.on("swipeleft", function(event){
      $("dright").trigger("click");
    })
    
    $ham.on("swiperight", function(event){
      $("dleft").trigger("click");
    });

    $(".like").click(function(){
      var did = $(this).data("id");
      $.ajax({
        method: "get",
        url: "/like",
        dataType: "json",
        data: {id: did},
        context: this,
        success: function(data)  {
          $this = $(this);
          if($this.hasClass("red-text")){
            $this.velocity(
              {scaleX: 0, scaleY: 0},
              {duration: 200, complete: function(){
                $this.removeClass("red-text text-lighten-3").addClass("grey-text")
                .html("<i class='material-icons'>favorite_border</i>&nbsp;&nbsp;" + data.like)
                .velocity({scaleX: 1, scaleY: 1}, {duration: 200})
              }}
            );
          }
          else{
            $this.velocity(
              {scaleX: 0, scaleY: 0},
              {duration: 200, complete: function(){
                $(this).removeClass("grey-text").addClass("red-text text-lighten-3")
                .html("<i class='material-icons'>favorite</i>&nbsp;&nbsp;" + data.like)
                .velocity({scaleX: 1, scaleY: 1}, {duration: 200})
              }}
            );
          }
        }
      })
    })

    $(window).scroll(function(event){
      var st = $(this).scrollTop();
      if (st - lastScrollTop > 14 && $nav_extended.hasClass("scrollUp")){
        $nav_extended.velocity({translateY: -1 * nav_height}, {duration: 500}).removeClass("scrollUp").addClass("scrollDown");
        $toolbar.slideUp();
        lastScrollTop = st;
      }
      else if(st - lastScrollTop < -14 && $nav_extended.hasClass("scrollDown")){
        $nav_extended.velocity({translateY: 0}, {duration: 500, complete: function(){$(this).css("transform", "")}}).removeClass("scrollDown").addClass("scrollUp");
        $toolbar.slideDown();
        lastScrollTop = st;
      }
      if(st - lastScrollTop > 14 || st - lastScrollTop < -14) lastScrollTop = st;
    });

    if((window.Hybrid && !window.Hybrid.sheet) || !window.Hybrid){
      $(".like").click(function(){
        var $this = $(this),
        sdata = {id: "<%=@idToken%>", language: "<%=@current_language%>", type: "web"};
        $this.hasClass("red-text") ? sdata["unlike"] = $this.data("name") : sdata["like"] = $this.data("name");
        $.ajax({
          url : "https://script.google.com/macros/s/AKfycbyWHxlrR0PTrhykLQUtd7JAagdezT4TzK3ICFwnj0MiwhNUrao/exec",
          dataType : "json",
          method: "get",
          crossDomain: true,
          data: sdata,
          jsonp : "callback",
          success : function(d){
          }
        });
      })
    }
    
    if(window.Hybrid){
      $(".alarm").each(function(){
        var $this = $(this),
          check = window.Hybrid.alarmInit($this.data("id"), "<%=@current_language%>");
        if(check === "1"){
          $this.show();
          $this.removeClass("grey-text").addClass("red-text");
        }
        else if(check === "0"){
          $this.show();
        }
      })
      $(".like").each(function(){
        var $this = $(this); 
        if (window.Hybrid.likeInit($this.data("id")) === "1"){
          if($this.hasClass("grey-text")) $this.removeClass("grey-text").addClass("red-text text-lighten-3").find("i").text("favorite");
        }
        else{
          if($this.hasClass("red-text")) $this.removeClass("red-text text-lighten-3").addClass("grey-text").find("i").text("favorite_border");
        }
      })

      $(".alarm").click(function(){
        var $this = $(this);
        if($this.hasClass("grey-text")){
          $this.removeClass("grey-text").addClass("red-text");
          window.Hybrid.alarmOn($this.data("id"), $this.data("name"), "<%=@current_language%>", $this.data("kname"));
        }
        else{
          $this.removeClass("red-text").addClass("grey-text");
          window.Hybrid.alarmOff($this.data("id"), $this.data("name"), "<%=@current_language%>", $this.data("kname"));
        }
      })

      $(".like").click(function(){
        var $this = $(this);
        if($this.hasClass("grey-text")){
          window.Hybrid.like($this.data("id"), $this.data("name"), "<%=@current_language%>");
        }
        else{
          window.Hybrid.unlike($this.data("id"), $this.data("name"), "<%=@current_language%>");
        }
      })
    };
    var $input =  $("#datepicker").pickadate({
      format: "yyyymmdd",
      onSet: function(e) {
        if (e.select) {
          window.location.href = "/<%=@id%>/" + picker.get();
          this.close();
        }
      },
      onClose: function(){
        document.activeElement.blur();
      }
    });
    var picker = $input.pickadate("picker");
  })

  function languageChange(language, date){
    if(history.replaceState){
      history.replaceState(null, document.title, "/"+ language + "/" + date);
      history.go(0);
    }else{
      location.replace("/"+ language + "/" + date);
    }
  }
</script>