<nav>
    <div class="nav-wrapper"  >
    <ul id="slide-out" class="side-nav ">
      <li><a href="/board/hufslogin">HufsBoard</a></li>
      <li><a class="modal-trigger"href="#modal1">Mondayspoon</a></li>
    </ul>
    
    <ul class="left hide-on-med-and-down ">
        <li><a href="/board/hufslogin">HufsBoard</a></li>
        <li><a class="modal-trigger"href="#modal1">Mondayspoon</a></li>
    </ul>
    <a href="/" class="brand-logo center" >HUFSPOON</a>
    <a href="#" data-activates="slide-out" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
</nav>
<p style="text-align:center;" class="grey-text"><a class="representer"><%=@y%> / <%=@m%> / <%=@d%></a><input style="display:none;" id="datepicker" type="date"/></p>
 <div class="row">
    <div class="col s12">
      <ul class="tabs " >
        <li class="tab col s3 "><a href="#test1">Humanities</a></li>
        <li class="tab col s3"><a href="#test2">Faculty</a></li>
        <li class="tab col s3"><a href="#test4" >Sky Lounge</a></li>
      </ul>
    </div>
    <div id="test1" class="col s12">
        <!--아침메뉴 시작-->
        <%if @breakfast==[] %>
        
        <%else%>
		<!--아침메뉴 끝-->
      <div class="row">
        <div class="col s12 m8 offset-m2 l6 offset-l3">
          <div class="card">
            <div class="card-content  ">
              <span class="card-title">Breakfast</span><div class="right"><a class="btn-floating waves-effect waves-light blue lighten-2"><i class="material-icons">thumb_up</i></a></div>
              <div class="divider"></div>
              <div class="section">
              <p><div class="caf_times"> <%=@breakfasttime%> / <%=@breakfastprice%></div><br>
                 <div class="caf_rep">
    				<%=@breakfast.shift.titleize%>
    			</div>
    			<p>
    				<%snum=0%>
    		    <%@breakfast.each do |s|%> 
                  <%if s!=@breakfast[0]%>
    				   <%snum+=s.length+3%>
    				   <%if snum>=32%>
        				<br>
        				<%snum=0%>
        				<%snum+=s.length+3%>
        			 <%else%>
        			  ,
        			 <%end%>
      		 <%else%>
      		   <%snum+=s.length+3%>
      		 <%end%>
      		 
      		 <%=s.titleize%>
    		    <%end%>
    			</p>
    			</div>
    			<div class="divider"></div>
    			<div class="section">
        			<%if@breakfastingre!=nil%>
    					<p>
    						<%@breakfastingre.each do |e|%>
    							<%=e.titleize%>
    							<%if e!=@breakfastingre[-1]%>
    							,
    							<%end%>
    						<%end%>
    					</p>
    					<%end%>
    			<p><%=@breakfastkcal%></p>
    			</div>
              </p>
              
            </div>
          </div>
        </div>
      </div> 
      <%end%>
      
      <%if @lunch1==[] %>
        
        <%else%>
        <div class="row">
        <div class="col s12 m8 offset-m2 l6 offset-l3">
          <div class="card">
            <div class="card-content  ">
              
              <span class="card-title">Lunch 1</span><div class="right"><a class="btn-floating waves-effect waves-light blue lighten-2"><i class="material-icons">thumb_up</i></a></div>
              <div class="divider"></div>
              <div class="section">
              <p>
                  <div class="caf_times"> <%=@lunch1time%> / <%=@lunch1price%></div><br>
                  <div class="caf_rep">
            				<%=@lunch1.shift.titleize%>
            			</div>
          			<p>
          			    <%snum=0%>
          			    <%@lunch1.each do |s|%> 
                          <%if s!=@lunch1[0]%>
          				   <%snum+=s.length+3%>
          				   <%if snum>=32%>
              				<br>
              				<%snum=0%>
              				<%snum+=s.length+3%>
              			 <%else%>
              			  ,
              			 <%end%>
              		 <%else%>
              		   <%snum+=s.length+3%>
              		 <%end%>
              		 
              		 <%=s.titleize%>
          			    <%end%>
          			</p>
          			</div>
          			<div class="divider"></div>
          			<div class="section">
          			<%if@lunch1ingre!=nil%>
          			
          				<p>
          					<%@lunch1ingre.each do |e|%>
          						<%=e.titleize%>
          						<%if e!=@lunch1ingre[-1]%>
          						,
          						<%end%>
          					<%end%>
          				</p>
          			<%end%>
          			<p><%=@lunch1kcal%></p>
          			</div>
          		
              </p>
            </div>
          </div>
        </div>
        </div>
        <%end%>
		<!--점심메뉴 끝-->
      
      <!--점심2 메뉴 시작-->
		
        <%if @lunch2==[]||@lunch2[0]=="외국어로 메뉴를"%>
        
        <%else%>
        <div class="row">
        <div class="col s12 m8 offset-m2 l6 offset-l3">
          <div class="card">
            <div class="card-content  ">
              <span class="card-title">Lunch 2</span><div class="right"><a class="btn-floating waves-effect waves-light blue lighten-2"><i class="material-icons">thumb_up</i></a></div>
              <div class="divider"></div>
              <p>
                <div class="section">
                  <div class="caf_times"> <%=@lunch2time%> / <%=@lunch2price%></div><br>
                  <div class="caf_rep"><%=@lunch2.shift.titleize%></div>
                  <p>	
                  <%snum=0%>
        		    	<%@lunch2.each do |s|%> 
        			      	<%if s!=@lunch2[0]%>
        				    	<%snum+=s.length+3%>
        					    <%if snum>=32%>
        							  <br>
        							<%snum=0%>
        							<%snum+=s.length+3%>
        					 	<%else%>
        					  		,
        					 	<%end%>
        		  		 	<%else%>
        		  		   		<%snum+=s.length+3%>
        		  		 	<%end%>
        	  		 		<%=s.titleize%>
        			    <%end%>
            		</p>
            		</div>
            		<div class="divider"></div>
            		<div class="section">
            		<%if@lunch2ingre!=nil%>
        				<p>
        					<%@lunch2ingre.each do |e|%>
        						<%=e.titleize%>
        						<%if e!=@lunch2ingre[-1]%>
        						,
        						<%end%>
        					<%end%>
        				</p>
        			<%end%>
        			<p><%=@lunch2kcal%></p>
        			</div>
        			</p>
            </div>
          </div>
        </div>
      </div> 
      <%end%>
		<!--점심2 메뉴 끝-->
		
		<%if @lunchnoodle==[]%>
      
    <%else%>
    <div class="row">
        <div class="col s12 m8 offset-m2 l6 offset-l3">
          <div class="card">
            <div class="card-content  ">
              <span class="card-title">Lunch Noodle</span><div class="right"><a class="btn-floating waves-effect waves-light blue lighten-2"><i class="material-icons">thumb_up</i></a></div>
              <div class="divider"></div>
              <p>
                <div class="section">
                  <div class="caf_times"> <%=@lunchnoodletime%> / <%=@lunchnoodleprice%></div><br>
          				<div class="caf_rep"><%=@lunchnoodle.shift.titleize%></div>
          				<p>
          					<%snum=0%>
          			    <%@lunchnoodle.each do |s|%> 
                          <%if s!=@lunchnoodle[0]%>
          					   <%snum+=s.length+3%>
          					   <%if snum>=32%>
          	    				<br>
          	    				<%snum=0%>
          	    				<%snum+=s.length+3%>
          	    			 <%else%>
          	    			  ,
          	    			 <%end%>
              		 <%else%>
              		   <%snum+=s.length+3%>
              		 <%end%>
              		 
              		 <%=s.titleize%>
          			    <%end%>
          	    	</p>
                </div>
                <div class="divider"></div>
                <div class="section">
                  <%if@lunchnoodleingre!=nil%>
          				<p>
          					<%@lunchnoodleingre.each do |e|%>
          						<%=e.titleize%>
          						<%if e!=@lunchnoodleingre[-1]%>
          						,
          						<%end%>
          					<%end%>
          				</p>
          			<%end%>
          				<p><%=@lunchnoodlekcal%></p>
                </div>
              </p>
            </div>
          </div>
        </div>
      </div> 
    <%end%>
		<!--점심 면 메뉴 끝-->
		
		<!--저녁 메뉴 시작-->
		
    <%if @dinner==[]%>
        
    <%else%>
    <div class="row">
        <div class="col s12 m8 offset-m2 l6 offset-l3">
          <div class="card">
            <div class="card-content  ">
              <span class="card-title">Dinner</span><div class="right"><a class="btn-floating waves-effect waves-light blue lighten-2"><i class="material-icons">thumb_up</i></a></div>
              <div class="divider"></div>
              <p>
                <div class="section">
          				<div class="caf_times"> <%=@dinnertime%> / <%=@dinnerprice%></div><br>
          				<div class="caf_rep"><%=@dinner.shift.titleize%></div>
          				<p>
        					<%snum=0%>
        			    <%@dinner.each do |s|%> 
                        <%if s!=@dinner[0]%>
        					   <%snum+=s.length+3%>
        					   <%if snum>=32%>
        	    				<br>
        	    				<%snum=0%>
        	    				<%snum+=s.length+3%>
        	    			 <%else%>
        	    			  ,
        	    			 <%end%>
        	    		 <%else%>
        	    		   <%snum+=s.length+3%>
        	    		 <%end%>
        	    		 
        	    		 <%=s.titleize%>
        				    <%end%>
        		    	</p>
                </div>
                <div class="divider"></div>
                <div class="section">
                  <%if@dinneringre!=nil%>
        					<p>
        						<%@dinneringre.each do |e|%>
        							<%=e.titleize%>
        							<%if e!=@dinneringre[-1]%>
        							,
        							<%end%>
        						<%end%>
        					</p>
        				<%end%>
        				<p><%=@dinnerkcal%></p>
                </div>
              </p>
            </div>
          </div>
        </div>
      </div>
    <%end%>
		<!--저녁메뉴 끝-->
		
		<%if @w==0%>
			<div class="row">
        <div class="col s12 m8 offset-m2 l6 offset-l3">
          <div class="card">
            <div class="card-content  ">
              <span class="card-title">Sunday</span>
              
            </div>
          </div>
        </div>
      </div> 
		<%else%>
		<!--스낵-->
		<div class="row">
        <div class="col s12 m8 offset-m2 l6 offset-l3">
          <div class="card">
            <div class="card-content  ">
              <span class="card-title">Snack</span><div class="right"><a class="btn-floating waves-effect waves-light blue lighten-2"><i class="material-icons">thumb_up</i></a></div>
              <div class="divider"></div>
              <p>
                <div class="section"><%if @w!=0&&@w!=6%><div class="caf_times">09:00~18:40</div><%end%></div>
                <p>
      					<%snum=0%>
      					<%@snack.each do|s|%>
      					 
      					 <%if s!=@snack[0]%>
      					   <%snum+=s.length+3%>
      					   <%if snum>=32%>
      	    				<br>
      	    				<%snum=0%>
      	    				<%snum+=s.length+3%>
      	    			 <%else%>
      	    			  ,
      	    			 <%end%>
      	    		 <%else%>
      	    		   <%snum+=s.length+3%>
      	    		 <%end%>
      	    		 
      	    		 <%=s.titleize%>
      					<%end%>
      	    	</p>
              </p>
            </div>
          </div>
        </div>
      </div> 
			<%end%>
			<!--스넥끝-->
    </div>
    <!--test1 끝-->
    
    <div id="test2" class="col s12">
      <%if @flunch==[] %>
        <%else%>
        <div class="row">
        <div class="col s12 m8 offset-m2 l6 offset-l3">
          <div class="card">
            <div class="card-content  ">
              <span class="card-title">Lunch</span><div class="right"><a class="btn-floating  waves-effect waves-light blue lighten-2"><i class="material-icons">thumb_up</i></a></div>
              <div class="divider"></div>
              <p>
                <div class="section">
                  <div class="caf_times"> <%=@flunchtime%> / <%=@flunchprice%></div><br>
      						<div class="caf_rep"><%=@flunch.shift.titleize%></div>
      						<p>
    							<%snum=0%>
    							<%@flunch.each do |s|%> 
    		    			  <%if s!=@flunch[0]%>
    								   <%snum+=s.length+3%>
    								   <%if snum>=32%>
    				    				<br>
    				    				<%snum=0%>
    				    				<%snum+=s.length+3%>
    				    			 <%else%>
    				    			  ,
    				    			 <%end%>
    			    		 <%else%>
    			    		   <%snum+=s.length+3%>
    			    		 <%end%>
    			    		 
    			    		 <%=s.titleize%>
    							<%end%>
    						</p>
                </div>
                <div class="divider"></div>
                <div class="section">
                  <%if@flunchingre!=nil%>
        					<p>
        						<%@flunchingre.each do |e|%>
        							<%=e.titleize%>
        							<%if e!=@flunchingre[-1]%>
        							,
        							<%end%>
        						<%end%>
        					</p>
        					<%end%>
        						<p><%=@flunchkcal%></p>
                </div>
              </p>
            </div>
          </div>
        </div>
      </div> 
				<%end%>
		<!--점심 메뉴 끝-->
		
			<!--저녁 메뉴-->
		
	    <%if @fdinner==[] %>
	    <%else%>
	    <div class="row">
        <div class="col s12 m8 offset-m2 l6 offset-l3">
          <div class="card">
            <div class="card-content  ">
              <span class="card-title">Dinner</span><div class="right"><a class="btn-floating waves-effect waves-light blue lighten-2"><i class="material-icons">thumb_up</i></a></div>
              <div class="divider"></div>
              <p>
                <div class="section">
                  <div class="caf_times"> <%=@fdinnertime%> / <%=@fdinnerprice%></div><br>
        					<div class="caf_rep"><%=@fdinner.shift.titleize%></div>
        					<p>
      						<%snum=0%>
      				    <%@fdinner.each do |s|%> 
                    			<%if s!=@fdinner[0]%>
      							   <%snum+=s.length+3%>
      							   <%if snum>=32%>
      			    				<br>
      			    				<%snum=0%>
      			    				<%snum+=s.length+3%>
      			    			 <%else%>
      			    			  ,
      			    			 <%end%>
      			    		 <%else%>
      			    		   <%snum+=s.length+3%>
      			    		 <%end%>
      			    		 
      			    		 <%=s.titleize%>
      				    <%end%>
      					</p>
                </div>
                <div class="divider"></div>
                <div class="section">
                  <%if@fdinneringre!=nil%>
        					<p>
        						<%@fdinneringre.each do |e|%>
        							<%=e.titleize%>
        							<%if e!=@fdinneringre[-1]%>
        							,
        							<%end%>
        						<%end%>
        					</p>
        					<%end%>
        					<p><%=@fdinnerkcal%></p>
                </div>
              </p>
            </div>
          </div>
        </div>
      </div>
	    <%end%>
		<!--저녁메뉴 끝-->
    </div>
    <!--test2끝-->
    <div id="test4" class="col s12">
    <%if @menua==[] %>
		    <%else%>
		    <div class="row">
        <div class="col s12 m8 offset-m2 l6 offset-l3">
          <div class="card">
            <div class="card-content  ">
              <span class="card-title">Menu A </span><div class="right"><a class="btn-floating waves-effect waves-light blue lighten-2"><i class="material-icons">thumb_up</i></a></div>
              <div class="divider"></div>
              <p>
                <div class="section">
                  <div class="caf_times"> <%=@menuatime%> / <%=@menuaprice%></div><br>
        					<div class="caf_rep"><%=@menua.shift.titleize%></div>
        					<p>
      						<%snum=0%>
      						<%@menua.each do |s|%> 
      		    			<%if s!=@menua[0]%>
      						  <%snum+=s.length+3%>
      						  <%if snum>=32%>
      		    				<br>
      		    				<%snum=0%>
      		    				<%snum+=s.length+3%>
      		    			  <%else%>
      		    			   ,
      		    			  <%end%>
      			    		<%else%>
      			    		  <%snum+=s.length+3%>
      			    		<%end%>
      			    		 
      			    		 <%=s.titleize%>
      					  <%end%>
      					</p>
                </div>
                <div class="divider"></div>
                <div class="section">
                  <%if@menuaingre!=nil%>
        					<p>
        						<%@menuaingre.each do |e|%>
        							<%=e.titleize%>
        							<%if e!=@menuaingre[-1]%>
        							,
        							<%end%>
        						<%end%>
        					</p>
        					<%end%>
        					
        					<p><%=@menuakcal%></p>
                </div>
              </p>
            </div>
          </div>
        </div>
      </div>
		<%end%>
		<!--메뉴a 끝-->
		
		<!--메뉴b-->
		
		    <%if @menub==[] %>
		    <%else%>
		    <div class="row">
        <div class="col s12 m8 offset-m2 l6 offset-l3">
          <div class="card">
            <div class="card-content  ">
              <span class="card-title">Menu B</span>
              <div class="divider"></div>
              <p>
                <div class="section">
                  <div class="caf_times"> <%=@menubtime%> / <%=@menubprice%></div><br>
        					<div class="caf_rep"><%=@menub.shift.titleize%></div>
        					<p>
      						<%snum=0%>
      					    <%@menub.each do |s|%> 
      		                <%if s!=@menub[0]%>
      							   <%snum+=s.length+3%>
      							   <%if snum>=32%>
      			    				<br>
      			    				<%snum=0%>
      			    				<%snum+=s.length+3%>
      			    			 <%else%>
      			    			  ,
      			    			 <%end%>
      		    		 <%else%>
      		    		   <%snum+=s.length+3%>
      		    		 <%end%>
      		    		 
      		    		 <%=s.titleize%>
      					    <%end%>
      					</p>
                </div>
                <div class="divider"></div>
                <div class="section">
                  <%if@menubingre!=nil%>
        					<p>
        						<%@menubingre.each do |e|%>
        							<%=e.titleize%>
        							<%if e!=@menubingre[-1]%>
        							,
        							<%end%>
        						<%end%>
        					</p>
        					<%end%>
        					<p><%=@menubkcal%></p>
                </div>
              </p>
            </div>
          </div>
        </div>
      </div> 
		<%end%>
    <!--메뉴b 끝-->
    </div>
    <!--test4 끝-->
  </div>
    
      <div class="fixed-action-btn horizontal click-to-toggle" style="bottom: 14px; right: 14px;">
        <a class="btn-floating btn-large red">
          <%if @id==0%>
          En
          <%elsif @id==1%>
          日本
          <%elsif @id==2%>
          简写
          <%elsif @id==3%>
          繁体
          <%elsif @id==4%>
          한글
          <%end%>
        </a>
        <ul>
          <%if @id!=0%><li><a class="btn-floating teal accent-2" style="text-align:center;" href="/0/<%=@day%>">En</a></li><%end%>
          <%if @id!=4%><li><a class="btn-floating brown "style="text-align:center;" href="/4/<%=@day%>">한글</a></li><%end%>
          <%if @id!=1%><li><a class="btn-floating yellow darken-1"style="text-align:center;" href="/1/<%=@day%>">日本</a></li><%end%>
          <%if @id!=2%><li><a class="btn-floating green" style="text-align:center;" href="/2/<%=@day%>">简写</a></li><%end%>
          <%if @id!=3%><li><a class="btn-floating blue" style="text-align:center;" href="/3/<%=@day%>">繁体</a></li> <%end%>
          
        </ul>
      </div>
    <div id="modal1" class="modal">
        <div class="modal-content">
            
          <h4>
              Mondayspoon
              
          </h4>
          
          <p>email: mondayspoon@gmail.com</p>
          <div class="divider"></div>
          <div class="section">
            <h5>전진철</h5>
          </div>
          
          <div class="divider"></div>
          <div class="section">
            <h5>김소영</h5>
          </div>
          
          <div class="divider"></div>
          <div class="section">
            <h5>이상록</h5>
          </div>
          
          <div class="divider"></div>
          <div class="section">
            <h5>이승준</h5>
          </div>
          <div class="divider"></div>
          <div class="section">
            <div class="right"><a class="btn-floating btn-small red closebtn">
                  <i class="small material-icons">clear</i>
              </a></div>
          </div>
        </div>
    </div>
    
<script>
$(".button-collapse").sideNav();
$('.modal-trigger').leanModal();
  $('.modal-trigger').click(function(){
    $('.button-collapse').sideNav('hide');
    $('.modal-trigger').leanModal();
  })
  var $input =  $('#datepicker').pickadate({
    format: 'yyyymmdd',
    onSet: function(e) {
      if (e.select) {
        window.location.href="/<%=@id%>/"+picker.get();
        //alert(picker.get());
        this.close();
      } else {
        
      }
    },
    onClose: function(){
        $(document.activeElement).blur()
    }
    });
    var picker = $input.pickadate('picker');
  $(".representer").click(function(){
    picker.open();
    event.stopPropagation();
    event.preventDefault();
  })
  $(".closebtn").click(function(){
      $('#modal1').closeModal();
  })
</script>