<%content_for :link do %>
  <li><a href="/rests">AROUND HUFS</a></li>
  <li><a class="modal-trigger-map" href="#modal2">MAP</a></li>
<%end%>
<%content_for :right do%>
<ul class="right">
  <li><a><i class="material-icons representer">date_range</i></a></li>
</ul>
<%end%>
<ul class="tabs blue lighten-2">
  <li class="tab col s3"><a class="active" href="#test1">Humanities</a></li>
  <li class="tab col s3"><a href="#test2">Faculty</a></li>
  <li class="tab col s3"><a href="#test4">Sky Lounge</a></li>
</ul>
<p class="center" style="margin-top: 10px; margin-bottom: 3px;"><a class="representer"><%if @id==1||@id==2||@id==3||@id==4%><%=@y%> / <%=@m%> / <%=@d%> &nbsp;<%=@date%><%else%><%=@date%>&nbsp; <%=@d%> / <%=@m%> / <%=@y%><%end%></a><input style="display:none;" id="datepicker" type="date"/></p>
 <div class="row" id="row">
      <% @menulist.each do |menu| %>
      
          <%if menu['name']=='Breakfast'%>
              <div id="test1" class="col s12">
          <%elsif menu['name']=='Snack'%>
          
              <%if @w.to_i==0&&@ran_rest!=nil%>
                <div class="col s12 m8 offset-m2 l6 offset-l3">
                  <div class="card">
                    <div class="card-image">
                      <img class="materialboxed"<%if @ran_rest.picture!=""&&@ran_rest.picture!=nil%>src="<%=@ran_rest.picture%>"<%else%>src="https://s19.postimg.org/yqsm53ntd/always.png"<%end%> style="max-width: 100%;">
                      
                    </div>
                    <div class="card-content">
                      <span class="card-title">Try eating outside!</span>
                      <p class="center"><a href="/home/rightindex/<%=@ran_rest.id%>?index=1">How about <span style="font-weight:bold;"><%=@ran_rest.ere_menu%></span> in <span style="font-weight:bold;"><%=@ran_rest.name%></span>?</a></p>
                    </div>
                    <div class="card-action">
                      <a href="/home/index">More Restaurants</a>
                    </div>
                  </div>
                </div>
              <%elsif menu['menu']==nil%>
                <div class="col s12 m8 offset-m2 l6 offset-l3">
                  <div class="card">
                    <div class="card-content  ">
                      <span class="card-title">Wait, Not Yet!</span>
                    </div>
                  </div>
                </div>
              <%else%>
                <%cache menu_cache_key(menu) do%>
                <div class="col s12 m8 offset-m2 l6 offset-l3">
                  <div class="card">
                    <div class="card-content">
                      <span class="card-title card-time">Snack</span>
                      <div class="divider"></div>
                      <p>
                        <div class="section"><%if @w!=0&&@w!=6%><div class="caf_times">09:00~18:40</div><%end%></div>
                        <p>
              					<%snum=0%>
              					<%menu['menu'].each do|s|%>
              					 
              					 <%if s!=menu['menu'][0]%>
              					   <%snum+=s.length+3%>
              					   <%if snum>=32%>
              	    				<br>
              	    				<%snum=0%>
              	    				<%snum+=s.length+3%>
              	    			 <%else%>
              	    			  ,
              	    			 <%end%>
              	    		 <%else%>
              	    		   <%snum+=s.length+3%>
              	    		 <%end%>
              	    		 
              	    		 <%=s.titleize%>
              					<%end%>
              	    	</p>
                      </p>
                    </div>
                  </div>
                </div>
                <%end%>
              <%end%>
          <%elsif menu['name']=='Lunch'%>
            </div>
            <div id="test2" class="col s12">
          <%elsif menu['name']=='Menu A'%>
            </div>
            <div id="test4" class="col s12">
          <%end%>
          <%if (menu["price"]!=nil)||(menu["kcal"]!=nil)&&(menu['name']!='Snack')%>
            
              <div class="col s12 m8 offset-m2 l6 offset-l3">
                  <div class="card">
                    <div class="card-content">
                      <%cache menu_cache_key(menu) do%>
                      <span class="card-title card-time"><%=menu['name'].titleize%></span>
                      
                      <div class="divider"></div>
                      
                      <div class="section">
                      
                        <div class="caf_times"><%=menu['time']%> / <%=menu['price']%></div>
                      
                        <div class="caf_rep">
            				      <%=menu['menu'].shift.titleize%>
            			      </div>
            			      
            			      <p>
                				  <%snum=0%>
                		      <%menu['menu'].each do |s|%> 
                                <%if s!=menu['menu'][0]%>
                				      <%snum+=s.length+3%>
                				      <%if snum>=32%>
                    				    <br>
                    				    <%snum=0%>
                    				    <%snum+=s.length+3%>
                    			    <%else%>
                    			      ,
                    			    <%end%>
                  		        <%else%>
                  		          <%snum+=s.length+3%>
                  		        <%end%>
                  		        <%=s.titleize%>
                		      <%end%>
              			    </p>
              			  </div>
              			  <%if menu['name']=="Breakfast"||menu['name']=='dinner'||menu['name']=='Lunch 1'||menu['name']=='Lunch 2'||menu['name']=='Lunch Noodles' %>
              			  <%if menu['main']!=nil&& menu['main'].u_picture!=nil&& menu['main'].u_picture!=""%>
              			    <img src="<%=menu['main'].u_picture%>" height="150" class="u_picture">
              			  <%end%>
              			  <%end%>
              			  <div class="divider"></div>
              			  <div class="section contain">
                			  <div class="card-bottom-left">
                			    <p>
                  			    <%if menu['ingre']!=nil%>
                  					
                  						<% menu['ingre'].each do |e|%>
                  							<%=e.titleize%>
                  							<%if e!=menu['ingre'][-1]%>
                  							,
                  							<%end%>
                  						<%end%>
                  						&nbsp;
                  					<%end%>
                			    </p>
                			  </div>
                			  
                			  <div class="card-bottom-middle">
                			    <p>
                			      <%=menu['kcal']%>&nbsp;
                			    </p>
                			  </div>
                		  <%end%>
                		<%if menu['name']=="Breakfast"||menu['name']=='dinner'||menu['name']=='Lunch 1'||menu['name']=='Lunch 2'||menu['name']=='Lunch Noodles' %>	  
              			    <%if cookies[menu['main'].kname.to_sym]=="1"||session[menu['main'].kname.to_sym]=="1"%>
                          <div class="card-bottom-right like white red-text text-lighten-3" id="<%=menu['main'].id%>">
                            <i class="material-icons">favorite</i>&nbsp;&nbsp;<%=menu['main'].u_like%>
                          </div>
                        <%elsif cookies[menu['main'].kname.to_sym]=="0"||session[menu['main'].kname.to_sym]=="0"%>
                          <div class="card-bottom-right like white grey-text" id="<%=menu['main'].id%>">
                            <i class="material-icons">favorite_border</i>&nbsp;&nbsp;<%=menu['main'].u_like%>
                          </div>
                        <%elsif cookies[menu['main'].kname.to_sym]==nil||session[menu['main'].kname.to_sym]==nil%>
                          <div class="card-bottom-right like white grey-text" id="<%=menu['main'].id%>">
                            <i class="material-icons">favorite_border</i>&nbsp;&nbsp;<%=menu['main'].u_like%>
                          </div>
                        <%end%>
                	    <%end%>
                      </div>
                    </div>
                  </div>
                </div>
          <%end%>
          
          <%if menu['name']=='Menu B'%>
            </div>
          <%end%>
      <%end%>
      
      
  </div>
    
  <div class="fixed-action-btn click-to-toggle" style="bottom: 14px; right: 14px; opacity: 0.8;">
    <a class="btn-floating btn-large white">
      <i class="material-icons black-text">add</i>
    </a>
    <ul>
      <%if @id!=0%><li><a class="btn-floating red" style="text-align:center;" href="/0/<%=@day%>">EN</a></li><%end%>
      <%if @id!=4%><li><a class="btn-floating orange lighten-2 " style="text-align:center;" href="/4/<%=@day%>">한글</a></li><%end%>
      <!--<%if @id!=1%><li><a class="btn-floating yellow darken-1"style="text-align:center;" href="/1/<%=@day%>">日本</a></li><%end%>-->
      <%if @id!=2%><li><a class="btn-floating indigo" style="text-align:center;" href="/2/<%=@day%>">简写</a></li><%end%>
      <!--<%if @id!=3%><li><a class="btn-floating blue" style="text-align:center;" href="/3/<%=@day%>">繁体</a></li> <%end%>-->
      <%if @id!=6%><li><a class="btn-floating red darken-2" style="text-align:center;" href="/6/<%=@day%>">ES</a></li><%end%>
      <%if @id!=7%><li><a class="btn-floating black" style="text-align:center;" href="/7/<%=@day%>">DE</a></li><%end%>
      <%if @id!=8%><li><a class="btn-floating green" style="text-align:center;" href="/8/<%=@day%>">ITA</a></li><%end%>
      <%if @id!=9%><li><a class="btn-floating teal" style="text-align:center;" href="/9/<%=@day%>">PO</a></li><%end%>
      <%if @id!=9%><li><a class="btn-floating light-blue darken-2" style="text-align:center;" href="/10/<%=@day%>">FR</a></li><%end%>
      <%if admin_signed_in? || session[:num]!=nil&&session[:name]!=nil&&session[:level]!=nil%><li><a class="btn-floating black" style="text-align:center;" href="/refresh/<%=@day%>"><i class="material-icons">refresh</i></a></li><%end%>
    </ul>
  </div>
  
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Mondayspoon</h4>
      <p>Email: mondayspoon@gmail.com</p>
      <div class="divider"></div>
      <div class="section">
        <a>Co-founder Marketer & Operator</a>
        <h5>Jincheol Juhn</h5>
      </div>
          
      <div class="divider"></div>
      <div class="section">
        <a>Co-founder Designer</a>
        <h5>Soyoung Kim</h5>
      </div>
          
      <div class="divider"></div>
      <div class="section">
        <a>Co-founder Developer</a>
        <h5>Sangrok Lee</h5>
      </div>
          
      <div class="divider"></div>
      <div class="section">
        <a>Co-founder Marketer & Operator</a>
        <h5>Seungjoon Lee</h5>
      </div>
      
      <div class="divider"></div>
      <div class="section">
        <a>Chinese Language Translator</a>
        <h5>孙林同</h5>
      </div>
          
      <div class="divider"></div>
      <div class="section">
        <a>German Language Translator</a>
        <h5>Nane Sönnichsen</h5>
      </div>
      
      <div class="divider"></div>
      <div class="section">
        <a>Italian Language Translator</a>
        <h5>Francesca Liyanage</h5>
      </div>
      
      <div class="divider"></div>
      <div class="section">
        <a>Italian Language Translator</a>
        <h5>Arianna Colciago</h5>
      </div>
      
      <div class="divider"></div>
      <div class="section">
        <a>Portuguese Language Translator</a>
        <h5>Laura Torelli</h5>
      </div>
      
      <div class="divider"></div>
      <div class="section">
        <a>Spanish Language Translator</a>
        <h5>Maria Jose Alejandra - Valencia Ramirez</h5>
      </div>
      
      <div class="divider"></div>
      <div class="section">
        <a>French Language Translator</a>
        <h5>Charline Zammit</h5>
      </div>
      
      <div class="divider"></div>
      <div class="section">
        <div class="right">
          <a class="btn-floating btn-small white closebtn">
              <i class="small material-icons black-text">clear</i>
          </a>
        </div>
      </div>
      
      <br>
    </div>
  </div>
    
  <div id="modal2" class="modal">
    <div class="modal-content">
      <img class="responsive-img" src="https://s19.postimg.org/xpsdfz6tt/map.png">
    </div>
  </div>
<script>
  $(document).ready(function(){
    $(".button-collapse").sideNav();
    $('.modal-trigger').leanModal();
    $('.modal-trigger-map').leanModal();
    $('.materialboxed').materialbox();
    $('.modal-trigger').click(function(){
      $('.button-collapse').sideNav('hide');
      $('ul.tabs').tabs('select_tab', 'test4');
      $('.modal-trigger').leanModal();
    })
    $('.modal-trigger-map').click(function(){
      $('.button-collapse').sideNav('hide');
      $('ul.tabs').tabs('select_tab', 'test4');
      $('.modal-trigger-map').leanModal();
    })
    $(".representer").click(function(){
    picker.open();
    event.stopPropagation();
    event.preventDefault();
  })
  $(".closebtn").click(function(){
    $('ul.tabs').tabs('select_tab', 'test1');
    $('#modal1').closeModal();
  })
  $(".like").click(function(){
    var did=$(this).attr("id");
    //$(this).html(did);
    $.ajax({
      method: "get",
      url: "/like",
      dataType: "json",
      data: { id: did},
      success: function(data)  {
        if($("#"+did).hasClass("red-text")){
          $("#"+did).html("<i class='material-icons'>favorite_border</i>&nbsp;&nbsp;"+data.like);
          $("#"+did).removeClass("red-text text-lighten-3");
          $("#"+did).addClass("grey-text");
        }
        else{
          $("#"+did).html("<i class='material-icons'>favorite</i>&nbsp;&nbsp;"+data.like);
          $("#"+did).removeClass("grey-text");
          $("#"+did).addClass("red-text text-lighten-3");
        }
      }
    })
    
  })
  })
  var $input =  $('#datepicker').pickadate({
    format: 'yyyymmdd',
    onSet: function(e) {
      if (e.select) {
        window.location.href="/<%=@id%>/"+picker.get();
        //alert(picker.get());
        this.close();
      } else {
        
      }
    },
    onClose: function(){
        $(document.activeElement).blur()
    }
  });
  var picker = $input.pickadate('picker');
</script>