<%content_for :link do %>
  <li><a href="/rests" >AROUND HUFS</a></li>
  <li><a class="modal-trigger" href="#modal2" >MAP</a></li>
<%end%>
<%content_for :right do%>
<ul class="right">
  <li><a><i class="material-icons representer grey-text">date_range</i></a></li>
</ul>
<%end%>
<%content_for :tabs do %>
<ul class="tabs navi tabs-transparent home tabs-fixed-width">
  <%=tabs(@w)%>
</ul>
<%end%>
<input style="display:none;" id="datepicker" type="date"/>
<p class="center-align dateselect"><i class="material-icons adate dleft">navigate_before</i><a class="representer red-text text-lighten-2"><%if @id==1||@id==2||@id==3||@id==4%><%=@m%> / <%=@d%> &nbsp;<%=@date%><%else%><%=@date%>&nbsp; <%=@d%> / <%=@m%> <%end%></a><i class="material-icons adate dright">navigate_next</i></p>
<div class="row" id="row">
  <%if @w.to_i==0&&@ran_rest%>
  <div id="humanities" class="col s12">
    
    <div class="col s12 m8 offset-m2 l6 offset-l3">
      <div class="card">
        <div class="card-image">
          <%if @ran_rest.picture!=""&&@ran_rest.picture%>
          <div class="carousel carousel-slider" style="max-width: 100%; height: 200px;">
            <% @ran_rest.picture.split('http')[1..-1].each do |p|%>
              <a class="carousel-item"><img src="http<%=p%>" height="200"></a>
            <%end%>
          </div>
          <%else%>
          <img src="https://s19.postimg.org/yqsm53ntd/always.png" style="max-width: 100%;">
          <%end%>
        </div>
        <div class="card-content">
          <span class="card-title">Try eating outside!</span>
          <p class="center"><a href="/rests/<%=@ran_rest.id%>?index=1">How about <span style="font-weight:bold;"><%=@ran_rest.ere_menu%></span> in <span style="font-weight:bold;"><%=@ran_rest.name%></span>?</a></p>
        </div>
        <div class="card-action">
          <a href="/rests">More Restaurants</a>
        </div>
      </div>
      
      <ul class="collapsible" data-collapsible="accordion">
        <%@list.each_with_index do |var,num|%>
        
        <li>
          <div class="collapsible-header"><i class="material-icons">restaurant_menu</i><%=@dayOfWeek[num]%></div>
          <div class="collapsible-body">
            <ul class="collection">
              <%if !var.blank? %>
                <%cache list_cache_key(var) do%>
                <%var.each do |content|%>
                <li class="collection-item">
                  <div><%=content[0].titleize%>: <%if content[1]['main']%><%=content[1]['menu'][0]%><%else%>Not Yet!<%end%>
                    <div class="secondary-content alarm" data-language="<%=@hashData[content[1]['id'].to_i][2]%>" data-id="<%=content[1]['main'].id%>" data-name="<%=content[1]['menu'][0]%>">
                      <i class="material-icons grey-text">alarm</i>
                    </div>
                  </div>
                </li>
                <%end%>
                <%end%>
              <%else%>
                <li class="collection-item"><div>Sorry, Not Yet!<a href="#!" class="secondary-content"><i class="material-icons grey-text">pan_tool</i></a></div></li>
              <%end%>
            </ul>
          </div>
        </li>
        
        <%end%>
      </ul>
    </div>
  </div>
  <%else%>
    <div id="humanities" class="col s12">
      <%@menulist[0..4].each do |menu|%>
      <%if (menu["price"])||(menu["kcal"]) %>
      <div class="col s12 m8 offset-m2 l6 offset-l3">
        <div class="card">
          <%cache menu_cache_key(menu) do%>
            <%=card_top(menu)%>
            <div class="divider"></div>
    			  <%=card_img(menu)%>
    			  <%=card_middle(menu)%>
    			<%end%>
    			<%=card_bottom(menu)%>
        </div>
      </div>
      <%end%>
      <%end%>
      
      <%if @menulist[5]['menu']==nil%>
        <div class="col s12 m8 offset-m2 l6 offset-l3">
          <div class="card">
            <div class="card-content">
              <span class="card-title">Wait, Not Yet!</span>
            </div>
          </div>
        </div>
      <%else%>
        <%cache menu_cache_key(@menulist[5]) do%>
        <div class="col s12 m8 offset-m2 l6 offset-l3">
          <div class="card">
            <div class="card-content">
              <span class="card-title">Snack</span>
                <%if @w!=0&&@w!=6%><div>09:00~18:40</div><%end%>
                <br/>
                <p class="caf_menu">
      					<%=card_content(@menulist[5]['menu'])%>
      	    	  </p>
            </div>
          </div>
        </div>
        <%end%>
      <%end%>
    </div>
    
    <div id="faculty" class="col s12">
      <%@menulist[6..7].each do |menu|%>
      <%if (menu["price"])||(menu["kcal"]) %>
      <div class="col s12 m8 offset-m2 l6 offset-l3">
        <div class="card">
          <%cache menu_cache_key(menu) do%>
            <%=card_top(menu)%>
            <div class="divider"></div>
    			  <%=card_middle(menu)%>
    			<%end%>
        </div>
      </div>
      <%end%>
      <%end%>
      
    </div>
    
    <div id="skylounge" class="col s12">
      <%@menulist[8..9].each do |menu|%>
      <%if (menu["price"])||(menu["kcal"]) %>
      <div class="col s12 m8 offset-m2 l6 offset-l3">
        <div class="card">
          <%cache menu_cache_key(menu) do%>
            <%=card_top(menu)%>
            <div class="divider"></div>
    			  <%=card_middle(menu)%>
    			<%end%>
        </div>
      </div>
      <%end%>
      <%end%>
    </div>
      
  <%end%>    
  </div>
    
  <div class="fixed-action-btn click-to-toggle" style="bottom: 14px; right: 14px;">
    <a class="btn-floating btn-large scale-btn scrollUp red">
      <i class="material-icons addbtn" data-angle="0">translate</i>
    </a>
    <ul>
      <%=lan_button(@languageHash,@day)%>
      <%if admin_signed_in?%><li><a class="btn-floating black align-center" href="/refresh/<%=@day%>"><i class="material-icons">refresh</i></a></li><%end%>
    </ul>
  </div>
  
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Mondayspoon</h4>
      <p>Email: mondayspoon@gmail.com</p>
      <div class="divider"></div>
      <div class="section">
        <a>Co-founder Marketer & Operator</a>
        <h5>Jincheol Juhn</h5>
      </div>
          
      <div class="divider"></div>
      <div class="section">
        <a>Co-founder Designer</a>
        <h5>Soyoung Kim</h5>
      </div>

      <div class="divider"></div>
      <div class="section">
        <a>Co-founder Developer</a>
        <h5>Sangrok Lee</h5>
      </div>

      <div class="divider"></div>
      <div class="section">
        <a>Co-founder Marketer & Operator</a>
        <h5>Seungjoon Lee</h5>
      </div>
      
      <div class="divider"></div>
      <div class="section">
        <a>Chinese Language Translator</a>
        <h5>孙林同</h5>
      </div>
          
      <div class="divider"></div>
      <div class="section">
        <a>German Language Translator</a>
        <h5>Nane Sönnichsen</h5>
      </div>
      
      <div class="divider"></div>
      <div class="section">
        <a>Italian Language Translator</a>
        <h5>Francesca Liyanage</h5>
      </div>
      
      <div class="divider"></div>
      <div class="section">
        <a>Italian Language Translator</a>
        <h5>Arianna Colciago</h5>
      </div>
      <div class="divider"></div>
      <div class="section">
        <a>Portuguese Language Translator</a>
        <h5>Laura Torelli</h5>
      </div>
      <div class="divider"></div>
      <div class="section">
        <a>Spanish Language Translator</a>
        <h5>Maria Jose Alejandra - Valencia Ramirez</h5>
      </div>
      <div class="divider"></div>
      <div class="section">
        <a>French Language Translator</a>
        <h5>Charline Zammit</h5>
      </div>
      <br>
    </div>
  </div>
    
  <div id="modal2" class="modal">
    <div class="modal-content">
      <img class="responsive-img" src="https://s19.postimg.org/xpsdfz6tt/map.png">
    </div>
  </div>
<script>
  $(document).ready(function(){
    $('.addbtn').on('click',function(){
      var $this=$(this);
      var word= $this.html()=='translate' ? 'clear' : 'translate' 
      var angle=$this.data('angle')+90;
      $this.velocity(
        {rotateY: angle+'deg'},
        {duration: 250,
          complete: function(){
            angle+=90
            $(this).html(word).velocity({rotateY: angle+'deg'},{duration: 250})
            $this.data('angle',angle);
          }
        }
      );
    });
    
    $('.adate').on('click',function(){
      var $this=$(this);
      var para,add;
      if ($this.hasClass('dleft')){
        para=-1;
        add='<%=@time-1%>'
      }
      else{
        para=1;
        add='<%=@time+1%>'
      }
      $this.velocity(
        {translateX: 10*para+'px'},
        {duration: 200,
          complete: function(){
            $(this).velocity({translateX: '0px'},{duration: 200})
          }
        }
      );
      window.location.href="/<%=@id%>/"+add;
    });
    
    $('.carousel.carousel-slider').carousel({fullWidth: true, indicators: true});
    $(".button-collapse").sideNav();
    var tHeight=$('#humanities').height();
    var $tabs=$('ul.tabs');
    $tabs.tabs();
    $('.modal').modal({
      ready: function(){
        $('.button-collapse').sideNav('hide');
        $tabs.tabs('select_tab', 'skylounge');
      },
      complete: function(){
        $tabs.tabs('select_tab', 'humanities');
      }
    });
    
    $(".representer").click(function(){
      picker.open();
      event.stopPropagation();
      event.preventDefault();
    })
    var $ham=$("#row").hammer();
    $lists=$tabs.find('li');
    $ham.on('swipeleft',function(event){
      var next=$lists.find('a.active').parent().next().find('a').attr('href');
      if (next){
        $tabs.tabs('select_tab',next.slice(1));
      }
    })
    
    $ham.on('swiperight',function(event){
      var prev=$lists.find('a.active').parent().prev().find('a').attr('href');
      if (prev){
        $tabs.tabs('select_tab',prev.slice(1));
      }
    })
    $(".like").click(function(){
      var did=$(this).data("id");
      $.ajax({
        method: "get",
        url: "/like",
        dataType: "json",
        data: {id: did},
        context: this,
        success: function(data)  {
          $this=$(this);
          if($this.hasClass("red-text")){
            $this.velocity(
              {scaleX: 0,scaleY: 0},
              {duration: 200, complete: function(){
                $this.removeClass("red-text text-lighten-3").addClass("grey-text")
                .html("<i class='material-icons'>favorite_border</i>&nbsp;&nbsp;"+data.like)
                .velocity({scaleX: 1,scaleY: 1},{duration: 200})
              }}
            );
          }
          else{
            $this.velocity(
              {scaleX: 0,scaleY: 0},
              {duration: 200, complete: function(){
                $(this).removeClass("grey-text").addClass("red-text text-lighten-3")
                .html("<i class='material-icons'>favorite</i>&nbsp;&nbsp;"+data.like)
                .velocity({scaleX: 1,scaleY: 1},{duration: 200})
              }}
            );
          }
        }
      })
    })
    var lastScrollTop = 0;
    var $scaleBtn=$('.scale-btn');
    $scaleBtn.velocity({scaleX: 1,scaleY: 1});
    $(window).scroll(function(event){
      var st = $(this).scrollTop();
      if (st -lastScrollTop>14 &&$scaleBtn.hasClass('scrollUp')){
        $scaleBtn.velocity({scaleX: 0,scaleY: 0},{duration: 10}).removeClass('scrollUp').addClass('scrollDown');
        if($scaleBtn.parent().hasClass('active'))$scaleBtn.trigger('click').addClass('opened');
        lastScrollTop = st;
      }
      else if(st-lastScrollTop< -14&&$scaleBtn.hasClass('scrollDown')){
        var com=null;
        if($scaleBtn.hasClass('opened')){
          $scaleBtn.removeClass('opened');
          com=function(){
            $scaleBtn.trigger('click');
          };
        }
        $scaleBtn.removeClass('scrollDown').addClass('scrollUp').velocity({scaleX: 1,scaleY: 1},{duration: 10,complete: com});
        lastScrollTop = st;
      }
      if(st-lastScrollTop>14||st-lastScrollTop<-14) lastScrollTop=st;
    });
    if(window.Hybrid){
      $('.alarm').each(function(){
        var $this=$(this);
        $this.show();
        if(window.Hybrid.alarmInit($this.data("id"),$this.data('language'))=='1') $this.removeClass('grey-text').addClass('red-text') ;
      })
      $('.like').each(function(){
        var $this=$(this); 
        if (window.Hybrid.likeInit($this.data('id'))=='1'){
          if($this.hasClass('grey-text')) $this.removeClass('grey-text').addClass('red-text text-lighten-3').find('i').text('favorite');
        }
        else{
          if($this.hasClass('red-text')) $this.removeClass('red-text text-lighten-3').addClass('grey-text').find('i').text('favorite_border');
        }
      })
      $(".alarm").click(function(){
        var $this=$(this);
        if($this.hasClass('grey-text')){
          $this.removeClass('grey-text').addClass('red-text');
          window.Hybrid.alarmOn($this.data('id'),$this.data('name'),$this.data('language'));
        }
        else{
          $this.removeClass('red-text').addClass('grey-text');
          window.Hybrid.alarmOff($this.data('id'),$this.data('name'),$this.data('language'));
        }
      })
      $(".like").click(function(){
        var $this=$(this);
        if($this.hasClass('grey-text')){
          window.Hybrid.like($this.data('id'),$this.data('name'),$this.data('language'));
        }
        else{
          window.Hybrid.unlike($this.data('id'),$this.data('name'),$this.data('language'));
        }
      })
    }
  })
  var $input =  $('#datepicker').pickadate({
    format: 'yyyymmdd',
    onSet: function(e) {
      if (e.select) {
        window.location.href="/<%=@id%>/"+picker.get();
        this.close();
      }
    },
    onClose: function(){
        document.activeElement.blur()
    }
  });
  var picker = $input.pickadate('picker');
  
</script>