<%content_for :link do %>
  <li><a href="/rests" >AROUND HUFS</a></li>
  <li><a class="modal-trigger-map" href="#modal2" >MAP</a></li>
<%end%>
<%content_for :right do%>
<ul class="right">
  <li><a><i class="material-icons representer grey-text">date_range</i></a></li>
</ul>
<%end%>
<%content_for :tabs do %>
<ul class="tabs navi tabs-transparent home tabs-fixed-width">
  <%=tabs(@w)%>
</ul>
<%end%>
<input style="display:none;" id="datepicker" type="date"/>
<p class="center" style="margin-bottom: 7px; margin-top: 14px;"><a class="representer red-text text-lighten-2"><%if @id==1||@id==2||@id==3||@id==4%><%=@m%> / <%=@d%> &nbsp;<%=@date%><%else%><%=@date%>&nbsp; <%=@d%> / <%=@m%> <%end%></a></p>
<div class="row" id="row">
  
    <div id="humanities" class="col s12">
      <%@menulist[0..4].each do |menu|%>
      <%if (menu["price"]!=nil)||(menu["kcal"]!=nil) %>
      <div class="col s12 m8 offset-m2 l6 offset-l3">
        <div class="card">
          <%cache menu_cache_key(menu) do%>
            <%=card_top(menu)%>
    			  <%=card_img(menu)%>
    			  <div class="card-action contain">
      			  <%=card_bottom_left(menu)%>
      			  <%=card_bottom_middle(menu)%>
      		  <%end%>
      		  <%=card_bottom_right(menu)%>
            </div>
        </div>
      </div>
      <%end%>
      <%end%>
      
      <%if @w.to_i==0&&@ran_rest!=nil%>
      <div class="col s12 m8 offset-m2 l6 offset-l3">
        <div class="card">
          <div class="card-image">
            <%if @ran_rest.picture!=""&&@ran_rest.picture!=nil%>
            <div class="carousel carousel-slider" style="max-width: 100%; height: 200px;">
              <% @ran_rest.picture.split('http')[1..-1].each do |p|%>
                <a class="carousel-item"><img src="http<%=p%>" height="200"></a>
              <%end%>
            </div>
            <%else%>
            <img src="https://s19.postimg.org/yqsm53ntd/always.png" style="max-width: 100%;">
            <%end%>
          </div>
          <div class="card-content">
            <span class="card-title">Try eating outside!</span>
            <p class="center"><a href="/rests/<%=@ran_rest.id%>?index=1">How about <span style="font-weight:bold;"><%=@ran_rest.ere_menu%></span> in <span style="font-weight:bold;"><%=@ran_rest.name%></span>?</a></p>
          </div>
          <div class="card-action">
            <a href="/rests">More Restaurants</a>
          </div>
        </div>
      </div>
      <%elsif @menulist[5]['menu']==nil%>
        <div class="col s12 m8 offset-m2 l6 offset-l3">
          <div class="card">
            <div class="card-content">
              <span class="card-title">Wait, Not Yet!</span>
            </div>
          </div>
        </div>
      <%else%>
        <%cache menu_cache_key(@menulist[5]) do%>
        <div class="col s12 m8 offset-m2 l6 offset-l3">
          <div class="card">
            <div class="card-content">
              <span class="card-title">Snack</span>
                <%if @w!=0&&@w!=6%><div class="caf_times">09:00~18:40</div><%end%>
                <br/>
                <p>
      					<%=card_content(@menulist[5]['menu'])%>
      	    	  </p>
            </div>
          </div>
        </div>
        <%end%>
      <%end%>
    </div>
    
    <div id="faculty" class="col s12">
      <%@menulist[6..7].each do |menu|%>
      <%if (menu["price"]!=nil)||(menu["kcal"]!=nil) %>
      <div class="col s12 m8 offset-m2 l6 offset-l3">
        <div class="card">
            <%cache menu_cache_key(menu) do%>
            <%=card_top(menu)%>
    			  <div class="card-action contain">
      			  <%=card_bottom_left(menu)%>
      			  <%=card_bottom_middle(menu)%>
      		  <%end%>
            </div>
        </div>
      </div>
      <%end%>
      <%end%>
      
    </div>
    
    <div id="skylounge" class="col s12">
      <%@menulist[8..9].each do |menu|%>
      <%if (menu["price"]!=nil)||(menu["kcal"]!=nil) %>
      <div class="col s12 m8 offset-m2 l6 offset-l3">
        <div class="card">
            <%cache menu_cache_key(menu) do%>
            <%=card_top(menu)%>
    			  <div class="card-action contain">
      			  <%=card_bottom_left(menu)%>
      			  <%=card_bottom_middle(menu)%>
      		  <%end%>
            </div>
        </div>
      </div>
      <%end%>
      <%end%>
    </div>
      
      
  </div>
    
  <div class="fixed-action-btn click-to-toggle" style="bottom: 14px; right: 14px;">
    <a class="btn-floating btn-large white">
      <i class="material-icons addbtn black-text" data-angle="0">add</i>
    </a>
    <ul>
      <%=lan_button(@languageHash,@day)%>
      <%if admin_signed_in?%><li><a class="btn-floating black align-center" href="/refresh/<%=@day%>"><i class="material-icons">refresh</i></a></li><%end%>
    </ul>
  </div>
  
  <div id="modal1" class="modal">
    <div class="modal-content">
      <h4>Mondayspoon</h4>
      <p>Email: mondayspoon@gmail.com</p>
      <div class="divider"></div>
      <div class="section">
        <a>Co-founder Marketer & Operator</a>
        <h5>Jincheol Juhn</h5>
      </div>
          
      <div class="divider"></div>
      <div class="section">
        <a>Co-founder Designer</a>
        <h5>Soyoung Kim</h5>
      </div>

      <div class="divider"></div>
      <div class="section">
        <a>Co-founder Developer</a>
        <h5>Sangrok Lee</h5>
      </div>

      <div class="divider"></div>
      <div class="section">
        <a>Co-founder Marketer & Operator</a>
        <h5>Seungjoon Lee</h5>
      </div>
      
      <div class="divider"></div>
      <div class="section">
        <a>Chinese Language Translator</a>
        <h5>孙林同</h5>
      </div>
          
      <div class="divider"></div>
      <div class="section">
        <a>German Language Translator</a>
        <h5>Nane Sönnichsen</h5>
      </div>
      
      <div class="divider"></div>
      <div class="section">
        <a>Italian Language Translator</a>
        <h5>Francesca Liyanage</h5>
      </div>
      
      <div class="divider"></div>
      <div class="section">
        <a>Italian Language Translator</a>
        <h5>Arianna Colciago</h5>
      </div>
      <div class="divider"></div>
      <div class="section">
        <a>Portuguese Language Translator</a>
        <h5>Laura Torelli</h5>
      </div>
      <div class="divider"></div>
      <div class="section">
        <a>Spanish Language Translator</a>
        <h5>Maria Jose Alejandra - Valencia Ramirez</h5>
      </div>
      <div class="divider"></div>
      <div class="section">
        <a>French Language Translator</a>
        <h5>Charline Zammit</h5>
      </div>
      <br>
    </div>
  </div>
    
  <div id="modal2" class="modal">
    <div class="modal-content">
      <img class="responsive-img" src="https://s19.postimg.org/xpsdfz6tt/map.png">
    </div>
  </div>
<script>
  $(document).ready(function(){
    $('.addbtn').on('click',function(){
      var $this=$(this);
      var word= $this.html()=='add' ? 'clear' : 'add' 
      var angle=$this.data('angle')+90;
      $this.velocity(
        {rotateY: angle+'deg'},
        {duration: 250,
          complete: function(){
            angle+=90
            $(this).html(word).velocity({rotateY: angle+'deg'},{duration: 250})
            $this.data('angle',angle);
          }
        }
      );
    })
    $('.rotate').on('click',function(){
      var $this=$(this);
      var angle=$this.data('angle')==360 ? 0 : $this.data('angle')+90;
      $this.velocity(
        {rotateZ: angle+'deg'},
        {duration: 200}
      );
      console.log(angle);
      $this.data('angle',angle);
    })
    $('.carousel.carousel-slider').carousel({full_width: true, indicators: true});
    $(".button-collapse").sideNav();
    $('.modal-trigger').modal();
    $('.modal-trigger-map').modal();
    var $tabs=$('ul.tabs');
    $tabs.tabs();
    $('.modal-trigger').click(function(){
      $('.button-collapse').sideNav('hide');
      $tabs.tabs('select_tab', 'test4');
      $('.modal-trigger').modal();
    })
    $('.modal-trigger-map').click(function(){
      $('.button-collapse').sideNav('hide');
      $tabs.tabs('select_tab', 'test4');
      $('.modal-trigger-map').modal();
    })
    $(".representer").click(function(){
      picker.open();
      event.stopPropagation();
      event.preventDefault();
    })
    var $ham=$("#row").hammer();
    $lists=$tabs.find('li');
    $ham.on('swipeleft',function(event){
      var next=$lists.find('a.active').parent().next().find('a').attr('href');
      if (next){
        $tabs.tabs('select_tab',next.slice(1));
      }
    })
    
    $ham.on('swiperight',function(event){
      var prev=$lists.find('a.active').parent().prev().find('a').attr('href');
      if (prev){
        $tabs.tabs('select_tab',prev.slice(1));
      }
     })
    $(".like").click(function(){
      var did=$(this).attr("id");
      $.ajax({
        method: "get",
        url: "/like",
        dataType: "json",
        data: { id: did},
        context: this,
        success: function(data)  {
          $this=$(this);
          if($this.hasClass("red-text")){
            $this.velocity(
              {scaleX: 0,scaleY: 0},
              {duration: 200, complete: function(){
                $(this).removeClass("red-text text-lighten-3").addClass("grey-text")
                .html("<p><i class='material-icons'>favorite_border</i>&nbsp;&nbsp;"+data.like+"</p>")
                .velocity({scaleX: 1,scaleY: 1},{duration: 200})
              }}
            );
          }
          else{
            $this.velocity(
              {scaleX: 0,scaleY: 0},
              {duration: 200, complete: function(){
                $(this).removeClass("grey-text").addClass("red-text text-lighten-3")
                .html("<p><i class='material-icons'>favorite</i>&nbsp;&nbsp;"+data.like+"</p>")
                .velocity({scaleX: 1,scaleY: 1},{duration: 200})
              }}
            );
          }
        }
      })
    })
  })
  var $input =  $('#datepicker').pickadate({
    format: 'yyyymmdd',
    onSet: function(e) {
      if (e.select) {
        window.location.href="/<%=@id%>/"+picker.get();
        this.close();
      }
    },
    onClose: function(){
        document.activeElement.blur()
    }
  });
  var picker = $input.pickadate('picker');
</script>