<!DOCTYPE html>
<html>
<head>
  <title>HUFSPOON</title>
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
  
    ga('create', 'UA-78572906-1', 'auto');
    ga('send', 'pageview');
  </script>
  <meta property="og:image" content="https://s19.postimg.org/t6g4ugoyb/nail.jpg"/>
  <meta name="Author" content="MondaySpoon"/>
  <meta name="Keywords" content="korea,hufspoon,travel,journey,food,menu,translate,restaurant"/>
  <meta name="Description" content="Translated Restaurant Menu in Korea"/>
  <link rel="apple-touch-icon" href="https://s19.postimg.org/p8sv5224v/appleicon.png" />
  <%= favicon_link_tag 'favicon.ico' %>
  <%= stylesheet_link_tag    'application', media: 'all'  %>
  <%= javascript_include_tag 'application'  %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar-fixed main_nav">
  <nav class="nav-extended">
    <div class="nav-wrapper">
      <ul id="slide-out" class="side-nav">
        <%= yield :link%>
        <li><a href="/posts">Q & A</a></li>
        <li><a href="https://www.facebook.com/hufspoon/?ref=aymt_homepage_panel" >HUFSPOON PAGE</a></li>
        <li><a class="modal-trigger" href="#modal1" >MONDAYSPOON</a></li>
      </ul>
      
      <ul class="left hide-on-med-and-down">
        <%=yield :link%>
        <li><a href="/posts">Q & A</a></li>
        <li><a href="https://www.facebook.com/hufspoon/?ref=aymt_homepage_panel">HUFSPOON PAGE</a></li>
        <li><a class="modal-trigger" href="#modal1">MONDAYSPOON</a></li>
      </ul>
      
      <a href="#" data-activates="slide-out" class="button-collapse grey-text"><i class="material-icons">menu</i></a>

      <a href="/" class="brand-logo center" ><%=image_tag 'title.png',class: :title%></a>
      <%= yield :right%>
      <%if @search%>
      <ul class="right">
        <li><a><i class="material-icons opener">search</i></a></li>
      </ul>
      <%end%>
      <%= yield :tabs%>
      
    </div>
    
  </nav>
  </div>
  <%=yield :search_form%>
<%= yield %>

</body>
</html>
