<!DOCTYPE html>
<html>
  <head>
    <title><%= @title %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');
    
      ga('create', 'UA-78572906-1', 'auto');
      ga('send', 'pageview');
    </script>
    <meta name="theme-color" content="#ef9a9a"/>
    <meta property="og:type" content="website">
    <meta property="og:title" content="HUFSPOON">
    <meta property="og:description" content="외대 학식과 주변 맛집 정보를 알아보세요">
    <meta property="og:url" content="http://www.hfspn.co/">
    <meta property="og:image" content="https://s19.postimg.org/t6g4ugoyb/nail.jpg"/>
    <meta name="twitter:card" content="HUFSPOON은 외대 지역 기반 푸드 플랫폼입니다">
    <meta name="twitter:title" content="HUFSPOON">
    <meta name="twitter:description" content="외대 학식과 주변 맛집 정보를 알아보세요">
    <meta name="twitter:image" content="http://www.hfspn.co/">
    <meta name="twitter:domain" content="HUFSPOON">
    <meta name="Author" content="MondaySpoon"/>
    <meta name="Keywords" content="korea,hufspoon,hufs,food,menu,translate,restaurant"/>
    <meta name="Description" content="외대 학식과 주변 맛집 정보를 알아보세요"/>
    <link rel="apple-touch-icon" href="https://s19.postimg.org/6yflp6o0j/apple.png" />
    <%= favicon_link_tag 'favicon.ico' %>
    <%= stylesheet_link_tag    'application', media: 'all'  %>
    <%= javascript_include_tag 'application'  %>
    <%= csrf_meta_tags %>
  </head>
  <body class="around">
    <div class="navbar-fixed main">
      <nav>
        <div class="nav-wrapper">
          <%= yield :nav%>
        </div>
      </nav>
    </div>
    <%= yield :form %>
    <%= yield :tabs%>
  <%= yield %>

  </body>
</html>